<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
## 获取商铺信息
#set($epShop=$epShopService.getEpShopByEID($dataInfo.eid))
## 获取分类信息
#set($productClassifyList=$epShopService.getProductClassify($dataInfo.eid))
## 获取产品动态信息列表 1 7
#set($pageNo=$stringUtil.paseInt($dataInfo.pageNo, 1))
#set($pageSize=$stringUtil.paseInt($dataInfo.pageSize))
#set($recCount=$stringUtil.paseInt($dataInfo.recCount))
#set($pageCount=$stringUtil.paseInt($dataInfo.pageCount))
#set($firstPage=$dataInfo.firstPage)
#set($listShopProductContent=$epShopService.listShopProductContent($dataInfo.eid, $pageSize ,$pageNo))
<html>
  <head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="$!{c1wcw_dir}/css/common/common.css" />
	<link type="text/css" rel="stylesheet" href="$!{c1wcw_dir}/css/common/ccwcw.css" />
	<link type="text/css" rel="stylesheet" href="$!{c1wcw_dir}/css/shop/namic_products.css" />
    <script type="text/javascript" src="$!{c1wcw_dir}/js/common/jyeeda.js"></script> 
	<script type="text/javascript" src="$!{c1wcw_dir}/js/common/basic.js"></script>
	<script type="text/javascript" src="$!{c1wcw_dir}/js/common/dataCheck.js"></script>
	<script type="text/javascript" src="$!{c1wcw_dir}/js/common/ConCom.js"></script>
	<title>$!{epShop.getName()}_产品动态_网材网</title>

  </head>
  
 <body>
	<!-- 引入头部 -->
    #parse($shop_header_dir)
	<!-- 商铺首页主体部分 -->
	<div id="main">
    <!-- 引入左部 -->
    #parse($shop_left_dir)
    <!-- 商铺主体右部 -->
    <div class="shop_productlist">
    	<div class="shop_productlist_title_bg">
    		<div class="shop_productlist_title">产品动态</div>
    	</div>
    	<div class="namic_products_container">
	    	<!-- 列表框体 s-->
	        <div id="listbody" class="shop_productlist_content">
				#if($listShopProductContent.size()==0)
    				<div class="nofound"></div>
    			#else
    				#foreach ( $shopProductContent in $listShopProductContent )
    					<div class="namic_products_content">
            	    		<div class="namic_products_title">$!{shopProductContent.title}</div>
            	    		<div class="namic_products_text">
    							$!{shopProductContent.summary}
    							【<a class="blue_a" href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/productnamic/detail-$!{shopProductContent.id}.html">详细</a>】
    						</div>
    					</div>
					#end
				#end
			</div>
	        <div class="clear"></div>
			<div>#parse($shop_page_dir)</div>
        </div>
        	<!-- 每条列表的信息 s-->
        	<div id="templistbody" style="display:none;">
        		<div class="namic_products_content">
	    		<div class="namic_products_title">@{title}</div>
	    		<div class="namic_products_text">
	    		@{summary}
	    		【<a class="blue_a" href="#" onclick="goToCaseDetail('@{id}')">详细</a>】
	    		</div>
	    	</div>
            </div>
            <!-- 每条列表的信息 e-->
        <!-- 列表框体 e -->
        </div>
    </div>
     <div class="clearing"></div>
    </div>
    <!-- 引入尾部 -->
    #parse($shop_footer_dir)
</body>
</html>
