<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>采购商会员注册</title>
  <link type="text/css" rel="stylesheet" href="$wcw_common_site/css/common/reset.css" />
		<link type="text/css" rel="stylesheet" href="$wcw_common_site/css/common/registration_common.css" />
<link type="text/css" rel="stylesheet"href="$wcw_common_site/css/common/cg_yz.css" />
</head>

<body>
<div id="contanier">
	<!-- header star	-->
	<div class="header">
    	<a href="http://www.ccwcw.com/" class="link_back_index f_r f_14">返回首页</a>
    	<a class="logo" href="http://www.ccwcw.com/" title="网材网"></a>
    </div>
    <!-- header end	-->
    
    <!-- content star	-->
    <div class="content">
    	<h1 class="title_bg">采购商邮箱验证</h1>
        <div class="content_box">
        	<div class="content_box_center">
            	
                <div class="yz_suc_box">
                    <span class="yz_icon_tips">恭喜，邮箱验证成功！</span>
                    <div class="yz_suc_reason">
                    	<div style="padding:10px 0 10px 65px;">
                            <p>
                                <a class="yz_link icon_jinru" href="http://vip.ccwcw.com/index.jsp" >立即进入“云采购”</a>
                            </p>
                            <p>
                                <a class="yz_link icon_jinru" href="http://www.ccwcw.com/" >随便逛逛</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="content_box_bottom"></div>
        </div>
    </div>
    <!-- content end	-->
</div>
</body>
</html>
