<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>会员注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="$wcw_common_site/css/common/registration_common.css" />
	
	</head>

	<body>
<div id="contanier">
	<!-- header star	-->
	<div class="header">
    	<a href="http://www.ccwcw.com/" class="link_back_index f_r f_14">返回首页</a>
    	<a class="logo" href="http://www.ccwcw.com/" title="网材网"></a>
    </div>
    <!-- header end	-->
    
    <!-- content star	-->
    <div class="content">
    	<h1 class="title_bg">会员注册</h1>
        <div class="content_box">
        	
            <div class="content_box_center">
            	<a href="supplier-register.html" class="sel_gsy_btnbox"></a>
                <a href="purchasing-register.html" class="sel_cgy_btnbox"></a>
            </div>
            
            <div class="content_box_bottom"></div>
            
      </div>
    </div>
    <!-- content end	-->
</div>
</body>
</html>
