<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>申请云采购</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="$wcw_common_site/css/common/reset.css" />
		<link type="text/css" rel="stylesheet" href="$wcw_common_site/css/common/registration_common.css" />
		<link type="text/css" rel="stylesheet" href="$wcw_common_site/css/common/cgsjs_common.css"/>
	</head>

	<body>


     #parse($wcw_header)
<div id="top_box">
	<div class="top_banner">
    	<div class="top_info">
        	<div class="steps_sqz" title="服务申请开通中..." id="sqz_text" style="display:none;right:175px;">欢迎您：服务申请开通中...</div>
        	<a id="zcsq_bt" href="/common/zcsqb.html"  class="btn_zcsq" title="注册申请云采购">注册申请云采购</a>
            <a href="#" class="btn_zxzx" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=4008889639&eid=218808P8z8p8y8y8z8z8y&o=www.zjtcn.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  title="在线咨询">在线咨询</a>
        </div>
    </div>
</div>



<div id="contanier01" style="text-align:left;">
	<span class="shubiao_bg"></span>
    <h1 class="title_bg title_03"></h1>
    <div class="bg_01">
    	<dl class="sq_suc_box">
        	<dt><span class="icon_zcsq_suc"></span></dt>
            <dd>
            	<h2>您已注册成为网材网采购会员，并成功提交云采购服务申请！</h2>
                <div class="zcsq_suc_tips">
                	网材网客服在收到申请后将第一时间联系您！<br/>
                    您也可以根据上方联系方式直接联系客服。
                </div>
                <a href="/" class="jt_link">随便逛逛</a>
            </dd>
        </dl>
    </div>
</div>

#parse($wcw_footer)
		<script type="text/javascript" src="$wcw_common_site/js/common/common.js"></script>
		
		<script type="text/javascript"
			src="$wcw_common_site/js/common/purchasing_register.js"></script>
	</body>
</html>
