<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#set($content=$dataInfo.sunshinePurchase)
#set($registrationSuppliersList=$dataInfo.registrationSuppliersList)
#set($shortlistedSuppliersList=$dataInfo.shortlistedSuppliersList)
#set($sunshinePurchasesList=$dataInfo.sunshinePurchasesList)
<html>
	<head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>$!content.title - 阳光采购内容</title>

		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="This is my page">
		<link rel="stylesheet" type="text/css" href="$wcw_common_site/css/ygcg/index.css">
		<link rel="stylesheet" type="text/css" href="$wcw_common_site/css/ygcg/ygcg_details.css">
		<script type="text/javascript" src="$wcw_common_site/js/common/jyeeda.js"></script>
		<script language="javascript"
				src="$wcw_common_site/js/common/msg_zhcn.js"></script>
		<script language="javascript"
				src="$wcw_common_site/js/common/basic.js"></script>
		<script language="javascript"
				src="$wcw_common_site/js/common/ConCom.js"></script>
		<script type="text/javascript" src="$wcw_common_site/js/common/jq.Slide.js"></script>
		<script language="javascript" src="$wcw_common_site/js/common/common.js"></script>
		<script language="javascript" src="$wcw_common_site/js/common/dataStore.js" ></script>	
		<script type="text/javascript" src="$wcw_common_site/js/common/stuff_code.js"></script>		
	    <script language="javascript" src="$wcw_common_site/js/ygcg/ygcg_details.js" ></script>
	</head>
      
  <body>
    #parse($wcw_header)
     <div id="main">
     
       <div class="center_one">
          <div class="center_content" align="center" id="picPath">
             <img style='margin-top:6px;' alt="$!obj.getTitle()"  width='938px;' height='190px;' src='$!fileUtil.getWcwFileUrl($!content.picPath)'/>
          </div>
       </div> 
       <div class="center_two" id="info_body">
          <div class="c_t_content">
             <div class="c_t_top" align="center">
               <div class="c_t_top_left"> </div>
               <div class="c_t_top_title">
                  <div class="c_t_top_title_left"></div>
                  <div class="c_t_top_title_center"><div id="title" class="title_centent" >$!content.title</div></div>
                  <div class="c_t_top_title_right"></div>
               </div>
               <div class="c_t_top_content" id="introduction">
                     $!content.introduction
               </div>
               <div class="c_t_top_datum">
                 <div class="c_t_top_l">
	                  <div class="c_t_time">开始时间：<span style="color:#D76B00;" id="startTime">$!content.startTime</span></div>
	                  <div class="c_t_addr">举办地址：<span style="color:#D76B00;" id="holdAddr">$!content.holdAddr</span></div>
                 </div>
                 
                 <div class="c_t_top_l" style="margin-left:34px;">
	                  <div class="c_t_time">联系电话：<span style="color:#D76B00;"  id="phone">$!content.phone</span></div>
	                  <div class="c_t_addr">主办单位：<span style="color:#D76B00;" id="holdUnit">$!content.holdUnit</span></div>
                 </div>
                 
                 <div class="c_t_top_l" style="margin-left:34px;">
	                  <div class="c_t_time">采购范围：<span style="color:#D76B00;"id="purchaseRange">
                                         <a  target="_blank" class="black_a" title='$!parameterUtil.purchasingRange($!content.purchaseRange)'>$!parameterUtil.purchasingRange($!content.purchaseRange)</a></span></div>    
                 </div>
                 
                 <div class="c_t_top_l" style="margin-left:30px;">
	                  <div class="c_t_bm" onclick="regApplay($!content.id)"></div>   
                 </div>
               
               </div>
             </div>
             <div class="c_t_center">
                <div class="c_t_chyq"></div>
                <div class="c_t_ygs" align="left">
                  <div class="c_t_ygs_left">
                     <div class="c_t_gys_title">供应商:</div>
                     <div class="c_t_gys_name" id="supplierRequirement">
                               $!content.supplierRequirement
                     </div>
                  </div>
                  
                  <div class="c_t_ygs_left">
                     <div class="c_t_gys_title">采购方:</div>
                     <div class="c_t_gys_name" id="purchaserRequirement">         
                        $!content.purchaserRequirement
                     </div>
                  </div>
                </div>

             </div>
             <div class="c_t_center">
                <div class="c_t_chdw"></div>
                <div class="c_t_cg" align="left">
                  <div class="c_t_cgdw_left">
                     <div class="c_t_gys_title" style="width:58px;">采购单位:</div>
                     <div class="c_t_cgdw_name" style="width:835px;">
                       <ul id="unit_listbody">
							
	   		#foreach($obj in $sunshinePurchasesList)
                             $!parameterUtil.guestUnitSplit($!obj.guestUnit)                         #end	   				
		      </ul>
                     </div>
                  </div>
                  
                 
                </div>
<div class="clearing"></div>
             </div>
             <div class="c_t_center" >
               <div class="c_t_cgdw"></div>
               <div class="c_t_cgdw_qd" id="purchaseDetail">
                   $!content.purchaseDetail
               </div>
             </div>
             <div class="c_t_center">
               <div class="c_t_rw"></div>
                   <div class="center2_bottom_content">
			                <div class="bmgys" align="left">
			                   <div class="bmgys_title">报名供应商:</div>
			                   <div class="bmgys_name">
			                      <ul id="list_body">
			                         #foreach($obj in $registrationSuppliersList)
                                                         <li><a   target="_blank" class="black_a" href="http://www.ccwcw.com/shop/$!obj.eid">$!obj.ename</a></li>
                                                 #end
			                      </ul>
			                   </div>
			                </div>
			               
			                <div class="bmgys" style="float:right; margin-left:0px;" align="left">
			                   <div class="bmgys_title">入围供应商:</div>
			                   <div class="bmgys_name">
			                      <ul id="short_listbody">
			                         #foreach($obj in $shortlistedSuppliersList)
                                                          <li><a class="black_a"  target="_blank"  href="http://www.ccwcw.com/shop/$!obj.eid">$!obj.ename</a></li>
                                                 #end
			                      </ul>
			                   </div>
			                </div>
			               
			             </div>
             </div>
          </div>
       </div>      
       <div class="center_three">
          <img width="950px;" height="80px;" src="http://ftp.zjtcn.com/info/20110908/201109080649649.jpg"/>
       </div>
       <div class="center_four">
          	<div class="container2">
    	   <div class="container2_left">
    		<div class="xcbd">
    			<div class="ygcg_r_title" style="width:665px;">
	    			<div class="ygcg_r_title_l"></div>
	    			<div  class="ygcg_r_title_c" style="padding-left:12px;width:505px;" style="cursor:pointer;">媒体报道</div>
	    			<div class="ygcg_r_title_r"></div>
	    		</div>
	    		<div class="xcbd_container">
	    		   
	                            $!map.clear()
				    $!map.put("tpath", "/20/2004/200406/")
				    $!map.put("isTop", "1")								
				    #set($list =$infoService.searchInfoContentSummarys(1, 1, $!map, true)) 
				    #foreach($obj in $list)
                                           <div class="xcbd_container_l">
	    				<div class="xcbd_img_div">
	    					<div class="xcbd_img">
	    						<a  target="_blank" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())"><img width="207px" alt="$!obj.getSubTitle()" height="154px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())"/></a>
	    						<div class="xcbd_img_date">$!obj.getAddTime()</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="xcbd_container_r">
	    				<div class="xcbd_title">
	    					<a class="black_a"  target="_blank" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" title="$!obj.getSubTitle()" style="font-size:14px;">$!parameterUtil.truncString($!obj.getSubTitle(),38,"" )</a>
	    				</div>
	    				<div class="xcbd_text">    
	    				   $!obj.getSummary() 
	    				</div>                  
                                    #end
				                    	
				                    	 
                		
	    			
					
	    				<div class="xcbd_list">
	    					
						     $!map.clear()
				                     $!map.put("tpath", "/20/2004/200406/")
				                     $!map.put("isTop", "0")
						     $!map.put("isHot", "0")
				                    #set($list =$infoService.searchInfoContentSummarys(3, 1, $!map, true)) 
                                                       #foreach($obj in $list)
                                                        <ul>
	    						<li class="orange_p"></li>
	    						<li class="xcbd_list_text"><a  target="_blank" class="black_a" title="$!obj.getSubTitle()" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" style="font-size:14px;">$!parameterUtil.truncString($!obj.getSubTitle(),38,"" )</a></li>
	    					</ul>
                                                      #end
				                    
	    				</div>
	    		
	    		   </div>
	    		       
				 </div>	
	    	  </div>
	    	</div>
	    
    		<div class="mtbd">
    			<div class="ygcg_r_title">
	    			<div class="ygcg_r_title_l"></div>
	    			<div class="ygcg_r_title_c">活动回顾</div>
	    			<div class="ygcg_r_title_r"></div>
	    		</div>
	    		 
	    		<div class="mtbd_container">
                                
	    		        $!map.clear()
				$!map.put("tpath","/20/2004/200407/")
				#set($list = $infoService.searchInfoContentSummarys(2,1,$!map,true))
				#foreach($obj in $list)	
	    			<div class="mtbd_container_t">
	    			    
	    				<div class="mtbd_container_img">
	    					<a class="black_a"  target="_blank" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())"><img width="100px" alt="$!obj.getSubTitle()" height="84px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath()) "/></a>
	    				</div>
	    				<div class="mtbd_container_content">
	    					<div class="mtbd_container_title">
	    						<a class="black_a"  target="_blank" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" title="$!obj.getSubTitle()" style="font-size:14px;">$!parameterUtil.truncString( $!obj.getSubTitle(),20,"" )</a>
	    					</div>
	    					<div class="mtbd_container_text">$!obj.getSummary() </div>
	    				</div>
	    				
	    			</div>
	    				#end
	    		</div>
    		</div>
    	</div>      
       </div>
     </div>
     #parse($wcw_footer)
  </body>
</html>
