<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
#set($content=$dataInfo.info)
  <head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>阳光采购_项目授权书内页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="$wcw_common_site/css/ygcg/xmsqs.css">
	<script type="text/javascript" src="$wcw_common_site/js/common/jyeeda.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/common/basic.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/common/jq.Slide.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/plugins/jqueryTools.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/plugins/tabs_slideshow.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/plugins/jq_slideDown_ad.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/common/common.js"></script>
	    <script type="text/javascript" src="$wcw_common_site/js/project/project_info.js"></script>
  </head>
  <body>
     #parse($wcw_header)
     <div id="main">
     	<div class="ygcg_r_title" style="width:948px;border:1px solid #D9D9D9;margin-bottom:8px;">
	    	<div class="ygcg_r_title_l"></div>
	    	<div class="ygcg_r_title_c" style="padding-left:12px;width:790px;">项目授权书</div>
	    	<div class="ygcg_r_title_r"></div>
	    </div>
	   
	    <div class="xmsqs_div">
	    	<img rel="external nofollow" alt="$!content.title" id="sqsImg" style="height:auto;width:950px;" src="$!fileUtil.getWcwFileUrl($!content.picPath)" />
	    </div>
     </div>
    #parse($wcw_footer)
  </body>

</html>
