<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$dataInfo.province造价通_$dataInfo.province工程造价信息网 - 建设行业大数据服务平台</title>
<meta name="description" content="$dataInfo.province造价通($dataInfo.site)是$dataInfo.province最大最权威的建设工程造价信息服务平台，为您提供$dataInfo.province地区最新最全的建材信息价、市场价、参考价、供应商、材料询价服务，以及各种材料的价格行情走势、造价指数等。为您的决策提供最精准参考依据。" />
<meta name="keywords" content="$dataInfo.province造价信息网,$dataInfo.province工程造价信息网,$dataInfo.province造价网,$dataInfo.province造价通" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
 <meta property="qc:admins" content="763017474622436637571645060454" />

<link type="text/css" rel="stylesheet"
	href="http://c2.zjtcn.com/css/act/2014jiuhui/zt_jiuhui_index.css" />
</head>
<body>
	#parse($header_dir)
	<link href="$common_site/css/zjt/main/index.css" type="text/css"
		rel="stylesheet"></link>
	<!--	container	-->
	<div class="container">
		<!--	box01	-->
		<div class="clearfix">
			<!--	left-menu-box	-->
			<div class="f-l left-menu-box" id="g_one">
			    #set($html=".html")
				<ul class="left-clfl-menu">
					<li>
						<div style="top: -1px;">
							<h2>
								<i class="icon-tj"></i><a href="javascript:void(0);"
									style="text-decoration: none; cursor: text;" rel="external nofollow">土建材料</a><em></em>
							</h2>
							<p class="clfl-hot">
								<a href="/factype/c_t0101_p1.html" rel="external nofollow">钢筋</a> <a
									href="/factype/c_t0105_p1.html" rel="external nofollow">钢丝绳</a> <a
									href="/factype/c_t0413_p1.html" class="f-color-org" rel="external nofollow">砌砖</a> <a
									href="/factype/c_t3501_p1.html" rel="external nofollow">模板</a> <a
									href="/factype/c_t3401_p1.html" rel="external nofollow">密封材料</a>
							</p>
						</div>
						<div class="list-right"
							style="left: 278px; top: -1px; display: none;">
							<ul class="cailiao-fl clearfix">
								<li class="clearfix">
									<h4>
										<a href="/factype/c_t01_p1.html" rel="external nofollow">黑色及有色金属</a></h4>
										<div>
											<a href="/factype/c_t0101_p1.html" class="f-color-org" rel="external nofollow">钢筋</a>
											<a href="/factype/c_t0103_p1.html" rel="external nofollow">钢丝</a> <a
												href="/factype/c_t0105_p1.html" rel="external nofollow">钢丝绳</a> <a
												href="/factype/c_t0109_p1.html" rel="external nofollow">圆钢</a> <a
												href="/factype/c_t0111_p1.html" class="f-color-org" rel="external nofollow">方钢</a>
											<a href="/factype/c_t0119_p1.html" rel="external nofollow">槽钢</a> <a
												href="/factype/c_t0117_p1.html" rel="external nofollow">工字钢</a> <a
												href="/factype/c_t0123_p1.html" rel="external nofollow">H型钢</a> <a
												href="/factype/c_t0129_p1.html" rel="external nofollow">钢板</a> <a
												href="/factype/c_t0149_p1.html" rel="external nofollow">铝型材</a> <a
												href="/factype/c_t0153_p1.html" rel="external nofollow">铅材</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a href="/factype/c_t04_p1.html" rel="external nofollow">水泥及制品</a></h4>
										<div>
											<a href="/factype/c_t0401_p1.html" rel="external nofollow">水泥</a> <a
												href="/factype/c_t0403_p1.html" rel="external nofollow">砂</a> <a
												href="/factype/c_t0409_p1.html" class="f-color-org" rel="external nofollow">灰、粉、土等掺合填充料</a>
											<a href="/factype/c_t0413_p1.html" class="f-color-org" rel="external nofollow">砌砖</a>
											<a href="/factype/c_t0415_p1.html" rel="external nofollow">砌块</a> <a
												href="/factype/c_t0417_p1.html" rel="external nofollow">瓦</a> <a
												href="/factype/c_t0429_p1.html" rel="external nofollow">钢筋混凝土预制件</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a href="/factype/c_t80_p1.html" rel="external nofollow">砼、砂浆</a></h4>
										<div>
											<a href="/factype/c_t8001_p1.html" rel="external nofollow">水泥砂浆</a> <a
												href="/factype/c_t8005_p1.html" class="f-color-org" rel="external nofollow">混合砂浆</a>
											<a href="/factype/c_t8007_p1.html" rel="external nofollow">特种砂浆</a> <a
												href="/factype/c_t8021_p1.html" rel="external nofollow">普通混凝土</a> <a
												href="/factype/c_t8025_p1.html" class="f-color-org" rel="external nofollow">沥青混凝土</a>
											<a href="/factype/c_t8027_p1.html" rel="external nofollow">特种混凝土</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a href="/factype/c_t35_p1.html" rel="external nofollow">周转材料</a></h4>
										<div>
											<a href="/factype/c_t3501_p1.html" class="f-color-org" rel="external nofollow">模板</a>
											<a href="/factype/c_t3502_p1.html" rel="external nofollow">模板附件</a> <a
												href="/factype/c_t3513_p1.html" rel="external nofollow">手动起重工具</a> <a
												href="/factype/c_t3505_p1.html" class="f-color-org" rel="external nofollow">围护、运输类周转材料</a>
											<a href="/factype/c_t3508_p1.html" rel="external nofollow">活动板房</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a href="/factype/c_t34_p1.html" rel="external nofollow">劳保用品</a></h4>
										<div>
											<a href="/factype/c_t3401_p1.html" class="f-color-org" rel="external nofollow">密封材料</a>
											<a href="/factype/c_t3403_p1.html" rel="external nofollow">电极材料</a> <a
												href="/factype/c_t3405_p1.html" rel="external nofollow">火工材料</a> <a
												href="/factype/c_t3413_p1.html" rel="external nofollow">零星施工用料</a> <a
												href="/factype/c_t3415_p1.html" class="f-color-org" rel="external nofollow">水电、煤炭</a>
										</div>
								</li>

							</ul>
						</div>
					</li>
					<li>
						<div>
							<h2>
								<i class="icon-zs"></i><a rel="external nofollow" href="javascript:void(0);"
									style="text-decoration: none; cursor: text;">装饰材料</a><em></em>
							</h2>
							<p class="clfl-hot">
								<a rel="external nofollow" href="/factype/c_t0201_p1.html">橡胶板</a> <a rel="external nofollow"
									href="/factype/c_t0501_p1.html" class="f-color-org">原木</a> <a rel="external nofollow"
									href="/factype/c_t0603_p1.html">有色玻璃</a> <a rel="external nofollow"
									href="/factype/c_t0803_p1.html" class="f-color-org">花岗石</a> <a rel="external nofollow"
									href="/factype/c_t1001_p1.html">轻钢龙骨</a>
							</p>
						</div>
						<div class="list-right"
							style="left: 278px; top: -66px; display: none;">
							<ul class="cailiao-fl clearfix">
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t02_p1.html">橡胶、塑料及非金属</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t0201_p1.html" class="f-color-org">橡胶板</a>
											<a rel="external nofollow" href="/factype/c_t0203_p1.html">橡胶条、带 橡胶圈</a> <a rel="external nofollow"
												href="/factype/c_t0211_p1.html">塑料板</a> <a rel="external nofollow"
												href="/factype/c_t0217_p1.html">有机玻璃</a> <a rel="external nofollow"
												href="/factype/c_t0209_p1.html" class="f-color-org">塑料薄膜/布</a>
											<a rel="external nofollow" href="/factype/c_t0213_p1.html">塑料带</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t03_p1.html">五金制品</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t0301_p1.html">结构五金</a> <a rel="external nofollow"
												href="/factype/c_t0303_p1.html" class="f-color-org">门窗、幕墙五金
												家具五金</a> <a rel="external nofollow" href="/factype/c_t0307_p1.html">水暖及卫浴五金</a> <a rel="external nofollow"
												href="/factype/c_t0321_p1.html">五金配件</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t05_p1.html">木、竹基层材料及其制品</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t0501_p1.html" class="f-color-org">原木</a>
											<a rel="external nofollow" href="/factype/c_t0503_p1.html">锯材</a> <a rel="external nofollow"
												href="/factype/c_t0505_p1.html">胶合板</a> <a rel="external nofollow"
												href="/factype/c_t0507_p1.html" class="f-color-org">纤维板</a>
											<a rel="external nofollow" href="/factype/c_t0509_p1.html">细木工板</a> <a rel="external nofollow"
												href="/factype/c_t0511_p1.html">空心木板</a> <a rel="external nofollow"
												href="/factype/c_t0513_p1.html" class="f-color-org">刨花板</a>
											<a rel="external nofollow" href="/factype/c_t0515_p1.html">其它人造木板</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t06_p1.html">玻璃及玻璃制品</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t0601_p1.html">浮法玻璃</a> <a rel="external nofollow"
												href="/factype/c_t0603_p1.html" class="f-color-org">有色玻璃</a>
											<a rel="external nofollow" href="/factype/c_t0605_p1.html">钢化玻璃</a> <a rel="external nofollow"
												href="/factype/c_t0607_p1.html">夹丝玻璃</a> <a rel="external nofollow"
												href="/factype/c_t0609_p1.html">夹层玻璃</a> <a rel="external nofollow"
												href="/factype/c_t0611_p1.html" class="f-color-org">中空玻璃</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t07_p1.html">墙砖、地砖、地板、地毯类材料</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t0701_p1.html" class="f-color-org">陶瓷内墙砖</a>
											<a rel="external nofollow" href="/factype/c_t0703_p1.html">陶瓷外墙砖</a> <a rel="external nofollow"
												href="/factype/c_t0705_p1.html">陶瓷地砖</a> <a rel="external nofollow"
												href="/factype/c_t0707_p1.html" class="f-color-org">马赛克</a>
											<a rel="external nofollow" href="/factype/c_t0713_p1.html">实木地板</a> <a rel="external nofollow"
												href="/factype/c_t0725_p1.html">活动、防静电地板</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t08_p1.html">装饰石材及石材制品</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t0801_p1.html">大理石</a> <a rel="external nofollow"
												href="/factype/c_t0803_p1.html" class="f-color-org">花岗石</a>
											<a rel="external nofollow" href="/factype/c_t0805_p1.html">青石（石灰石）</a> <a rel="external nofollow"
												href="/factype/c_t0806_p1.html">砂岩</a> <a rel="external nofollow"
												href="/factype/c_t0807_p1.html" class="f-color-org">文化石</a>
											<a rel="external nofollow" href="/factype/c_t0809_p1.html">麻石</a> <a rel="external nofollow"
												href="/factype/c_t0811_p1.html">人造石板材</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t09_p1.html">墙面、天棚及屋面饰面材料</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t0901_p1.html" class="f-color-org">石膏装饰板</a>
											<a rel="external nofollow" href="/factype/c_t0903_p1.html">竹木装饰板</a> <a rel="external nofollow"
												href="/factype/c_t0927_p1.html" class="f-color-org">网格布/带</a>
											<a rel="external nofollow" href="/factype/c_t0905_p1.html">金属装饰板</a> <a rel="external nofollow"
												href="/factype/c_t0907_p1.html">矿物棉装饰板</a> <a rel="external nofollow"
												href="/factype/c_t0931_p1.html" class="f-color-org">壁纸</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t10_p1.html">龙骨、龙骨配件</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1001_p1.html" class="f-color-org">轻钢龙骨</a>
											<a rel="external nofollow" href="/factype/c_t1003_p1.html">铝合金龙骨</a> <a rel="external nofollow"
												href="/factype/c_t1005_p1.html">木龙骨</a> <a rel="external nofollow"
												href="/factype/c_t1007_p1.html">烤漆龙骨</a> <a rel="external nofollow"
												href="/factype/c_t1009_p1.html" class="f-color-org">石膏龙骨</a>
											<a rel="external nofollow" href="/factype/c_t1013_p1.html">轻钢龙骨配件</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t11_p1.html">门窗及楼梯制品</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1101_p1.html" class="f-color-org">木门窗</a>
											<a rel="external nofollow" href="/factype/c_t1103_p1.html" class="f-color-org">钢门窗</a>
											<a rel="external nofollow" href="/factype/c_t1105_p1.html">彩钢门窗</a> <a rel="external nofollow"
												href="/factype/c_t1111_p1.html">塑钢门窗</a> <a rel="external nofollow"
												href="/factype/c_t1107_p1.html">不锈钢门窗</a> <a rel="external nofollow"
												href="/factype/c_t1109_p1.html" class="f-color-org">铝合金门窗</a>
											<a rel="external nofollow" href="/factype/c_t1113_p1.html">塑料门窗</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t12_p1.html">装饰线条</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1201_p1.html" class="f-color-org">木质装饰线条</a>
											<a rel="external nofollow" href="/factype/c_t1203_p1.html">金属装饰线条</a> <a rel="external nofollow"
												href="/factype/c_t1205_p1.html">石材装饰线条</a> <a rel="external nofollow"
												href="/factype/c_t1207_p1.html" class="f-color-org">石膏装饰线条</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t13_p1.html">油漆涂料</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1301_p1.html" class="f-color-org">通用涂料</a>
											<a rel="external nofollow" href="/factype/c_t1303_p1.html">建筑涂料</a> <a rel="external nofollow"
												href="/factype/c_t1305_p1.html">功能性涂料</a> <a rel="external nofollow"
												href="/factype/c_t1307_p1.html">木器涂料</a> <a rel="external nofollow"
												href="/factype/c_t1309_p1.html" class="f-color-org">金属涂料</a>
											<a rel="external nofollow" href="/factype/c_t1311_p1.html">道路、桥梁涂料</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t14_p1.html">化工产品</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1401_p1.html" class="f-color-org">油料</a>
											<a rel="external nofollow" href="/factype/c_t1403_p1.html">燃料油</a> <a rel="external nofollow"
												href="/factype/c_t1405_p1.html" class="f-color-org">溶剂油、绝缘油</a>
											<a rel="external nofollow" href="/factype/c_t1423_p1.html">颜料</a> <a rel="external nofollow"
												href="/factype/c_t1409_p1.html">润滑脂、蜡</a> <a rel="external nofollow"
												href="/factype/c_t1437_p1.html">化工填料 胶黏剂</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t15_p1.html">绝热材料</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1501_p1.html" class="f-color-org">石棉及其制品</a>
											<a rel="external nofollow" href="/factype/c_t1505_p1.html">矿渣棉及其制品</a> <a rel="external nofollow"
												href="/factype/c_t1507_p1.html">玻璃棉及其制品</a> <a rel="external nofollow"
												href="/factype/c_t1531_p1.html" class="f-color-org">粘土质耐火砖</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t16_p1.html">抗辐射材料</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1601_p1.html" class="f-color-org">木质吸音板</a>
											<a rel="external nofollow" href="/factype/c_t1603_p1.html">复合吸音板</a> <a rel="external nofollow"
												href="/factype/c_t1605_p1.html" class="f-color-org">隔声棉</a>
											<a rel="external nofollow" href="/factype/c_t1607_p1.html">空间吸声体</a> <a rel="external nofollow"
												href="/factype/c_t1609_p1.html">表面防护材料</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_tef=_p1.html">洁具</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2101_p1.html" class="f-color-org">浴缸、浴盘</a>
											<a rel="external nofollow" href="/factype/c_t2105_p1.html">淋浴器</a> <a rel="external nofollow"
												href="/factype/c_t2107_p1.html">淋浴间、淋浴屏</a> <a rel="external nofollow"
												href="/factype/c_t2108_p1.html">蒸汽房、桑拿房</a> <a rel="external nofollow"
												href="/factype/c_t2109_p1.html" class="f-color-org">洗脸盆、洗手盆</a>
										</div>
								</li>

							</ul>
						</div>
					</li>
					<li>
						<div>
							<h2>
								<i class="icon-az"></i><a rel="external nofollow" href="javascript:void(0);"
									style="text-decoration: none; cursor: text;">安装材料</a><em></em>
							</h2>
							<p class="clfl-hot">
								<a rel="external nofollow" href="/factype/c_t1705_p1.html">不锈钢管</a> <a rel="external nofollow"
									href="/factype/c_t1803_p1.html" class="f-color-org">钢管管件</a> <a rel="external nofollow"
									href="/factype/c_t1901_p1.html">截止阀</a> <a rel="external nofollow"
									href="/factype/c_t2001_p1.html">钢制法兰</a>
							</p>
						</div>
						<div class="list-right"
							style="left: 278px; top: -131px; display: none;">
							<ul class="cailiao-fl clearfix">
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t17_p1.html">管材</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1701_p1.html">焊接钢管</a> <a rel="external nofollow"
												href="/factype/c_t1703_p1.html">镀锌钢管</a> <a rel="external nofollow"
												href="/factype/c_t1705_p1.html" class="f-color-org">不锈钢管</a>
											<a rel="external nofollow" href="/factype/c_t1707_p1.html" class="f-color-org">无缝钢管</a>
											<a rel="external nofollow" href="/factype/c_t1709_p1.html">异型钢管</a> <a rel="external nofollow"
												href="/factype/c_t1711_p1.html">铸铁管</a> <a rel="external nofollow"
												href="/factype/c_t1713_p1.html">铝管</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t18_p1.html">管件</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1801_p1.html">铸铁管件</a> <a rel="external nofollow"
												href="/factype/c_t1803_p1.html">钢管管件</a> <a rel="external nofollow"
												href="/factype/c_t1805_p1.html" class="f-color-org">不锈钢管件</a>
											<a rel="external nofollow" href="/factype/c_t1807_p1.html">铜、铜合金管件</a> <a rel="external nofollow"
												href="/factype/c_t1809_p1.html" class="f-color-org">塑料管件</a>
											<a rel="external nofollow" href="/factype/c_t1815_p1.html">管接头</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t19_p1.html">阀门</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t1901_p1.html" class="f-color-org">截止阀</a>
											<a rel="external nofollow" href="/factype/c_t1903_p1.html">闸阀</a> <a rel="external nofollow"
												href="/factype/c_t1905_p1.html" class="f-color-org">球阀</a>
											<a rel="external nofollow" href="/factype/c_t1907_p1.html">蝶阀</a> <a rel="external nofollow"
												href="/factype/c_t1909_p1.html">止回阀</a> <a rel="external nofollow"
												href="/factype/c_t1911_p1.html">安全阀</a> <a rel="external nofollow"
												href="/factype/c_t1913_p1.html" class="f-color-org">调节阀</a>
											<a rel="external nofollow" href="/factype/c_t1915_p1.html">节流阀</a> <a rel="external nofollow"
												href="/factype/c_t1917_p1.html">疏水阀</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t20_p1.html">法兰</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2001_p1.html" class="f-color-org">钢制法兰</a>
											<a rel="external nofollow" href="/factype/c_t2003_p1.html">钛法兰</a> <a rel="external nofollow"
												href="/factype/c_t2005_p1.html" class="f-color-org">铸铁法兰</a>
											<a rel="external nofollow" href="/factype/c_t2007_p1.html">铜法兰</a> <a rel="external nofollow"
												href="/factype/c_t2009_p1.html">塑料法兰</a> <a rel="external nofollow"
												href="/factype/c_t2011_p1.html">其它法兰</a> <a rel="external nofollow"
												href="/factype/c_t2021_p1.html" class="f-color-org">盲板（法兰盖）</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t22_p1.html">水暖通风</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2201_p1.html" class="f-color-org">铸铁散热器</a>
											<a rel="external nofollow" href="/factype/c_t2203_p1.html">钢制散热器</a> <a rel="external nofollow"
												href="/factype/c_t2205_p1.html" class="f-color-org">铝制散热器</a>
											<a rel="external nofollow" href="/factype/c_t2207_p1.html">铜及复合散热器</a> <a rel="external nofollow"
												href="/factype/c_t2209_p1.html">其它散热器</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t23_p1.html">消防</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2301_p1.html" class="f-color-org">灭火器</a>
											<a rel="external nofollow" href="/factype/c_t2303_p1.html">消火栓</a> <a rel="external nofollow"
												href="/factype/c_t2305_p1.html" class="f-color-org">消防水泵接合器</a>
											<a rel="external nofollow" href="/factype/c_t2307_p1.html">消防箱、柜</a> <a rel="external nofollow"
												href="/factype/c_t2313_p1.html">水流指示器</a> <a rel="external nofollow"
												href="/factype/c_t2315_p1.html" class="f-color-org">灭火剂</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t53_p1.html">水处理</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5301_p1.html" class="f-color-org">水处理成套设备</a>
											<a rel="external nofollow" href="/factype/c_t5303_p1.html">格栅类栏污设备</a> <a rel="external nofollow"
												href="/factype/c_t5305_p1.html">水软化设备</a> <a rel="external nofollow"
												href="/factype/c_t5307_p1.html" class="f-color-org">水垢处理设备</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t50_p1.html">空调</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5001_p1.html" class="f-color-org">成套通风空调装置</a>
											<a rel="external nofollow" href="/factype/c_t5003_p1.html">空调器</a> <a rel="external nofollow"
												href="/factype/c_t5006_p1.html" class="f-color-org">冷却塔</a>
											<a rel="external nofollow" href="/factype/c_t5005_p1.html">冷热水机组</a> <a rel="external nofollow"
												href="/factype/c_t5009_p1.html" class="f-color-org">压缩机</a>
											<a rel="external nofollow" href="/factype/c_t5011_p1.html">空气幕</a> <a rel="external nofollow"
												href="/factype/c_t5019_p1.html">诱导器</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t51_p1.html">泵</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5101_p1.html" class="f-color-org">离心式水泵</a>
											<a rel="external nofollow" href="/factype/c_t5105_p1.html">离心式耐腐蚀泵</a> <a rel="external nofollow"
												href="/factype/c_t5109_p1.html">轴流泵</a> <a rel="external nofollow"
												href="/factype/c_t5110_p1.html">混流泵</a> <a rel="external nofollow"
												href="/factype/c_t5111_p1.html" class="f-color-org">旋涡泵</a>
											<a rel="external nofollow" href="/factype/c_t5119_p1.html">真空泵</a> <a rel="external nofollow"
												href="/factype/c_t5139_p1.html">供水设备</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t27_p1.html">保险材料</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2701_p1.html">熔断器、熔断丝</a> <a rel="external nofollow"
												href="/factype/c_t2703_p1.html" class="f-color-org">保险器材</a>
											<a rel="external nofollow" href="/factype/c_t2705_p1.html">避雷器材</a> <a rel="external nofollow"
												href="/factype/c_t2707_p1.html" class="f-color-org">漏电保护器材</a>
											<a rel="external nofollow" href="/factype/c_t2709_p1.html">高压绝缘子</a> <a rel="external nofollow"
												href="/factype/c_t2721_p1.html">绝缘管</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t28_p1.html">电线电缆</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2801_p1.html" class="f-color-org">裸电线</a>
											<a rel="external nofollow" href="/factype/c_t2803_p1.html">电气装备用电线电缆</a> <a rel="external nofollow"
												href="/factype/c_t2805_p1.html">电磁线</a> <a rel="external nofollow"
												href="/factype/c_t2811_p1.html">电力电缆</a> <a rel="external nofollow"
												href="/factype/c_t2821_p1.html" class="f-color-org">室内电话电缆</a>
											<a rel="external nofollow" href="/factype/c_t2825_p1.html">光纤光缆</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t29_p1.html">线路敷设</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2901_p1.html" class="f-color-org">桥架</a>
											<a rel="external nofollow" href="/factype/c_t2902_p1.html">桥架连接件及附件</a> <a rel="external nofollow"
												href="/factype/c_t2909_p1.html">接线端子</a> <a rel="external nofollow"
												href="/factype/c_t2903_p1.html">线槽及其连接件</a> <a rel="external nofollow"
												href="/factype/c_t2905_p1.html" class="f-color-org">母线槽</a>
											<a rel="external nofollow" href="/factype/c_t2911_p1.html">接线盒(箱)</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t30_p1.html">弱电器材</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t3001_p1.html">安防报警、出入口控制器材</a> <a rel="external nofollow"
												href="/factype/c_t3003_p1.html" class="f-color-org">安防检查、监控显示器材</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t25_p1.html">灯具</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2501_p1.html">光源</a> <a rel="external nofollow"
												href="/factype/c_t2505_p1.html">吊灯</a> <a rel="external nofollow"
												href="/factype/c_t2507_p1.html" class="f-color-org">吸顶灯</a>
											<a rel="external nofollow" href="/factype/c_t2509_p1.html">壁灯</a> <a rel="external nofollow"
												href="/factype/c_t2511_p1.html">筒灯</a> <a rel="external nofollow"
												href="/factype/c_t2517_p1.html" class="f-color-org">射灯</a>
											<a rel="external nofollow" href="/factype/c_t2515_p1.html">格栅灯</a> <a rel="external nofollow"
												href="/factype/c_t2527_p1.html">地埋灯</a> <a rel="external nofollow"
												href="/factype/c_t2529_p1.html">草坪灯</a> <a rel="external nofollow"
												href="/factype/c_t2537_p1.html" class="f-color-org">信号灯</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t26_p1.html">开关插座</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2601_p1.html">拉线开关</a> <a rel="external nofollow"
												href="/factype/c_t2603_p1.html" class="f-color-org">扳把开关</a>
											<a rel="external nofollow" href="/factype/c_t2605_p1.html">普通面板开关</a> <a rel="external nofollow"
												href="/factype/c_t2609_p1.html" class="f-color-org">电子感应开关</a>
											<a rel="external nofollow" href="/factype/c_t2621_p1.html">按钮开关</a> <a rel="external nofollow"
												href="/factype/c_t2641_p1.html">电源插座</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t52_p1.html">锅炉</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5201_p1.html" class="f-color-org">热水器、开水炉</a>
											<a rel="external nofollow" href="/factype/c_t5203_p1.html">沸水器</a> <a rel="external nofollow"
												href="/factype/c_t5209_p1.html">采暖炉</a> <a rel="external nofollow"
												href="/factype/c_t5205_p1.html">冷热水混合器</a> <a rel="external nofollow"
												href="/factype/c_t5207_p1.html" class="f-color-org">热交换器</a>
											<a rel="external nofollow" href="/factype/c_t5221_p1.html">热水锅炉</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t24_p1.html">仪表</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t2401_p1.html" class="f-color-org">水表</a>
											<a rel="external nofollow" href="/factype/c_t2403_p1.html">燃气表</a> <a rel="external nofollow"
												href="/factype/c_t2404_p1.html" class="f-color-org">电度表</a>
											<a rel="external nofollow" href="/factype/c_t2419_p1.html">显示仪表</a> <a rel="external nofollow"
												href="/factype/c_t2413_p1.html">差压、流量仪表</a> <a rel="external nofollow"
												href="/factype/c_t2417_p1.html">物位检测仪表</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t54_p1.html">厨房设备</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5401_p1.html" class="f-color-org">冷藏、
												冷冻柜</a> <a rel="external nofollow" href="/factype/c_t5403_p1.html">展示柜、保鲜柜</a> <a rel="external nofollow"
												href="/factype/c_t5405_p1.html">餐柜</a> <a rel="external nofollow"
												href="/factype/c_t5407_p1.html">餐架</a> <a rel="external nofollow"
												href="/factype/c_t5409_p1.html">餐车</a> <a rel="external nofollow"
												href="/factype/c_t5415_p1.html" class="f-color-org">洗碗机</a>
											<a rel="external nofollow" href="/factype/c_t5417_p1.html">消毒柜</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t55_p1.html">电气设备</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5501_p1.html" class="f-color-org">成套配电装置</a>
											<a rel="external nofollow" href="/factype/c_t5503_p1.html">电气屏类</a> <a rel="external nofollow"
												href="/factype/c_t5505_p1.html">电气柜类</a> <a rel="external nofollow"
												href="/factype/c_t5507_p1.html">箱式变电站</a> <a rel="external nofollow"
												href="/factype/c_t5509_p1.html" class="f-color-org">配电箱</a>
											<a rel="external nofollow" href="/factype/c_t5513_p1.html">配电开关</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t56_p1.html">电梯</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5601_p1.html" class="f-color-org">乘客电梯</a>
											<a rel="external nofollow" href="/factype/c_t5603_p1.html">载货电梯</a> <a rel="external nofollow"
												href="/factype/c_t5605_p1.html" class="f-color-org">杂物电梯</a>
											<a rel="external nofollow" href="/factype/c_t5607_p1.html">住宅电梯</a> <a rel="external nofollow"
												href="/factype/c_t5609_p1.html" class="f-color-org">客货两用电梯</a>
											<a rel="external nofollow" href="/factype/c_t5611_p1.html">病床电梯</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t57_p1.html">安防</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5701_p1.html">入侵报警设备</a> <a rel="external nofollow"
												href="/factype/c_t5703_p1.html" class="f-color-org">出入口控制设备</a>
											<a rel="external nofollow" href="/factype/c_t5705_p1.html" class="f-color-org">安全检查设备</a>
											<a rel="external nofollow" href="/factype/c_t5707_p1.html">电视监控设备</a>
										</div>
								</li>

							</ul>
						</div>
					</li>
					<li>
						<div>
							<h2>
								<i class="icon-sz"></i><a rel="external nofollow" href="javascript:void(0);"
									style="text-decoration: none; cursor: text;">市政材料</a><em></em>
							</h2>
							<p class="clfl-hot bor-no">
								<a rel="external nofollow" href="/factype/c_t5901_p1.html">田径设施</a> <a rel="external nofollow"
									href="/factype/c_t9803_p1.html" class="f-color-org">电源</a> <a rel="external nofollow"
									href="/factype/c_t3201_p1.html">乔木</a> <a rel="external nofollow"
									href="/factype/c_t3203_p1.html" class="f-color-org">灌木</a> <a rel="external nofollow"
									href="/factype/c_t9811_p1.html">元器件测试仪</a>
							</p>
						</div>
						<div class="list-right"
							style="left: 278px; top: -125px; display: none;">
							<ul class="cailiao-fl clearfix">
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t33_p1.html">成型构件</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t3301_p1.html">钢结构制作件</a> <a rel="external nofollow"
												href="/factype/c_t3305_p1.html" class="f-color-org">铸铁及铁构件</a>
											<a rel="external nofollow" href="/factype/c_t3321_p1.html">变形缝</a> <a rel="external nofollow"
												href="/factype/c_t3307_p1.html" class="f-color-org">压力容器构件</a>
											<a rel="external nofollow" href="/factype/c_t3309_p1.html">漏斗</a> <a rel="external nofollow"
												href="/factype/c_t3311_p1.html" class="f-color-org">水箱</a>
											<a rel="external nofollow" href="/factype/c_t3313_p1.html">活动房屋</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t36_p1.html">道路交通</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t3601_p1.html">道路管井、沟、槽等构件</a> <a rel="external nofollow"
												href="/factype/c_t3603_p1.html" class="f-color-org">土工格栅</a>
											<a rel="external nofollow" href="/factype/c_t3605_p1.html">路面砖</a> <a rel="external nofollow"
												href="/factype/c_t3607_p1.html" class="f-color-org">路面天然石构件</a>
											<a rel="external nofollow" href="/factype/c_t3609_p1.html">广场砖</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t37_p1.html">轨道材料</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t3701_p1.html" class="f-color-org">钢轨</a>
											<a rel="external nofollow" href="/factype/c_t3705_p1.html">轨枕（岔枕）</a> <a rel="external nofollow"
												href="/factype/c_t3707_p1.html">道岔</a> <a rel="external nofollow"
												href="/factype/c_t3709_p1.html">轨道用辅助材料</a> <a rel="external nofollow"
												href="/factype/c_t3711_p1.html" class="f-color-org">轨道用工器具</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t58_p1.html">轨道设备</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5801_p1.html" class="f-color-org">轨道综合监控系统SCADSA</a>
											<a rel="external nofollow" href="/factype/c_t5803_p1.html">信号设备装置</a> <a rel="external nofollow"
												href="/factype/c_t5805_p1.html">防雷设备装置</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t59_p1.html">体育设施</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t5901_p1.html" class="f-color-org">田径设施</a>
											<a rel="external nofollow" href="/factype/c_t5903_p1.html">室内球馆设施</a> <a rel="external nofollow"
												href="/factype/c_t5911_p1.html" class="f-color-org">健身设施</a>
											<a rel="external nofollow" href="/factype/c_t5905_p1.html">室外球场设施</a> <a rel="external nofollow"
												href="/factype/c_t5907_p1.html">游泳馆设施</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t98_p1.html">检测仪器</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t9801_p1.html">工程测绘仪器</a> <a rel="external nofollow"
												href="/factype/c_t9803_p1.html" class="f-color-org">电源</a>
											<a rel="external nofollow" href="/factype/c_t9807_p1.html">信号发生器</a> <a rel="external nofollow"
												href="/factype/c_t9809_p1.html">功率计、场强仪</a> <a rel="external nofollow"
												href="/factype/c_t9811_p1.html" class="f-color-org">元器件测试仪</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t99_p1.html">工程台班</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t9901_p1.html">挖掘机械</a> <a rel="external nofollow"
												href="/factype/c_t9903_p1.html" class="f-color-org">桩工、钻孔机械</a>
											<a rel="external nofollow" href="/factype/c_t9919_p1.html">加工机械</a> <a rel="external nofollow"
												href="/factype/c_t9905_p1.html" class="f-color-org">混凝土及灰浆用机械</a>
											<a rel="external nofollow" href="/factype/c_t9921_p1.html">木工机械</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t31_p1.html">仿古</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t3101_p1.html" class="f-color-org">琉璃砖</a>
											<a rel="external nofollow" href="/factype/c_t3103_p1.html">琉璃瓦件</a> <a rel="external nofollow"
												href="/factype/c_t3105_p1.html" class="f-color-org">琉璃人、兽材料</a>
											<a rel="external nofollow" href="/factype/c_t3107_p1.html">琉璃其余仿古材料</a> <a rel="external nofollow"
												href="/factype/c_t3109_p1.html" class="f-color-org">粘土砖</a>
											<a rel="external nofollow" href="/factype/c_t3119_p1.html">裱糊材料</a>
										</div>
								</li>
								<li class="clearfix">
									<h4>
										<a rel="external nofollow" href="/factype/c_t32_p1.html">园林苗木</a></h4>
										<div>
											<a rel="external nofollow" href="/factype/c_t3201_p1.html" class="f-color-org">乔木</a>
											<a rel="external nofollow" href="/factype/c_t3203_p1.html">灌木</a> <a rel="external nofollow"
												href="/factype/c_t3205_p1.html">藤本植物</a> <a rel="external nofollow"
												href="/factype/c_t3207_p1.html" class="f-color-org">地被植物</a>
											<a rel="external nofollow" href="/factype/c_t3209_p1.html">棕榈科植物</a> <a rel="external nofollow"
												href="/factype/c_t3211_p1.html" class="f-color-org">观赏竹类</a>
											<a rel="external nofollow" href="/factype/c_t3213_p1.html">花卉</a> <a rel="external nofollow"
												href="/factype/c_t3217_p1.html">盆景</a>
										</div>
								</li>

							</ul>
						</div>
					</li>
				</ul>
			</div>
			<!--	left-menu-box	-->
			<!--	换灯	-->
			<div id="pic-slide" class="f-l lamp-banner-box m-l-10">
				<ul class="lamp-img-box">
					$map.clear() $!map.put("tpath", "/21/2107/210701/21070101/")
					$!map.put("province",$dataInfo.province)
					#set($list=$infoService.searchInfoContentForAdv(5, 1,$!map))
					#foreach($obj in $list)
					<li><a rel="external nofollow" href="$obj.getUrl()" target="_blank"> <img
							width="550px" height="260px" alt="$!obj.getTitle()"
							src="$!fileUtil.getFileUrl($!obj.getPicPath())" />
					</a></li> #end
				</ul>
				<a class="btn-left" href="javascript:void(0);"><i></i></a> <a
					class="btn-right" href="javascript:void(0);"><i></i></a>
			</div>
			<!--	换灯	-->
			<!--	t-right-box	-->
			<div class="f-l t-right-box m-l-10">
				<div id="fail_login_div">
					<div class="after-landing">
						<span class="tx"></span><span class="nickname">造价通欢迎您的到来！</span>
					</div>
					<div class="t-btn m-t-10">
						<a href="javascript:void(0);" rel="external nofollow"
							onclick="toLogin();return false;"><i class="icon-login"></i>登录</a><a
							rel="external nofollow" href="javascript:void(0);"
							onclick="toRegister();return false;" class="m-l-6"><i
							class="icon-reg"></i>注册</a><a rel="external nofollow"
							href="javascript:void(0);"
							onclick="toIndex_vip('http://vip.zjtcn.com/index.html');"
							class="m-l-6"><i class="icon-yun"></i>云造价</a>
					</div>
				</div>
				<div id="success_log_div" style="display: none;">
					<dl class="loginAfter">
						<dt id="member_info_div">
							<a href="javascript:void(0);"><img
								style="width: 160px; height: 160px;"
								src="../../images/main_site/touxiang_02.jpg" /></a>
						</dt>
						<dd>
							<span>欢迎登录造价通！</span>
							<ul>
								<div id="ku_count_div"></div>
							</ul>
						</dd>
					</dl>
				</div>
				<div class="infomation-right">
					<div class="make-inquiry clearfix">
						<div class="resolved-inquiry">
							#set($resolvedSum=$askService.searchAskPriceCount("isLock=0" ))
							<div class="resolved-l">
								已解决询价：<i>$!resolvedSum</i>
							</div>
							<a target="_blank" href="javascript:void(0);"
								onclick="releaseAsk();return false;" class="btn-post-inquiry"
								target="_blank">发布询价</a>
						</div>
						<div class="hot-inquiry">
							<span class="f-l">热门询价：</span>
							<p class="f-l">
								#set($cidNames=$askService.sudCidReplyCountByMonth($dataInfo.province))
								$stringUtil.subCidNameSplit($cidNames)</p>
						</div>
					</div>
					<div class="cost-cloud clearfix">
						<h1>
							<a href="javascript:void(0);"
								onclick="toIndex_vip('http://vip.zjtcn.com/index.html');"
								style="text-decoration: none;"><i>云造价</i> <em
								style="color: #999999; font-family:"微软雅黑","黑体";font-size: 13px;">会员服务
									您的专属</em> <i>云端数据库</i></a>
						</h1>
						<div class="usersnum clearfix" style="margin-left: 18px;">
							<em>已有</em>
							<div class="users">
								#set($obj=$infoService.getVirtualDataCount('1'))
								$stringUtil.vipConversion($obj)
								<!--<span>8</span>
                            <span>8</span>
                            <span class="comma"></span>
                            <span>9</span>
                            <span>8</span>
                            <span>6</span>-->
							</div>
							<em>家企业使用</em>
						</div>
						<div class="announcement">
							<i></i>
							<ul>							
							    <li><a rel="external nofollow" href="/act/act_17.html" target="_blank">第五代全新体验：智能数据库云服务</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--	t-right-box	-->
		</div>
		<!--	box01	-->
		<!--	box02	-->
		<div class="clearfix m-t-10">

			<!--	left	-->
			<div class="f-l w-840">

				<!--	service-box	-->
				<div class="service-box clearfix" id="g_two">
					<div class="information-price"
						onclick="window.location.href='/gov/c_cs_d_t_p1.html'">
						<h2>
							信息价<span>—最及时</span>
						</h2>
						<p class="txt-info">
							全国31个省信息价即时发布<br />智能分类、区域、时间多种查询方式
						</p>
						<div class="img-box">
							<i class="pic"></i>
							<p>
								<span>#set($obj=$infoService.getVirtualDataCount('2'))
									$stringUtil.numConversion($obj)</span>条<i></i>
							</p>
						</div>
					</div>
					<div class="reference-price"
						onclick="window.location.href='/ration/d_t_p1.html'">
						<h2>
							造价通参考价<span>—最权威</span>
						</h2>
						<p class="txt-info">
							来自市场最 真实可靠的 材价测算<br />背后至少 3家 市场价的支撑
						</p>
						<div class="img-box">
							<i class="pic"></i>
							<p>
								<span> #set($obj=$infoService.getVirtualDataCount('3'))
									$stringUtil.numConversion($obj) </span>条<i></i>
							</p>
						</div>
					</div>
					<div class="supplier-offer m-t-10"
						onclick="window.location.href='/fac/index.html'">
						<h2>
							市场价<span>—最准确</span>
						</h2>
						<p class="txt-info">
							全国 124类 主材的供应商面价<br />更新频率 与市场同步
						</p>
						<div class="img-box">
							<i class="pic"></i>
							<p>
								<span>#set($obj=$infoService.getVirtualDataCount('4'))
									$stringUtil.numConversion($obj)</span>条<i></i>
							</p>
						</div>
					</div>
				</div>
				<!--	service-box	-->

				<div class="m-t-10">
					$map.clear() $!map.put("tpath", "/21/2107/210701/21070112/")
					$!map.put("province",$dataInfo.province)
					#set($list=$infoService.searchInfoContentForAdv(1, 1,$!map))
					#foreach($obj in $list) <a ref="external nofollow" href="$obj.getUrl()" target="_blank">
						<img width="840px" height="100px" alt="$!obj.getTitle()"
						src="$!fileUtil.getFileUrl($!obj.getPicPath())" />
					</a> #end
				</div>


				<!--	询价圈	-->
				<div class="bor-shadow-box" style="margin-top: 12px;">
					<div class="ind-title">
						<a class="f-r more-link-1" target="_blank"
							href="http://xunjia.zjtcn.com">更多</a>
						<h3>
							<a class="til-name" href="http://xunjia.zjtcn.com"
								target="_blank"><i class="icon-xjq"></i>询价圈</a>
						</h3>
						<div class="inde-tips-pop">
							打造 <span>准确、及时、专业、权威</span> 的材料询价生态圈<em></em>
						</div>
					</div>
					<div class="inquiry-circle-box clearfix">
						<div class="left clearfix">
							<dl class="recommended clearfix">
								<dt></dt>
								<dd>
									$map.clear()
									$!map.put("province",$dataInfo.province)
									#set($obj=$infoService.getUserFallNumTop($!map))
									<div class="info-t">
										<h1>
											<span class="score"><i></i>$!obj.score</span><a
												target="_blank"
												href="http://xunjia.zjtcn.com/askInfo/$!{obj.id}.html">$!obj.name</a>
										</h1>
										<p>规格型号：$!obj.spec</p>
										<p>数量：$!{obj.amount}$!{obj.unit}</p>
										<p>报价地区：$!obj.addr</p>
									</div>
									<div class="info-b">
										<p style="color: #666666;">
											采用报价：<span class="price">$!obj.priceFac</span> 元
										</p>
										<p>
											<span class="f-r icon-useful">$!{obj.usefulNum}有用</span><i
												class="f-l" style="color: #666666;">来自</i> <span
												class="company-name" title="$!obj.supplier">$!obj.supplier</span>
										</p>
									</div>
								</dd>
							</dl>
							<ul class="inquiry-ul clearfix">
								$map.clear()
								$!map.put("province",$dataInfo.province)
								#set($list=$infoService.nowRecommendAskPrice(3,$!map)) #foreach($obj in $!list)
								<li><span class="score"><i></i>$!obj.score</span> <a
									target="_blank"
									href="http://xunjia.zjtcn.com/askInfo/$!{obj.id}.html" title="$dataInfo.province$!obj.name$!obj.spec多少钱">$dataInfo.province$!obj.name$!obj.spec多少钱</a>
								</li> #end
							</ul>
						</div>
						<div class="right">
							<span class="xjq-zst"></span>
							<div class="inquiry-statistics">
								#set($resolvedSum=$askService.searchAskPriceCount("isLock=0" ))
								#set($toSolveSum=$askService.searchAskPriceCount("isLock=0 and fromType=0 and status=2 and ValidDate > now() "))
								<div class="f-l">
									已解决询价：<span>$!resolvedSum</span><i class="icon-up"></i>
								</div>
								<div class="f-r">
									解决中询价：<span>$!toSolveSum</span><i class="icon-up"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--	询价圈	-->

				<div class="m-t-10">
					$map.clear() $!map.put("tpath", "/21/2107/210701/21070113/")
					$!map.put("province",$dataInfo.province)
					#set($list=$infoService.searchInfoContentForAdv(1, 1,$!map))
					#foreach($obj in $list) <a ref="external nofollow" href="$obj.getUrl()" target="_blank">
						<img width="840px" height="100px" alt="$!obj.getTitle()"
						src="$!fileUtil.getFileUrl($!obj.getPicPath())" />
					</a> #end
				</div>

				<!--	云知和文库	-->
				<div class="m-t-10 clearfix">
					<!--	文库	-->
					<div class="f-l library-box">
						<div class="ind-title">
							<a class="f-r more-link-1" target="_blank" href="$!{wenku_dir}">更多</a>
							<h3>
								<a class="til-name" target="_blank" href="$!{wenku_dir}"><i
									class="icon-wk"></i>文库</a>
							</h3>
							<div class="inde-tips-pop">
								与千万用户<span>分享</span> 将<span>知识</span>的力量<span>传递</span>更远<em></em>
							</div>
						</div>
						<dl class="user-hot-tj clearfix">
							$map.clear()
							$!map.put("province",$dataInfo.province)
							#set($obj=$infoService.searchWeiKuDocumentTop('huanshao',$!map))
							<dt>
								<a rel="external nofollow" target="_blank" href="http://doc.zjtcn.com/p/$!{obj.memberId}.htm"><img
									src="$!obj.logo" /></a>
							</dt>
							<dd>
								<h2>
									<a rel="external nofollow" target="_blank" href="http://doc.zjtcn.com/p/$!{obj.memberId}.htm">$!obj.nickname</a>
								</h2>
								<p>$!obj.province $!obj.city</p>
								<p>
									<span class="f-l">文档总评价</span><span class="big-star-ul-list"><i
										class="star-on"></i><i class="star-on"></i><i class="star-on"></i><i
										class="star-on"></i><i></i></span>
								</p>
							</dd>
						</dl>
						<div class="inde-tips-pop-01">
							贡献文档：<i>$!obj.uploadNum</i>篇<span class="m-l-10">总量下载：<i>$!obj.downloadNum</i>次
							</span> <em></em>
						</div>
						<ul class="library-ul">
							$map.clear()
							$!map.put("province",$dataInfo.province)
							#set($list=$infoService.searchInfoContentWidthNewDocument(4,1,$!map))
							#foreach($obj in $!list)
							#if("1" == $!obj.type)
							<li><span class="score"><i></i>300</span> 
							<a target="_blank" href="$!{wenku_dir}$!obj.url" title="$!obj.name期刊">$parameterUtil.truncString($!obj.name,36,"")期刊</a></li>
							#else
							<li><span class="score"><i></i>$!obj.score</span> 
							<a target="_blank" href="$!{wenku_dir}$!obj.url" title="$!obj.name">$parameterUtil.truncString($!obj.name,36,"")</a></li> 
							#end #end
						</ul>
					</div>
					<!--	文库	-->
					<!--	云知	-->
					<div class="f-r cloud-know">
						<div class="ind-title">
							<a class="f-r more-link-1" target="_blank"
								href="http://yunzhi.zjtcn.com">更多</a>
							<h3>
								<a class="til-name" target="_blank"
									href="http://yunzhi.zjtcn.com"><i class="icon-yunzhi"></i>云知</a>
							</h3>
							<div class="inde-tips-pop">
								汇聚行业精英 <span>解决</span>问题 共同<span>成长</span> 拓展<span>人脉</span><em></em>
							</div>
						</div>
						$map.clear()
						$!map.put("province",$dataInfo.province)
						#set($obj=$infoService.yunzhiTop('zhihuzhe123',$!map))
						<dl class="user-hot-tj clearfix">
							<dt>
								<a rel="external nofollow" target="_blank"
									href="http://yunzhi.zjtcn.com/user/$!{obj.memberId}/index.html"><img
									src="$!obj.logo" /></a>
							</dt>
							<dd>
								<h2>
									<a rel="external nofollow" target="_blank"
										href="http://yunzhi.zjtcn.com/user/$!{obj.memberId}/index.html">$!obj.nickName</a>
								</h2>
								<p>$!obj.province $!obj.city</p>
								<p class="clearfix">
									<span class="f-l">获得</span><span class="icon-in-yz"><i
										class="ic-zts"></i>$!{obj.approvalCount}赞同</span><span
										class="icon-in-yz"><i class="ic-gxs"></i>$!{obj.gratitudeCount}感谢</span><span
										class="icon-in-yz"><i class="ic-scs"></i>$!{obj.collectAnswerCount}收藏</span>
								</p>
							</dd>
						</dl>
						<div class="inde-tips-pop-01">
							在云知回答了<i>$!obj.answerQuestionCount</i>个问题<span class="m-l-10"><i>$!obj.followMeCount</i>人关注他</span>
							<em></em>
						</div>
						<dl class="hot-yz-topic clearfix">
							#set($list=$infoService.getTopicList())
							<dt>
								#foreach($obj in $!list) #if($velocityCount==1) <a
									onmouseover="topicCard(this,$obj.id)"
									href="http://yunzhi.zjtcn.com/topic/$!{obj.id}.html"
									target="_blank" class="cur"><img src="$!obj.picPath" /></a>
								#else <a onmouseover="topicCard(this,$obj.id)"
									href="http://yunzhi.zjtcn.com/topic/$!{obj.id}.html"
									target="_blank"><img src="$!obj.picPath" /></a> #end #end
							</dt>
							<dd>
								#foreach($obj in $!list) #if($velocityCount==1)
								<div id="topic_$!{obj.id}" class="yunzhi-yips-pop">
									<p>
										<span class="f-r"><i>$!{obj.followTopicUserCount}人</i>关注
											<i class="m-l-10">$!obj.answerSum</i>个交流</span><a target="_blank"
											href="http://yunzhi.zjtcn.com/topic/$!{obj.id}.html">$!obj.name</a>
									</p>
									<ul>
										#set($list1=$infoService.getQuestion($!obj.id)) #foreach($obj1 in $!list1)
										<li><a target="_blank"
											href="http://yunzhi.zjtcn.com/questions/$!{obj1.qId}.html">$!obj1.qName</a></li>
										#end
									</ul>
									<em></em>
								</div>
								#else
								<div id="topic_$!{obj.id}" class="yunzhi-yips-pop"
									style="display: none;">
									<p>
										<span class="f-r"><i>$!{obj.followTopicUserCount}人</i>关注
											<i class="m-l-10">$!obj.answerSum</i>个交流</span><a target="_blank"
											href="http://yunzhi.zjtcn.com/topic/$!{obj.id}.html">$!obj.name</a>
									</p>
									<ul>
										#set($list1=$infoService.getQuestion($!obj.id)) #foreach($obj1 in $!list1)
										<li><a target="_blank"
											href="http://yunzhi.zjtcn.com/questions/$!{obj1.qId}.html">$!obj1.qName</a></li>
										#end
									</ul>
									<em></em>
								</div>
								#end #end
							</dd>
						</dl>
					</div>
					<!--	云知	-->
				</div>
				<!--	云知和文库	-->
			</div>
			<!--	left	-->
			<!--	right	-->
			<div class="f-r w-250">
				<div class="bor-shadow-box">
					<div class="ind-title-01">
						<div class="til"><span></span>$dataInfo.province各地<strong>信息价</strong></div>
					</div>
					<ul class="gd-info-price clearfix" style="height: 174px;">
						#set($list=$infoService.getGovArea($!dataInfo.province))
						
						#foreach($obj in $!list)
						<li><a target="_blank" href="/gov/xxj$!parameterUtil.area2areacode($!obj)/">$!obj</a></li>
						#end
					</ul>
				</div>
				<div class="m-t-10">
					$map.clear() $!map.put("tpath", "/21/2107/210701/21070114/")
					$!map.put("province",$dataInfo.province)
					#set($list=$infoService.searchInfoContentForAdv(1, 1,$!map))
					#foreach($obj in $list) <a rel="external nofollow" href="$obj.getUrl()" target="_blank">
						<img width="250px" height="100px" alt="$!obj.getTitle()"
						src="$!fileUtil.getFileUrl($!obj.getPicPath())" />
					</a> #end
				</div>

				<!--	最新信息价	-->
				<div class="bor-shadow-box m-t-10">
					<div class="ind-title-01">
						<a class="f-r more-link-1" href="/gov/c_cs_d_t_p1.html">更多</a><a
							href="/gov/c_cs_d_t_p1.html" class="til"><span></span>$dataInfo.province最新<strong>信息价</strong></a>
					</div>
					<ul class="ind-info-price">
						#set($list=$govService.getGovMaterialTitles(10, 0,$dataInfo.province,"gsum")) 
						#foreach($obj in $list)
						#if($velocityCount<=3)
						<li><a
							title=" $!parameterUtil.subStringTitle($!obj.getTitle(),true)"
							href="/gov/c$!parameterUtil.area2areacode($!obj.getWebArea())_cs$!parameterUtil.area2areacode($!obj.getWebCounty())_d$!parameterUtil.getStanderDate($!obj.getIssueDate())_t_p1$html"
							target="_blank">
								$!parameterUtil.truncString($!obj.getTitle(),29, "...") </a><i
							class="icon-hot-i"></i></li> #end #if($velocityCount>3)
						<li><a
							title=" $!parameterUtil.subStringTitle($!obj.getTitle(),true)"
							href="/gov/c$!parameterUtil.area2areacode($!obj.getWebArea())_cs$!parameterUtil.area2areacode($!obj.getWebCounty())_d$!parameterUtil.getStanderDate($!obj.getIssueDate())_t_p1$html"
							target="_blank">
								$!parameterUtil.truncString($!obj.getTitle(),29, "...") </a></li> #end #end
					</ul>
				</div>
				<!--	最新信息价	-->
				<div class="m-t-10">
					$map.clear() $!map.put("tpath", "/21/2107/210701/21070115/")
					$!map.put("province",$dataInfo.province)
					#set($list=$infoService.searchInfoContentForAdv(1, 1,$!map))
					#foreach($obj in $list) <a rel="external nofollow" href="$obj.getUrl()" target="_blank">
						<img width="250px" height="100px" alt="$!obj.getTitle()"
						src="$!fileUtil.getFileUrl($!obj.getPicPath())" />
					</a> #end
				</div>

				<!--	最新参考价	-->
				<div class="bor-shadow-box m-t-10">
					<div class="ind-title-01">
						<a class="f-r more-link-1" href="/ration/d_t_p1.html">更多</a><a
							href="/ration/d_t_p1.html" class="til"><span></span>$dataInfo.province最新<strong>参考价</strong></a>
					</div>
					<ul class="ind-ref-price">
						$map.clear() 
						$!map.put("province",$dataInfo.province)
						#set($list=$materialService.search(10,0,null, $!map,"issueDate desc, subcid asc",false)) 
						#foreach($objration in $list)
					
						<li class="clearfix"><span class="f-r">$!objration.get('price')</span>
							<p style="color: #666666;"><a href="/ration/n_trend_$!{objration.get('id')}.html"  target="_blank" title="$!objration.get('name')&nbsp;$!objration.get('spec')">$!objration.get('name')&nbsp;$!objration.get('spec')</a></p>
						</li> #end
					</ul>
				</div>
				<!--	最新参考价	-->

			</div>
			<!--	right	-->
		</div>
		<!--	box02	-->

		<div class="m-t-10">
			$map.clear() $!map.put("tpath", "/21/2107/210701/21070116/")
			#set($list=$infoService.searchInfoContentForAdv(1, 1,$!map))
			$!map.put("province",$dataInfo.province)
			#foreach($obj in $list) <a rel="external nofollow" href="$obj.getUrl()" target="_blank">
				<img width="1100px" height="100px" alt="$!obj.getTitle()"
				src="$!fileUtil.getFileUrl($!obj.getPicPath())" />
			</a> #end
		</div>

		<!--	资讯中心	-->
		<div class="bor-shadow-box m-t-10 clearfix">
			<div class="ind-title">
				<a class="f-r more-link-1" target="_blank" href="$!{info_dir}">更多</a>
				<h3>
					<a class="til-name" href="$!{info_dir}" target="_blank"><i
						class="icon-zxzx"></i>资讯中心</a>
				</h3>
			</div>
			<div class="information-center">
				<div class="left clearfix">
					<ul>
						$map.clear() 
						$!map.put("province",$dataInfo.province)
						#set($list=$infoService.searchRollInfo(3,1,$!map)) #foreach($obj in $list)
						<li><a target="_blank" title="$!obj.title"
							href="$!obj.typedir" class="zx-img" rel="external nofollow"><img alt="$!obj.title"
								src="$!obj.litpic" /></a>
							<h2>
								<span class="f-r">[$!obj.createOn]</span><a title="$!obj.title"
									target="_blank" href="$!obj.typedir">$!obj.title</a>
							</h2>
							</li>
						#end
					</ul>
					<ul class="bottom-box">
						#set($list=$infoService.searchNewInfo(12,1,$!map)) #foreach($obj in $list)
						<li>
							<h2>
								<span class="f-r">[$!obj.createOn]</span><a title="$!obj.title"
									target="_blank" href="$!obj.typedir">$!obj.title</a>
							</h2>
						</li> #end
					</ul>
				</div>
				<div class="right">
					<ul class="zx-top-box clearfix">
						$map.clear() 
						$!map.put("province",$dataInfo.province)
						#set($list=$infoService.searchHotInfo(2,1,$!map)) #foreach($obj in $list)
						<li class="clearfix"><a href="$!obj.typedir" target="_blank"
							class="l-img" rel="external nofollow"><img alt="$!obj.title" src="$!obj.litpic" /></a>
							<div class="r-txt">
								$parameterUtil.truncString($!obj.description,36 ,"")<a
									title="$!obj.title" target="_blank" href="$!obj.typedir"
									class="font-bule-1">[详细]</a>
							</div></li> #end
					</ul>
					<ul class="zx-bottom-box">
						#set($list=$infoService.searchInfo(6,1,$!map)) #foreach($obj in $list)
						<li><a title="$!obj.title" target="_blank"
							href="$!obj.typedir">$!obj.title</a></li> #end
					</ul>
				</div>
			</div>
		</div>
		<!--	资讯中心	-->
		<!--	友情链接	-->
		<div class="bor-shadow-box m-t-10 clearfix">
			<h1 class="ind-title-01">友情链接</h1>
			<div class="ind-fs-link clearfix">
				$map.clear() $!map.put("tpath","/21/2107/210701/21070107/")
				$!map.put("city",$dataInfo.city)
				$!map.put("province",$dataInfo.province)
				#set($list=$infoService.searchInfoContentForAdv(100,1,$!map))
				#foreach($obj in $list) 
				#if("永道工程咨询" == $!obj.getTitle() || "广东信怡" == $!obj.getTitle() || "1" == $!obj.getTags()) 
				<a title="$!obj.getTitle()" rel="external nofollow" target="_blank" href="$!obj.getUrl()">$parameterUtil.truncString($!obj.getSubTitle(),20,"")</a>
				#else 
				<a title="$!obj.getTitle()" target="_blank"
					href="$!obj.getUrl()">$parameterUtil.truncString($!obj.getSubTitle(),20,"")</a>
				#end #end
			</div>
		</div>
		<!--	友情链接	-->
		<!--	fuwu-qk	-->
		<div class="bor-shadow-box m-t-10 clearfix">
			<div class="fuwu-qk-left clearfix">
				<dl>
					<dt>
						<i></i>新手上路
					</dt>
					<dd>
						<a rel="nofollow" href="/help/about_zjt.html"
							target="_blank">了解造价通</a> <a rel="nofollow"
							href="http://member.zjtcn.com/service/cjwt.jsp" target="_blank">常见问题</a>
						<a rel="nofollow" href="javascript:void(0);"
							onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=4008889639&eid=218808P8z8p8y8y8z8z8y&o=www.zjtcn.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');">联系客服</a>
						<a rel="nofollow" href="http://member.zjtcn.com/service/yjfk.jsp"
							target="_blank">建议反馈</a>
					</dd>
				</dl>
				<dl class="m-l-40">
					<dt>
						<i></i>服务指南
					</dt>
					<dd>
						<a rel="nofollow" href="http://member.zjtcn.com/common/personal_phone01.html" target="_blank">个人注册</a>
						<a rel="nofollow" href="http://member.zjtcn.com/common/enterprise_phone01.html" target="_blank">企业注册</a>
						<a rel="nofollow" href="javascript:void(0);"
							onclick="releaseAsk();return false;">发布询价</a> <a rel="nofollow"
							href="javascript:void(0);" onclick="chongZhi();">账户充值</a>
					</dd>
				</dl>
				<dl class="m-l-40">
					<dt>
						<i></i>会员服务
					</dt>
					<dd>
						<a rel="nofollow" href="javascript:void(0);"
							onclick="toIndex_vip('http://vip.zjtcn.com/index.html');">云造价服务</a>
						<a rel="nofollow" href="http://member.zjtcn.com/service/fwzx.jsp" target="_blank">服务咨询</a>
						<a rel="nofollow" href="/help/zsdl.html" target="_blank">圆梦计划</a>
						<a rel="nofollow" href="javascript:void(0);"
							onclick="show('kfpt_div');show('mask_layer');">开放平台</a>
					</dd>
				</dl>
				<dl class="m-l-40">
					<dt>
						<i></i>关于我们
					</dt>
					<dd>
						<a rel="nofollow" href="/help/about_zjt.html" target="_blank">关于造价通</a>
						<a rel="nofollow" href="/help/contact_us.html" target="_blank">联系我们</a>
					</dd>
				</dl>
			</div>
			<dl class="fuwu-qk-right clearfix">
				<dt>
					<span></span>
				</dt>
				<dd>
					<p>服务热线：400-888-9639</p>
					<p>传真：020-85603159；020-85603169</p>
					<p>24小时服务热线：18902308835</p>
					<p>E-mail：kf@zjtcn.com</p>
					<p>
						官方微博：<a rel="external nofollow" href="http://e.weibo.com/zjtcn2010/profile" target="_blank">新浪微博</a>
					</p>
				</dd>
			</dl>
		</div>
		<!--	fuwu-qk	-->

		<div id="guide_one" style="display: none;">
			<img src="$common_site/images/png_01.png" usemap="#Map01" border="0" />
			<map name="Map01" id="Map01">
				<area shape="rect" coords="213,88,317,129"
					href="javascript:void(0);" onclick="closeGuide();" />
				<area shape="rect" coords="333,88,430,129"
					href="javascript:void(0);" onclick="guideTwo();" />
			</map>
		</div>

		<div id="guide_two" style="display: none;">
			<img src="$common_site/images/png_02.png" usemap="#Map02" border="0" />
			<map name="Map02" id="Map02">
				<area shape="rect" coords="87,60,187,102" href="javascript:void(0);"
					onclick="closeGuide();" />
				<area shape="rect" coords="204,62,301,101"
					href="javascript:void(0);" onclick="closeGuide();" />
			</map>
		</div>
	</div>
	<!--<div id="wjzzzj_div_one"   class="left_ad_145-220" >
   <a class="btn-close-qr" title="关闭" onclick="hide('wjzzzj_div_one');hide('wjzzzj_div_two');" href="javascript:void(0);"><img style="padding:0;position: absolute; right: -1px;top: 5px;" src="http://c2.zjtcn.com/images/zjt/x.jpg"  /></a>
   <a href="http://www.jszzzj.com" target="_blank"><img src="http://c2.zjtcn.com/images/zjt/wjzzzj.jpg"  /></a>
</div>

<div id="wjzzzj_div_two"  class="left_ad_145-2201" >
   <a  title="关闭" onclick="hide('wjzzzj_div_one');hide('wjzzzj_div_two');" href="javascript:void(0);"><img style="padding:0;position: absolute; left: 5px;top: 5px;"  src="http://c2.zjtcn.com/images/zjt/x.jpg"  /></a>
   <a href="http://www.jszzzj.com" target="_blank"><img src="http://c2.zjtcn.com/images/zjt/wjzzzj.jpg"  /></a>
</div>-->
	<!--	container	-->
	<div class="pop_tips_free_reg" id="guideDialog" style="display: none;">
		<a href="javascript:void(0);" class="icon_close" title="关闭"
			onclick="closeGuideDialog();return false;"></a>
		<div class="info">
			<h1>欢迎您登录造价通，您可以立即使用积分免费享受造价通的各项服务 ：</h1>
			<p>
				1. 查价服务<a href="javascript:void(0);">(点击查看)</a>
			</p>
			<p>
				2. 询价服务<a href="javascript:void(0);">(点击询价)</a>
			</p>
		</div>
		<p align="center">
			<a href="javascript:void(0);" class="btn_close"
				onclick="closeGuideDialog();return false;">关闭</a>
		</p>
	</div>
	<!--	开通云造价服务	-->
	<div id="ask_vip_service" class="Module_pop"
		style="width: 320px; top: 380px; height: 150px; margin-left: -185px; margin-top: -100px; display: none; z-index: 1100; top: 380px;">
		<div class="tm_c">ddd</div>
		<dl class="content" style="width: 270px; height: 120px;">
			<dt>
				<span class="i_tips i_jg"></span>
			</dt>
			<dd class="tips_box">
				<h2 style="margin-bottom: 15px;">抱歉，您当前暂无询价的权限！</h2>
				<p style="color: #888;">联系客服开通云造价服务即可询价</p>
				<a target="_blank" class="link_b_01"
					href="/common/reg_cloud_ pro.html">云造价介绍</a>
				<p>
					<a class="btn_sure" href="javascript:void(0)"
						onclick="hide('ask_vip_service');hide('mask_layer');hide('noteWin');return false;"
						style="margin: 10px 0 0 70px;">关闭</a>
				</p>
			</dd>
		</dl>
	</div>

	<div id="J_Feedback" class="feedback" style="display: block;">
		<a rel="external nofollow" class="btn" target="_blank" style="text-decoration: none;"
			href="http://member.zjtcn.com/service/yjfk.jsp"> <img
			src="http://c2.zjtcn.com/images/zjt/img_yjfk_38x38.png" /> <span>我要反馈</span>
		</a>
	</div>

	#parse($login_tip) #parse($footer_dir)

	<div id="flash_mask_div"
		style="position: fixed; width: 1100px; height: 400px; top: 380px; left: 50%; margin-left: -550px; margin-top: -208px; background: #fff; filter: alpha(opacity = 80); opacity: 0.8; -moz-opacity: 0.8; opacity: 0.8; z-index: 777; display: none;"></div>
	<div id="flash_div"
		style="cursor: pointer; position: fixed; width: 1100px; height: 400px; top: 380px; left: 50%; margin-left: -550px; margin-top: -208px; visibility: visible; z-index: 999; display: none;">
		<button onmousedown="window.open('/act/act_17.html');"
			style="border: none; position: absolute; left: 0px; cursor: hand; cursor: pointer; top: 0px; width: 1100px; height: 400px; z-index: 888;">
			<param name="wmode" value="transparent" />
			<embed
				style="position:absolute;left:0px;top:0px;width:1100px;height:400px;z-index:888;"
				name="_iCast3_flash_main_193377_1632" wmode="transparent"
				salign="undefined" scale="undefined" quality="high" loop="false"
				menu="false" allownetworking="all" swliveconnect="true"
				allowscriptaccess="always" play="true"
				type="application/x-shockwave-flash"
				pluginspage="http://www.macromedia.com/go/getflashplayer"
				src="$common_site/images/1.swf" />
		</button>
		<a style="position: absolute; right: 0px; top: 0px; z-index: 9999;"
			href="javascript:void(0);"
			onclick="hide('flash_div');hide('mask_layer');hide('flash_mask_div');">
			<img src="$common_site/images/image-63.jpg" />
		</a>

	</div>

	<script type="text/javascript"
		src="$common_site/js/common/easySlider1.5.js"></script>
	<script type="text/javascript" src="$common_site/js/common/jq.Slide.js"></script>
	<script type="text/javascript"
		src="$common_site/js/act/2014jiuhui/countdown.js"></script>
	<script type="text/javascript" src="http://c2.zjtcn.com/js/zjt/commonJS/city_site.js"></script>
    <script type="text/javascript" src="http://c2.zjtcn.com/js/common/site_select.js"></script>
	<script type="text/javascript" src="$common_site/js/zjt/index/tab.js"></script>
	<script type="text/javascript" src="$common_site/js/zjt/index/index.js"></script>



	<script type="text/javascript">
		kfguin = "4008889639";
		eid = "218808P8z8p8y8y8z8z8y";
		ws = "www.zjtcn.com";
		type = "0";
		wpadomain = "b";
	</script>
	<script type="text/javascript"
		src="http://c2.zjtcn.com/js/common/imqqkf.js?t=110922"></script>
	<script type="text/javascript">
		
	</script>

    <div style="display:none"><script src="http://s19.cnzz.com/z_stat.php?id=1253062838&web_id=1253062838" language="JavaScript"></script></div>
    
</body>
</html>
