<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>中国建设行业大数据盛典暨---2014行业先锋跨年酒会</title>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/member/reset.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/member/global.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/member/site_nav.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/member/footer.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/storePage/storePage.css"/>
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/reset.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/zt_yjtg.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/js/plungins/zoompic/css/zoompic.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/2014jiuhui/reset.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/2014jiuhui/zt_jiuhui_common.css" />
<style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script language="javascript" src="http://c2.zjtcn.com/js/common/jyeeda.js"></script>
<script language="javascript" src="http://c2.zjtcn.com/js/common/basic.js"></script>
<script language="javascript" src="http://c2.zjtcn.com/js/common/ConCom.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/common/common.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/common/dataStore.js"></script>
<script language="javascript" src="http://c2.zjtcn.com/js/common/jquery.cookie.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/common/msg_zhcn.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/common/storePage.js"></script>
</head>

<body>
<div class="header-box">
    <div class="djs-box" id="time_countDown" style="display:none;"><span id="time_num_1">1</span><span class="m-l-5" id="time_num_2">8</span><span class="times m-l-5" id="countDown_type">天</span></div>
    <div class="djs-box01" style="display:none;" id="time_out">跨年酒会正在狂欢进行中...</div>
    <div class="djs-box01" style="display:none;" id="time_over">中国建设行业大数据盛典圆满成功</div>
    <ul class="zxxw-list">
        <li><a href="http://gd.qq.com/a/20140114/012381.htm" target="_blank">腾讯大粤网：中国建设行业大数据盛典成功举办</a></li>
        <li><a href="http://news.dayoo.com/finance/201401/14/54401_34528555.htm" target="_blank">大洋网：“梦想·激情·启航”：揭开2014建设行业大数据序幕</a></li>
        <li><a href="http://news.sohu.com/20140115/n393561182.shtml?qq-pf-to=pcqq.c2c" target="_blank">搜狐：“梦想激情启航”—揭开2014建设行业大数据序幕</a></li>
        <li><a href="http://gd.sina.com.cn/news/b/2014-01-03/163569174.html" target="_blank">新浪网：中国建设行业大数据盛典将于12日在广州举办</a></li>
        <li><a href="http://gd.qq.com/a/20140103/013628.htm" target="_blank">腾讯大粤网：中国建设行业大数据盛典将于12日举行</a></li>
        <li><a href="http://house.ycwb.com/2014-01/03/content_5801945.htm" target="_blank">金羊网：中国建设行业大数据盛典将于12日在广州香格里拉大酒店举办</a></li>
        <li><a href="http://tx.southcn.com/roll/content/2014-01/03/content_89052052.htm" target="_blank">南方网：建设行业大数据盛典即将登场</a></li>
        <li><a href="http://news.dayoo.com/finance/201401/03/54401_34335535.htm" target="_blank">大洋网：建设行业大数据盛典即将登场</a></li>
        <li><a href="http://www.gd.chinanews.com/2014/2014-01-06/2/294426.shtml?qq-pf-to=pcqq.c2c" target="_blank">广东新闻网：建设行业大数据盛典即将登场</a></li>
    </ul>
    <div class="menu-box"><a href="act_10.html" class="t-btn-01" title="首页"></a><a href="act_11.html" class="t-btn-02" title="直播间"></a><a href="act_12.html" class="t-btn-03" title="活动日程"></a><a href="act_13.html" class="t-btn-04" title="高峰对话"></a><a href="act_14.html" class="t-btn-05" title="参会嘉宾"></a><a href="act_15.html" class="t-btn-06" title="精彩分享"></a><a href="act_16.html" class="t-btn-07-hover" title="往届回顾"></a></div>
</div>
<div class="container clearfix">
	<h1 class="title-box title-wjhg" title="往届回顾"></h1>
    <div class="wjhg-box">
        <div class="wjhg-con clearfix">
            <div class="left">
                <h3>2013</h3>
                <div class="l-img"><img src="http://c2.zjtcn.com/images/act/2014jiuhui/yzjfbh.jpg" /></div>
                <div class="l-txt">
                    <p title="云造价产品信息发布会">云造价产品信息发布会</p>
                    <p>时间：2013年11月22日</p>
                    <p>地点：广州嘉逸皇冠酒店</p>
                    <p>参会人数：100人</p>
                </div>
            </div>
            <div class="right">
                <h3>会议主题: 云端的日子，你我共享</h3>
                <div class="r-txt">
                    <p>2013年11月22日，以“价御世界，云领未来”为主题的大数据云造价产品信息发布会在广州隆重举行，据悉，建设行业工程造价领域专家及企业代表等参与了此次会议。
                        <a class="zk_bottom" href="javascript:void(0);" onclick="display(this, '2', 'zk_bottom', 'zk_top');" title="更多"></a>
                    </p>
                    <div id="display_2" style="display:none;">
                    <p>云计算被看作第三次IT浪潮，给我们的生活、生产方式和商业模式带来了根本性的改变。当工程造价碰上云计算，又会擦出怎样的火花呢？2013年11月22日，由中建普联主办的“造价通-云造价产品信息发布会”在广州嘉逸皇冠酒店举行。本次会议得到了华为技术有限公司云服务业务部的支持，并由广东电视台全程拍摄。总共有60多家建材企业莅临现场。下午2：30分，会议准时开始。在阵阵热烈的掌声之后，主持人逐一介绍了与会的嘉宾代表。</p>
                    <p>广东中建普联科技有限公司副总裁张晓首先对参会的嘉宾和企业家代表的到来表示热烈的欢迎，感谢各位领导和企业家对中建普联多次活动的支持、指导和帮助。张晓简单介绍了公司的产品情况和发展方向。中建普联自2007年成立以来便实施全面开放的战略，广泛吸收行业优秀人才，采用国际先进的研发技术和管理理念，携手行业优质供应商、项目采购商、研究机构、政府机构共同搭建建设行业的两大平台——造价通和网材网。运用互联网云技术与BIM技术相结合，为投资者提供建设项目设计、造假、施工、采购、监理、全程的大数据应用服务。</p>
                    <p>由行业专家、顾问讲师张涛先生主讲的题为“价御世界，云领未来”的讲座把会议推向了高潮。“我国工程造价咨询行业虽然发展较晚，但是近几年实现了高速发展。”张教授表示，“广东省现有工程造价咨询企业300多家，其中甲级咨询企业100多家，在市场份额固定的情况下，如何提升企业的核心竞争力，从而使企业占得更多的市场份额，这才是企业的当务之急。”</p>
                    <p>张教授重点介绍了云造价数据解决方案，云空间、材价库、供应商库、在线询价、资料管理等一系列方案为你轻松解决数据难题，能有效帮助建材企业控制成本、大幅提高工作效率。专业的事情由云造价为你服务，体验不断提升的产品附加值。</p>
                    <p>此次会议受到了与会企业代表的热烈响应，听了张教授的演讲，企业代表对建设行业的现状和未来的发展方向有了更清晰的认识。大数据时代，更要与时俱进，紧跟时代的步伐，共步云端，分享云造价带来的意外惊喜。</p>
                </div>
            </div>
        </div>
    </div>
    	<div class="wjhg-con clearfix">
        	<div class="left">
            	<h3>2012</h3>
                <div class="l-img"><img src="http://c2.zjtcn.com/images/act/2014jiuhui/5_znqd.jpg" /></div>
                <div class="l-txt">
                	<p title="中建普联5周年庆典">中建普联5周年庆典</p>
                    <p>时间：2012年11月16日</p>
                    <p>地点：广州嘉逸皇冠酒店</p>
                    <p>参会人数：200人</p>
                </div>
            </div>
            <div class="right">
            	<h3>会议主题: 风雨中•你我一并前行——中建普联5周年庆典暨精英联谊会</h3>
                <div class="r-txt">
                    <p>风雨中，你我一并前行，五年路，中建携手力行。2012年11月16日，“风雨中，你我一并前行” ——中建普联5周年庆典暨精英联谊会在广州嘉逸皇冠酒店隆重上演。全体中建普联人精神抖擞，喜迎全国宾客。会议现场200余名中建普联的高端客户欢聚一堂，共庆广东中建普联科技有限公司的五周年生日，并见证了中建普联未来网络信息化发展的蓝图，为行业的腾飞插上了翅膀。<a class="zk_bottom" href="javascript:void(0);" onclick="display(this, '1', 'zk_bottom', 'zk_top');" title="更多"></a></p>
                    <div style="display:none;" id="display_1">
                    <p>本次盛会也是行业精英的联谊会，莅临现场的有天津市建设工程造价管理协会、深圳市造价工程师协会、广州市财政投资评审中心、广东省涂料协会、广东省设计产业协会、佛山生态协会、瑞士信贷银行股份有限公司、广东广银投资管理有限公司、九鼎投资管理有限公司、广州盛世润都股权投资管理有限公司、广州市瀚辉投资咨询有限公司、创东方投资有限公司、广州证券财富管理中心、交通银行科技园支行、珠江投资集团招标审核管理中心、广州珠江侨都房地产有限公司、广东省工业设备安装公司第一分公司、中国建筑装饰工程有限公司、深圳市栋森工程项目管理有限公司、广东中量工程投资咨询有限公司、广东飞腾工程造价咨询有限公司、广东天来钢管桥架有限公司、佛山市采意铝板带箔加工有限公司、广州日报、广东建设报、民营经济报等政府单位、投资公司、咨询公司、业主单位、施工企业、业内媒体、建材供应商，共同见证了中建普联五周年的历史性时刻。</p>
                    <p>6日下午两点三十分，庆典活动在一片欢呼声中正式拉开帷幕，主持人首先带领全体宾客回顾了中建普联五周年走过的辉煌历程。五年的奋斗、五年的成就、五年的汗水、五年的喜悦，这一幕幕，宛如一幅历史巨献呈现在大家面前。</p>
                    <p>接着，中建普联高管团队庄严的升旗仪式将活动推向了一个高潮，国歌奏起，全体起立，升国旗!中建普联人在用自己的方式表达着对祖国的感恩和热爱，中建普联人深知，没有祖国的繁荣昌盛，就没有人民的幸福生活，更没有今天中建普联的庆典。升旗仪式过后，公司总裁陈红仙女士致庆典词，总裁激情洋溢的演说搏得现场阵阵掌声，她向场上全体宾客展现了中建普联走过不平凡的五年，也介绍了公司未来五年的一个发展方向，并强调今天的庆典将成为中建普联下一个五年发展的新起点，中建普联人将肩负起帮助建设行业企业成长，富强我的祖国、为人类和谐发展快乐奋斗的使命，为迎接下一个更加辉煌的五年继续前行。最后总裁代表全体中建普联人感谢各级政府领导、各界朋友的鼓励与支持。</p>
                    <p>为了迎接这振奋人心的时刻，中建普联全体员工精心策划了一系列精彩的节目，首先是营销团队的士气展示，气势磅礴，充满了战斗的豪情,营销团队精彩的团队展示征服了全场所有观众，欢呼声、掌声接踵而至。他们统一的着装，整齐的步伐，洪亮的声音，激昂的斗志展示了中建普联“军队、学校、快乐家庭”的企业文化，最后一组高难度的空中送礼动作更是将庆典推向另一个高潮，雷鸣般的掌声和欢呼声顿时响彻全场。接着中建普联营运副总张涛先生与现场嘉宾一起回顾了五年来企业的发展历程和辉煌成就，并共同展望了造价通、网材网的美好未来。全场屏住呼吸，全神贯注听得意犹未尽。回顾的最后，展示了未来中建普联将更专注于行业建设的深入发展，更注重企业内部的服务管理，并加快企业融资上市的步伐，为公司的快速成长注入强劲动力。随即就是忠诚优秀的员工的隆重表彰，这又是一个激动人心的时刻。当主持人宣布奖项及获奖名单时，获奖员工激动不已，因为这是公司对他们辛勤付出的一个肯定和鼓励。本次员工表彰总共颁发了“杰出贡献团队奖”、“最具成长潜力团队奖”、“水晶服务奖”、“杰出管理奖”、“价值典范奖”、“年度优秀营销师”、“创新奖”、“忠诚服务奖”、“钻石服务奖”、“宝石服务奖”、“杰出贡献奖”等十几项大奖。
                    </p>
                    <p>在欣赏完研发团队展示的《光与影》精彩演出之后，现场观众接连发出赞叹声“一个很有创意的节目”“一支很有激情的团队”“有创意，有想法，太厉害了”……庆典环节的另一个重头戏也随之上演，造价通《询价学堂》、《云造价》正式上线发布，由产品部门的田经理为现场宾客介绍产品的功能及演示，她指出，随着互联网时代的逐步深入，造价通在企业级应用方面推出的“云工程数据解决方案”将更好的满足客户需求与期望。田经理的精彩介绍让在场观众对公司的新产品有了质的了解并充满信心。</p>
                    <p>今天的庆典可谓“双喜临门”，因为网材网推出的“诚信联盟”项目也在今天正式上线，由网材网产品专家张慧强先生对该项目进行介绍，他指出，诚信联盟是网材网平台积极响应我省的三打两建号召，与业内各协会、采购商、供应商联合开展的一种全新的合作模式。张总的演讲精辟入里、深入浅出，现场掌声不断。台下有嘉宾说：“这又是中建普联一个革命性的产品了。”接着，总裁陈红仙女士以及诚信联盟的发起单位，广东省涂料行业协会，广东省装饰行业协会，广州市设计产业协会，广州市环保节能建材行业协会，广东建设报的代表一起为诚信联盟揭开序幕。随着诚信联盟正式拉开帷幕，全新的合作方式就在此刻诞生。最后，公司还对首批诚信联盟会员的代表单位(中国建筑装饰工程有限公司、广东天来钢管桥架有限公司)举行授匾仪式，为网材网诚信联盟项目来了个开门红。两家代表单位的负责人也纷纷上台对中建普联的五周年发表贺词。</p>
                    <p>在欣赏完《明天会更好》激情洋溢的歌唱类节目后，总裁陈红仙女士为感谢八家企业一直以来与中建普联一起走过五年的风风雨雨，特别为他们颁发了“同心共赢”奖杯。获奖企业领奖后纷纷发表感言，感谢中建普联提供优质的服务。到场的一些嘉宾—深圳造价工程师协会陈广言会长、天津市建设工程造价管理协会于业伟先生等合作伙伴也陆续上台发表贺词，陈广言会长还精心准备了一份精美的字画送给总裁陈红仙女士，将庆典活动又推向了又一个高潮。庆典活动中还不断推出抽奖环节，主办方准备了一帆风顺镀金礼盒，新马泰旅行、价值数十万的商学院、总裁级培训高级课程以及各种精美礼品，每一份礼品都包含着中建普联的浓浓祝福和美好情谊，给获奖嘉宾带去温暖和惊喜。</p>
                    <p>活动最后，主持人邀请公司总裁陈红仙女士及嘉宾领导一起上台祝酒，祝贺中建普联五岁的生日，带着美好的祝愿，期待中建普联明天更加灿烂辉煌。整个庆典活动在一片欢呼声中落下帷幕。</p>
                    <p>随着本次活动的圆满落幕，代表着中建普联新的征程、新的机遇、新的发展已经开始，中建普联的事业，明天更加灿烂辉煌。未来，造价通、网材网必将用更专业、更贴心的服务为行业的发展做出更大的贡献。</p>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
<script type="text/javascript" src="http://c2.zjtcn.com/js/act/2014jiuhui/countdown.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/act/2014jiuhui/gfdh.js"></script>
<script>
    $(document).ready(function(e) {
        //倒计时，2014年1月12号17点开始
        getServerTime();
        //新闻标题自动切换
        autoActTitle();
    });
</script>
</html>
