<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于加入中建装饰、珠江实业年度供应商库的邀请函</title>
<style>
body{ margin:0; padding:0;}
.contanier{ width:951px; margin:0 auto;}
</style>
</head>

<body>
<div class="contanier"><img src="http://c2.zjtcn.com/images/yuncaigou.jpg" width="951" height="2329" border="0" usemap="#Map" />
  <map name="Map" id="Map">
    <area shape="rect" coords="256,1816,528,1841" href="http://www.zjzs.cscec.com" target="_blank" />
    <area shape="rect" coords="258,1851,528,1877" href="http://www.gzprg.com.cn" target="_blank" />
    <area shape="rect" coords="479,1989,542,2016" href="http://ftp.zjtcn.com/doc/cxlm_detail.pdf" />
    <area shape="rect" coords="602,358,776,380" href="http://www.ccwcw.com" target="_blank" />
  </map>
</div>
</body>
</html>
