<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2倍积分陪您迎新年--造价通询价学堂</title>
<style>
body{ margin:0; padding:0}
.con{ width:960px; margin:0 auto;}
</style>
</head>

<body>
<div class="con">
<img src="$common_site/images/zjt/act/double_bg.jpg" width="960" height="600" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="665,398,819,434" href="/ask/ask_index.html" target="_blank" />
</map>
</div>
</body>
</html>
