<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>造价通“金秋钜惠” 云造价服务免费送</title>

<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/reset.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/zt_jqjh.css" />

</head>
<body>
<div class="jyb_contanier">
	<div class="jj">
        <p class="c_red">造价通迎双节“金秋钜惠” ！</p>
        <p>金秋时节，丹桂飘香，秋菊溢彩，硕果累累。我们专注建设行业信息化服务七年，始终坚持“帮助建设行业企业成长”的服务理念，开创建设行业信息化新局面。在中秋、国庆双节来临之际，造价通特推出“金秋钜惠”活动，价格突破行业底线，服务力争世界领先。</p>
        <p>活动期内，凡注册办理“造价通2014年会员套餐”的用户均可享受四重“金秋钜惠”：</p>
    </div>
    
    <h1 class="title_01 ti_01" title="钜惠一：正式会员服务免费开放，注册再送1000积分"><span class="arrow"></span></h1>
    
    <div class="jj">
        <p>造价通正式会员拥有造价通材价数据服务查询权限和材价管理权限，本次活动期内注册造价通会员即刻免费赠送正式会员服务，再额外赠送1000积分，可用于兑换造价通材价、数据、信息等服务。</p>
    </div>
    <div class="img_box img_01"></div>
    
    
    <h1 class="title_01 ti_02" title="钜惠二：云造价大特惠，企业级服务免费送"><span class="arrow"></span></h1>
    <div class="jj">
        <p>2014年，造价通为行业用户提供大数据、云造价服务，活动期内办理云造价会员套餐可享受大特惠，多项企业级数据服务免费赠送，适合广大中小企业使用。</p>
    </div>
    <div class="img_box img_02"></div>
    
    <h1 class="title_01 ti_03" title="钜惠三：云套餐大乐透，追加乐享劲多优惠"><span class="arrow"></span></h1>
    <div class="jj">
        <p>云造价会员B套餐，仅需4800元，相当于在A套餐基础上增加1800元，即可享受劲多追加优惠，让您感受与大乐透一样的惊喜与刺激，是云造价会员性价比最高的服务套餐。</p>
    </div>
    <div class="img_box img_03"></div>
    
    <h1 class="title_01 ti_04" title="钜惠四：云造价服务翻倍，价格更实惠"><span class="arrow"></span></h1>
    <div class="jj">
        <p>云造价会员C套餐，价格仅需8800元，比B套餐仅增加不到一倍的价格，即可享受多重服务翻倍体验。服务翻倍，价格更实惠，适合对材价数据需求量较大的企业用户。</p>
    </div>
    <div class="img_box img_04"></div>
    
    <h2 class="title_02"><span class="arrow01"></span><span class="arrow02"></span></h1>
    
    <div class="border_bottom"></div>
    
</div>
<div class="footer">* 活动最终解释权归造价通官方所有</div>
</body>
</html>
