<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/reset.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/zt_jfdh.css" />
<script language="javascript" type="text/javascript" src="$common_site/js/common/jyeeda.js"></script>
  <script type="text/javascript">eid="218808P8z8p8y8y8z8z8y";ws="www.zjtcn.com"; type="0";wpadomain="b";</script> 
  <script type="text/javascript" src="http://c2.zjtcn.com/js/common/imqqkf.js?t=110922"></script>
<title>造价通争“FUN”夺“秒”</title>
</head>

<body>
<div class="jfdh_contanier">
	<div class="header">
    	<div class="hd_times">
        	活动时间：即日起至2013年8月31日<br/>礼品兑换热线：400-888-9639
        </div>
        <div class="hd_jj">
        	<h1 title="造价通争“FUN”夺“秒”"></h1>
            <p>造价通“小积分”可以兑换“大乐趣”啦！即日起至2013年8月31日，造价通将开展2013年度感恩回馈活动。只要您是造价通用户，8月31日之前，累计消费积分达到指定额度的，就可参加2013年度【争“FUN”夺“秒”】活动，拨打造价通客服电话联系客服，根据您造价通账户的累积积分额度兑换相应礼品。赶快登陆造价通领取您的专属礼品吧！</p>
        </div>
    </div>
    <div class="red_box clearfix">
    	<div class="jp_dh_box_01"><img src="http://c2.zjtcn.com/images/act/jp_01.jpg" /></div>
        <div class="jp_dh_box_01 m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_02.jpg" /></div>
        <div class="news_dhmd m_l_12">
        	<h1 title="最新兑换名单"></h1>
            <ul style="height:250px;">
                <div id="scorllDiv" style="height:250px;">
              <li class="clearfix">     
                	<span class="hd" title="20000毫安移动电源">20000毫安移动电源<br/>4500积分</span>
                    <span class="cd">刘俊杰</span>
                    <span class="bd">2013.08.21</span>
                </li>


	    	<li class="clearfix">     
                	<span class="hd" title="话费充值">话费充值<br/>5500积分</span>
                    <span class="cd">国计财审</span>
                    <span class="bd">2013.08.21</span>
                </li>


	    	<li class="clearfix">     
                	<span class="hd" title="话费充值">话费充值<br/>5500积分</span>
                    <span class="cd">风天</span>
                    <span class="bd">2013.08.21</span>
                </li>


	    	<li class="clearfix">     
                	<span class="hd" title="Midea/美的 EG7XCGW6-NA微波炉">Midea/美的 EG7XCGW6-NA微波炉<br/>25300积分</span>
                    <span class="cd">雨神</span>
                    <span class="bd">2013.08.21</span>
                </li>

	    	<li class="clearfix">     
                	<span class="hd" title="20000毫安移动电源">20000毫安移动电源<br/>4500积分</span>
                    <span class="cd">神马？</span>
                    <span class="bd">2013.08.21</span>
                </li>


	    	<li class="clearfix">     
                	<span class="hd" title="Philips/飞利浦 Muse MP4">Philips/飞利浦 Muse MP4<br/>15300积分</span>
                    <span class="cd">叶子</span>
                    <span class="bd">2013.08.21</span>
                </li>
	    	<li class="clearfix">     
                	<span class="hd" title="MIUI/小米 2S(MI2S)">MIUI/小米 2S(MI2S)<br/>45000积分</span>
                    <span class="cd">青花瓷</span>
                    <span class="bd">2013.08.21</span>
                </li>

	    	<li class="clearfix">     
                	<span class="hd" title="Asus/华硕 X45EI237VD笔记本">Asus/华硕 X45EI237VD笔记本<br/>55000积分</span>
                    <span class="cd">猴仔</span>
                    <span class="bd">2013.08.21</span>
                </li>

	    	<li class="clearfix">     
                	<span class="hd" title="天堂伞防紫外线正品">天堂伞防紫外线正品<br/>2500积分</span>
                    <span class="cd">三明治</span>
                    <span class="bd">2013.08.21</span>
                </li>

	    	<li class="clearfix">     
                	<span class="hd" title="Haier/海尔 XQG60-812">Haier/海尔 XQG60-812<br/>60000积分</span>
                    <span class="cd">青稞</span>
                    <span class="bd">2013.08.21</span>
                </li>
	    	<li class="clearfix">     
                	<span class="hd" title="先锋空调扇 冷暖两用 遥控">先锋空调扇 冷暖两用 遥控<br/>20200积分</span>
                    <span class="cd">海丰人</span>
                    <span class="bd">2013.08.21</span>
                </li>


	    	<li class="clearfix">     
                	<span class="hd"老酒易醉</span>
                    <span class="bd">2013.08.21</span>
                </li>




   		<li class="clearfix">     
                	<span class="hd" title="话费充值">话费充值<br/>5500积分</span>
                    <span class="cd">MYWAY</span>
                    <span class="bd">2013.08.21</span>
                </li>


   		<li class="clearfix">     
                	<span class="hd" title="话费充值">话费充值<br/>5500积分</span>
                    <span class="cd">双城</span>
                    <span class="bd">2013.08.21</span>
                </li>

   		<li class="clearfix">     
                	<span class="hd" title="Midea/美的 EG7XCGW6-NA微波炉">Midea/美的 EG7XCGW6-NA微波炉<br/>25300积分</span>
                    <span class="cd">夏伤</span>
                    <span class="bd">2013.08.21</span>
                </li>


            </div>
            </ul>
        </div>
    </div>
    <ul class="jp_dh_box_02 clearfix">
        <li><img src="http://c2.zjtcn.com/images/act/jp_03.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_04.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_05.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_06.jpg" /></li>
        <li><img src="http://c2.zjtcn.com/images/act/jp_07.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_08.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_09.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_10.jpg" /></li>
        <li><img src="http://c2.zjtcn.com/images/act/jp_11.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_12.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_13.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_14.jpg" /></li>
        <li><img src="http://c2.zjtcn.com/images/act/jp_15.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_16.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_17.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_18.jpg" /></li>
        <li><img src="http://c2.zjtcn.com/images/act/jp_19.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_20.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_21.jpg" /></li>
        <li class="m_l_12"><img src="http://c2.zjtcn.com/images/act/jp_22.jpg" /></li>
    </ul>
    <div class="red_box clearfix">
    	<h1 class="title_dh dh_lc"></h1>
        <div class="dh_lc_box"></div>
    </div>
    <div class="red_box clearfix">
    	<h1 class="title_dh dh_gz"></h1>
        <div class="dh_gz_box">
            <p>a. 在指定活动期间内，账户现有积分累计达到对应积分档位可兑换对应档位的礼品</p>
            <p>b. 在指定活动期间内，每个会员只能兑换3次礼品</p>
            <p>c. 在指定活动期间内，所有新老会员都可以参与</p>
            <p>d. 礼品兑换咨询热线：400-888-9639</p>
        </div>
    </div>
    <div class="footer">
    	* 活动最终解释权归造价通官方所有
        <p>
		<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa01b74f783ea1eda2c633ceefd483123' type='text/javascript'%3E%3C/script%3E"));
</script>
		</p>
   </div>
</div>
<div class="djkf_box" id="kfQQ_div" style="top:20px;">
	<ul>
    	<li>&nbsp;&nbsp;&nbsp;&nbsp;华南地区：<a href="http://wpa.qq.com/msgrd?V=1&Uin=1421443692&Site=www.zjtcn.com&Menu=yes"><img border="0" src="http://c2.zjtcn.com/images/act/QQ_jt.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"  /></a></li>
        <li>黑龙江地区：<a href="http://wpa.qq.com/msgrd?V=1&Uin=1981728424&Site=www.zjtcn.com&Menu=yes"><img border="0" src="http://c2.zjtcn.com/images/act/QQ_jt.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;天津地区：<a href="http://wpa.qq.com/msgrd?V=1&Uin=372553489&Site=www.zjtcn.com&Menu=yes"><img border="0" src="http://c2.zjtcn.com/images/act/QQ_jt.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;四川地区：<a href="javascript:void(0);"><img border="0" src="http://c2.zjtcn.com/images/act/QQ_jt.jpg" alt="点击这里给我发消息" title="点击这里给我发消息" onclick="kf_openChatWindow(0,'b','4008889639');"  /></a></li>
    </ul>
</div>
<div class="jfdh_tips_box" style="display:none;top:300px;" id="jfdh_tips_box"><a href="javascript:hideDiv('jfdh_tips_box');" class="closed_tips" title="关闭"></a></div>

<script language="javascript" type="text/javascript">
var ly = 0;
  $(window).ready(function (){
	login_tipScroll();
});
  
  function login_tipScroll() {
	if (typeof window.pageYOffset != 'undefined') {
		nowY = window.pageYOffset;
	} else if (typeof document.compatMode != 'undefined'
			&& document.compatMode != 'BackCompat') {
		nowY = document.documentElement.scrollTop;
	} else if (typeof document.body != 'undefined') {
		nowY = document.body.scrollTop;
	}
	percent = .1 * (nowY - ly);
	if (percent > 0) {
		percent = Math.ceil(percent);
	} else {
		percent = Math.floor(percent);
	}
	document.getElementById("jfdh_tips_box").style.top = parseInt(document.getElementById("jfdh_tips_box").style.top)+percent+"px";
    document.getElementById("kfQQ_div").style.top = parseInt(document.getElementById("kfQQ_div").style.top)+percent+"px";
	ly = ly + percent;
	tOut = window.setTimeout("login_tipScroll()", 1);
}

function hideDiv(id){
    $("#" + id).hide();
}

function showDiv(id){
    $("#" + id).show();
}

$("img").click(function(event){
   showDiv('jfdh_tips_box');
});

$(function(){
    var _wrap = $('#scorllDiv');//定义滚动区域
    var _interval = 1000;//定义滚动间隙时间
    var _moving;//需要清除的动画
    _wrap.hover(function(){
        clearInterval(_moving);//当鼠标在滚动区域中时,停止滚动
    },function(){
        _moving = setInterval(function(){
            var _field = _wrap.find('li:first');//此变量不可放置于函数起始处,li:first取值是变化的
            var _h = _field.height();//取得每次滚动高度
            _field.animate({marginTop:-_h+'px'},600,function(){//通过取负margin值,隐藏第一行
                _field.css('marginTop',0).appendTo(_wrap);//隐藏后,将该行的margin值置零,并插入到最后,实现无缝滚动
            })
        },_interval)//滚动间隔时间取决于_interval
    }).trigger('mouseleave');//函数载入时,模拟执行mouseleave,即自动滚动
});

function openQQ(qq){
    window.open("http://b.qq.com/webc.htm?new=0&sid=" + qq + "&o=www.zjtcn.com&q=7&ref=" + document.location, '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');
}
</script>
</body>
</html>
