<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>中国建设行业大数据盛典暨---2014行业先锋跨年酒会</title>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/member/reset.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/member/global.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/member/site_nav.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/member/footer.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/storePage/storePage.css"/>
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/reset.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/zt_yjtg.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/js/plungins/zoompic/css/zoompic.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/2014jiuhui/reset.css" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/2014jiuhui/zt_jiuhui_common.css" />
<style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script language="javascript" src="http://c2.zjtcn.com/js/common/jyeeda.js"></script>
<script language="javascript" src="http://c2.zjtcn.com/js/common/basic.js"></script>
<script language="javascript" src="http://c2.zjtcn.com/js/common/ConCom.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/common/common.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/common/dataStore.js"></script>
<script language="javascript" src="http://c2.zjtcn.com/js/common/jquery.cookie.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/common/msg_zhcn.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/common/storePage.js"></script>
</head>

<body>
<div class="header-box">
    <div class="djs-box" id="time_countDown" style="display:none;"><span id="time_num_1">1</span><span class="m-l-5" id="time_num_2">8</span><span class="times m-l-5" id="countDown_type">天</span></div>
    <div class="djs-box01" style="display:none;" id="time_out">跨年酒会正在狂欢进行中...</div>
    <div class="djs-box01" style="display:none;" id="time_over">中国建设行业大数据盛典圆满成功</div>
    <ul class="zxxw-list">
        <li><a href="http://gd.qq.com/a/20140114/012381.htm" target="_blank">腾讯大粤网：中国建设行业大数据盛典成功举办</a></li>
        <li><a href="http://news.dayoo.com/finance/201401/14/54401_34528555.htm" target="_blank">大洋网：“梦想·激情·启航”：揭开2014建设行业大数据序幕</a></li>
        <li><a href="http://news.sohu.com/20140115/n393561182.shtml?qq-pf-to=pcqq.c2c" target="_blank">搜狐：“梦想激情启航”—揭开2014建设行业大数据序幕</a></li>
        <li><a href="http://gd.sina.com.cn/news/b/2014-01-03/163569174.html" target="_blank">新浪网：中国建设行业大数据盛典将于12日在广州举办</a></li>
        <li><a href="http://gd.qq.com/a/20140103/013628.htm" target="_blank">腾讯大粤网：中国建设行业大数据盛典将于12日举行</a></li>
        <li><a href="http://house.ycwb.com/2014-01/03/content_5801945.htm" target="_blank">金羊网：中国建设行业大数据盛典将于12日在广州香格里拉大酒店举办</a></li>
        <li><a href="http://tx.southcn.com/roll/content/2014-01/03/content_89052052.htm" target="_blank">南方网：建设行业大数据盛典即将登场</a></li>
        <li><a href="http://news.dayoo.com/finance/201401/03/54401_34335535.htm" target="_blank">大洋网：建设行业大数据盛典即将登场</a></li>
        <li><a href="http://www.gd.chinanews.com/2014/2014-01-06/2/294426.shtml?qq-pf-to=pcqq.c2c" target="_blank">广东新闻网：建设行业大数据盛典即将登场</a></li>
    </ul>
    <div class="menu-box"><a href="act_10.html" class="t-btn-01-hover" title="首页"></a><a href="act_11.html" class="t-btn-02" title="直播间"></a><a href="act_12.html" class="t-btn-03" title="活动日程"></a><a href="act_13.html" class="t-btn-04" title="高峰对话"></a><a href="act_14.html" class="t-btn-05" title="参会嘉宾"></a><a href="act_15.html" class="t-btn-06" title="精彩分享"></a><a href="act_16.html" class="t-btn-07" title="往届回顾"></a></div>
</div>
<div class="container clearfix">
    <h1 class="title-box title-hdcs" title="活动阐述"></h1>
    <div class="hdcs-box clearfix">
        <div class="left">
            <ul class="banner-img">
                <li id="act_img_1"><a href="javascript:void(0);"><img src="http://c2.zjtcn.com/images/act/2014jiuhui/actRe/huandeng_294x182.jpg" /></a></li>
                <li id="act_img_2"<a href="javascript:void(0);"><img src="http://c2.zjtcn.com/images/act/2014jiuhui/actRe/huandeng_294x182_01.jpg" /></a></li>
                <li id="act_img_3"><a href="javascript:void(0);"><img src="http://c2.zjtcn.com/images/act/2014jiuhui/actRe/huandeng_294x182_02.jpg" /></a></li>
                <li id="act_img_4"><a href="javascript:void(0);"><img src="http://c2.zjtcn.com/images/act/2014jiuhui/actRe/huandeng_294x182_03.jpg" /></a></li>
                <li id="act_img_5"><a href="javascript:void(0);"><img src="http://c2.zjtcn.com/images/act/2014jiuhui/actRe/huandeng_294x182_04.jpg" /></a></li>
            </ul>
            <div class="banner-tab"><a id="a_1" href="javascript:void(0);" onclick="showActImg(this, 'act_img_1');" onmouseover="showActImg(this, 'act_img_1');" class="cur">1</a><a id="a_2" href="javascript:void(0);" onclick="showActImg(this, 'act_img_2');" onmouseover="showActImg(this, 'act_img_2');">2</a><a id="a_3" href="javascript:void(0);" onclick="showActImg(this, 'act_img_3');" onmouseover="showActImg(this, 'act_img_3');">3</a><a id="a_4" href="javascript:void(0);" onclick="showActImg(this, 'act_img_4');" onmouseover="showActImg(this, 'act_img_4');">4</a><a id="a_5" href="javascript:void(0);" onclick="showActImg(this, 'act_img_5');" onmouseover="showActImg(this, 'act_img_5');">5</a></div>
        </div>
        <div class="right">为推动建设行业信息化发展，整合行业资源，实现我国建设行业企业转型发展，我司在政府指导下特举办“梦想•激情•起航” 中国建设行业大数据盛典暨2014行业先锋跨年酒会。与众多行业精英共聚交流，为建设行业寻找合作机会，了解大数据的优势，合理应用大数据时代的资源，共同推动建设行业的大发展。 </div>
    </div>
    
    <div class="hw-hy-box clearfix">
        <div class="left">
            <h1 class="title-box title-hwap" title="会务安排"></h1>
            <div class="hwap-box clearfix">
                <dl>
                    <dt>嘉宾签到</dt>
                    <dd>
                        <ul class="clearfix">
                            <li><div class="l-txt">17：00</div><div class="r-txt">嘉宾签到</div></li>
                            <li><div class="l-txt">17：30</div><div class="r-txt">媒体签到</div></li>
                      </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>梦之起源</dt>
                    <dd>
                        <ul class="clearfix">
                            <li><div class="l-txt">18：30</div><div class="r-txt">倒数-开场舞蹈</div></li>
                            <li><div class="l-txt">18：45</div><div class="r-txt">梦之起源</div></li>
                            <li><div class="l-txt">18：50</div><div class="r-txt">企业代表致辞</div></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>激情蜕变</dt>
                    <dd>
                        <ul class="clearfix">
                            <li><div class="l-txt">19：05</div><div class="r-txt">激情蜕变</div></li>
                            <li><div class="l-txt">19：10</div><div class="r-txt">团队展示：激情飘扬</div></li>
                            <li><div class="l-txt">19：20</div><div class="r-txt">行业的蜕变</div></li>
                            <li><div class="l-txt">19：45</div><div class="r-txt">战略合作签约仪式</div></li>
                            <li><div class="l-txt">19：50</div><div class="r-txt">节目表演</div></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>扬帆起航</dt>
                    <dd>
                        <ul class="clearfix">
                            <li><div class="l-txt">20：05</div><div class="r-txt">大合唱（相信我们会创造奇迹）</div></li>
                            <li><div class="l-txt">20：10</div><div class="r-txt">领导寄语</div></li>
                            <li><div class="l-txt">20：20</div><div class="r-txt">中建普联专家委员会成立仪式</div></li>
                            <li><div class="l-txt">20：30</div><div class="r-txt">晚宴开始</div></li>
                            <li><div class="l-txt">20：40</div><div class="r-txt">赞助商发言</div></li>
                            <li><div class="l-txt">20：50</div><div class="r-txt">光与影</div></li>
                            <li><div class="l-txt">21：00</div><div class="r-txt">红蝴蝶慈善行动启动仪式</div></li>
                            <li><div class="l-txt">21：10</div><div class="r-txt">节目表演（气缸舞《bar bar bar》）</div></li>
                            <li><div class="l-txt">21：20</div><div class="r-txt">自由交流</div></li>
                            <li><div class="l-txt">21：30</div><div class="r-txt">酒会结束</div></li>
                      </ul>
                    </dd>
                </dl>

                <a href="javascript:void(0);" class="arrow-top"></a>
                <a href="javascript:void(0);" class="arrow-bottom"></a>
            </div>
        </div>
        <div class="right">
            <h1 class="title-box title-hyxx" title="会议信息"></h1>
            <ul class="hyxx-box clearfix">
                <li><div class="l-title">活动时间：</div><div class="r-con">2014年1月12日</div></li>
                <li><div class="l-title">活动地点：</div><div class="r-con">广州•香格里拉大酒店</div></li>
                <li><div class="l-title">主办单位：</div><div class="r-con">广东中建普联科技有限公司</div></li>
                <li><div class="l-title">活动对象：</div><div class="r-con">政府及建设主管部门领导<br/>协会领导<br/>行业先锋企业代表<br/>中建普联全体员工（分公司代表）</div></li>
            </ul>
            <div class="jddt">
                <h2>酒店地图</h2>
                <div class="dt-box" id="dituContent"></div>
            </div>
        </div>
    </div>
    
    <div class="wbzb-box clearfix">
        <h1 class="title-box title-wbzb" title="微博直播"></h1>
            <div class="clearfix">
                <div class="wbzb-shipin">
                    <embed width="100%" height="100%" flashvars="reservelt=50248242&scene=taobao_shop&autoplay=false"pluginspage="http://www.macromedia.com/go/getflashplayer"" type="application/x-shockwave-flash" allowscriptaccess="never" loop="0" quality="high" src="http://cloud.video.taobao.com/video/play/sid/11120762/uid/u/v/2001/f/video.swf" allowfullscreen="true" class="show_video" wmode="transparent">
                </div>
                <div class="wbzb-wb">
                    <dl class="gz-zjt clearfix">
                        <dt><a href="http://weibo.com/zjtcn2010" target="_blank"><img src="http://c2.zjtcn.com/images/act/2014jiuhui/zbj_logo_02.jpg" /></a></dt>
                        <dd>
                            <a href="http://weibo.com/zjtcn2010" target="_blank">造价通</a>
                            <a target="_blank" href="http://weibo.com/zjtcn2010"class="btn-jgz"></a>
                        </dd>
                    </dl>
                    <div>
                        <iframe width="380" height="160"  frameborder="0" scrolling="no" src="http://widget.weibo.com/livestream/listlive.php?language=zh_cn&width=380&height=160&uid=1826234253&skin=1&refer=1&appkey=&pic=0&titlebar=0&border=1&publish=0&atalk=1&recomm=0&at=0&atopic=%E5%A4%A7%E6%95%B0%E6%8D%AE&ptopic=%E5%A4%A7%E6%95%B0%E6%8D%AE&dpc=1"></iframe>
                    </div>
                </div>
            </div>
        </h1>
    </div>

     <div class="yjjb-box clearfix">
        <h1 class="title-box title-yjjb" title="演讲嘉宾"></h1>

        <div class="InCar L">
        <div class="InCarBox" id="InCarBox" style="left:-40px;">
            <pre class="MMprev">prev</pre>
            <pre class="MMnext">next</pre>
            <ul>
                <li>
                    <img src="http://c2.zjtcn.com/images/act/2014jiuhui/yjjb_01_01.jpg" />
                    <span class="CBoxBg"></span><span class="CBoxLink">行业交流</span>
                </li>
                <li>
                    <img src="http://c2.zjtcn.com/images/act/2014jiuhui/yjjb_02_02.jpg" />
                    <span class="CBoxBg"></span><span class="CBoxLink">合唱表演</span>
                </li>
                <li>
                    <img src="http://c2.zjtcn.com/images/act/2014jiuhui/yjjb_03_03.jpg" />
                    <span class="CBoxBg"></span><span class="CBoxLink">中建普联总裁陈红仙女士</span>
                </li>
                <li>
                    <img src="http://c2.zjtcn.com/images/act/2014jiuhui/yjjb_04_04.jpg" />
                    <span class="CBoxBg"></span><span class="CBoxLink">红蝴蝶慈善行动启动仪式1</span>
                </li>
                <li>
                    <img src="http://c2.zjtcn.com/images/act/2014jiuhui/yjjb_05_05.jpg" />
                    <span class="CBoxBg"></span><span class="CBoxLink">红蝴蝶慈善行动启动仪式2</span>
                </li>
                <li>
                    <img src="http://c2.zjtcn.com/images/act/2014jiuhui/yjjb_06_06.jpg" />
                    <span class="CBoxBg"></span><span class="CBoxLink">活动现场</span>
                </li>
                <li>
                    <img src="http://c2.zjtcn.com/images/act/2014jiuhui/yjjb_07_07.jpg" />
                    <span class="CBoxBg"></span><span class="CBoxLink">开放平台</span>
                </li>
                <li>
                    <img src="http://c2.zjtcn.com/images/act/2014jiuhui/yjjb_08_08.jpg" />
                    <span class="CBoxBg"></span><span class="CBoxLink">模特秀表演</span>
                </li>
                <li>
                    <img src="http://c2.zjtcn.com/images/act/2014jiuhui/yjjb_09_09.jpg" />
                    <span class="CBoxBg"></span><span class="CBoxLink">签约仪式</span>
                </li>
            </ul>
        </div>
        </div>
    </div> 

    <div class="jcsj-box clearfix">
        <h1 class="title-box title-jcsj" title="精彩瞬间"></h1>
        <ul class="yjjb-list clearfix">
            <li>
                <span class="img-box">
                    <embed width="100%" height="100%" flashvars="reservelt=50248242&scene=taobao_shop&autoplay=false"pluginspage="http://www.macromedia.com/go/getflashplayer"" type="application/x-shockwave-flash" allowscriptaccess="never" loop="0" quality="high" src="http://cloud.video.taobao.com/video/play/sid/11050579/uid/u/v/2001/f/video.swf" allowfullscreen="true" class="show_video" wmode="transparent">
                </span>
                <span class="img-txt">大数据云造价产品信息发布会</span>
            </li>
            <li>
                <span class="img-box">
                    <embed width="100%" height="100%" flashvars="reservelt=50248242&scene=taobao_shop&autoplay=false"pluginspage="http://www.macromedia.com/go/getflashplayer"" type="application/x-shockwave-flash" allowscriptaccess="never" loop="0" quality="high" src="http://cloud.video.taobao.com/video/play/sid/11052908/uid/u/v/2001/f/video.swf" allowfullscreen="true" class="show_video" wmode="transparent">
                </span>
                <span class="img-txt">招商投资峰会</span>
            </li>
            <li>
                <span class="img-box">
                    <embed width="100%" height="100%" flashvars="reservelt=50248242&scene=taobao_shop&autoplay=false"pluginspage="http://www.macromedia.com/go/getflashplayer"" type="application/x-shockwave-flash" allowscriptaccess="never" loop="0" quality="high" src="http://cloud.video.taobao.com/video/play/sid/11053383/uid/u/v/2001/f/video.swf" allowfullscreen="true" class="show_video" wmode="transparent">
                </span>
                <span class="img-txt">大数据解决方案成果分享会</span>
            </li>
            <li>
                <span class="img-box">
                    <embed width="100%" height="100%" flashvars="reservelt=50248242&scene=taobao_shop&autoplay=false"pluginspage="http://www.macromedia.com/go/getflashplayer"" type="application/x-shockwave-flash" allowscriptaccess="never" loop="0" quality="high" src="http://cloud.video.taobao.com/video/play/sid/11053478/uid/u/v/2001/f/video.swf" allowfullscreen="true" class="show_video" wmode="transparent">
                </span>
                <span class="img-txt">大数据解决方案</span>
            </li>
            <li>
                <span class="img-box">
                    <embed width="100%" height="100%" flashvars="reservelt=50248242&scene=taobao_shop&autoplay=false"pluginspage="http://www.macromedia.com/go/getflashplayer"" type="application/x-shockwave-flash" allowscriptaccess="never" loop="0" quality="high" src="http://cloud.video.taobao.com/video/play/sid/11053576/uid/u/v/2001/f/video.swf" allowfullscreen="true" class="show_video" wmode="transparent">
                </span>
                <span class="img-txt">建设行业大数据解决方案成果分享会</span>
            </li>
            <a href="javascript:void(0);" onclick="mediaplayer('-1');" class="arrow-left"></a>
            <a href="javascript:void(0);" onclick="mediaplayer('+1');" class="arrow-right"></a>
        </ul>

    </div>
    <div class="mtbd-box">
        <h1 class="title-box title-mtbd" title="媒体报道"></h1>
        <ul class="clearfix">
            <li><a href="http://gd.qq.com/a/20140114/012381.htm" target="_blank" title="【腾讯大粤网】中国建设行业大数据盛典成功举办">【腾讯大粤网】中国建设行业大数据盛典成功举办</a></li>
            <li><a href="http://news.dayoo.com/finance/201401/14/54401_34528555.htm" target="_blank" title="【大洋网】“梦想·激情·启航”：揭开2014建设行业大数据序幕">【大洋网】“梦想·激情·启航”：揭开2014建设行业大数据序幕</a></li>
            <li><a href="http://news.sohu.com/20140115/n393561182.shtml?qq-pf-to=pcqq.c2c" target="_blank" title="【搜狐】“梦想激情启航”—揭开2014建设行业大数据序幕">【搜狐】“梦想激情启航”—揭开2014建设行业大数据序幕</a></li>
            <li><a href="http://gd.sina.com.cn/news/b/2014-01-03/163569174.html" target="_blank" title="【新浪网】中国建设行业大数据盛典将于12日在广州举办">【新浪网】中国建设行业大数据盛典将于12日在广州举办</a></li>
            <li><a href="http://gd.qq.com/a/20140103/013628.htm" target="_blank" title="【腾讯大粤网】中国建设行业大数据盛典将于12日举行">【腾讯大粤网】中国建设行业大数据盛典将于12日举行</a></li>
            <li><a href="http://house.ycwb.com/2014-01/03/content_5801945.htm" target="_blank" title="【金羊网】中国建设行业大数据盛典将于12日在广州香格里拉大酒店举办">【金羊网】中国建设行业大数据盛典将于12日在广州香格里拉大酒店举办</a></li>
            <li><a href="http://tx.southcn.com/roll/content/2014-01/03/content_89052052.htm" target="_blank" title="【南方网】建设行业大数据盛典即将登场">【南方网】建设行业大数据盛典即将登场</a></li>
            <li><a href="http://news.dayoo.com/finance/201401/03/54401_34335535.htm" target="_blank" title="【大洋网】建设行业大数据盛典即将登场">【大洋网】建设行业大数据盛典即将登场</a></li>
        </ul>
    </div>
    <div class="zzs-box clearfix" style="display:none;">
        <h1 class="title-box title-zzs" title="赞助商"></h1>
        <ul class="clearfix">
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_01.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_02.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_03.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_04.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_05.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_06.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_07.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_08.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_09.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_10.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_11.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_12.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_13.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_14.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_15.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_16.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_17.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_18.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_19.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_20.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_21.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_22.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_23.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_24.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_25.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_26.jpg" /></li>
        </ul>
    </div>
    
    <div class="zzs-box clearfix">
        <h1 class="title-box title-hzhb" title="合作伙伴"></h1>
        <ul class="clearfix">
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_01.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_02.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_03.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_04.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_05.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_06.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_07.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_08.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_09.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_10.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_11.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_12.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_13.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_14.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_15.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_16.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_17.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_18.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_19.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_20.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_21.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_22.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_23.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_24.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_25.jpg" /></li>
            <li><img src="http://c2.zjtcn.com/images/act/2014jiuhui/hzmt_26.jpg" /></li>
        </ul>
    </div>
    
</div>
</body>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/plungins/jqueryTools.js"></script>
<script src="http://c2.zjtcn.com/js/plungins/zoompic/js/ZoomPic.js" type="text/javascript"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/act/2014jiuhui/countdown.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/act/2014jiuhui/jiuhui.js"></script>
</html>


