<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>云造价_造价通($dataInfo.province)</title>
<link rel="stylesheet" type="text/css" href="$common_site/reduce/basic.css?v=$!stringUtil.cssCreateOn()" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/yzj/index.css"/>
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/main/common.css" />
</head>
<body>
		<!--	header star	-->
<div id="header_box">
    <div id="header">
        <span class="logo f_l" title="造价通-云造价"><a href="/"><img src="$common_site/images/zjt/yzj/logo_yzj.gif" /></a></span>
    </div>
</div>
<!--	header end	-->

<!--	banner_bg	-->
<div class="banner_bg">
	<div class="banner_bg_box">
    	<a href="javascript:void(0);"  onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=4008889639&eid=218808P8z8p8y8y8z8z8y&o=www.zjtcn.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" class="go_zx" title="立即咨询"></a>
    </div>
</div>
<!--	banner_bg	-->

<div class="contanier clearfix">
	<ul class="td_jjwt clearfix">
    	<li>
        	<span class="icon_td ic_sjwt"></span>
            <h2>解决：数据储存问题</h2>
            <p>
            	在云空间下建立起云存储动态数据库（材价库）；按材料分类与编码标准，实现对价格数据的有效整合分析、存储与共享，同时对数据进行动态积累，实现长远性的数据循环应用。
            </p>
        </li>
        <li>
        	<span class="icon_td ic_aqwt"></span>
            <h2>解决：数据安全问题</h2>
            <p>
            	在云存储模式下，虚拟化的技术及专业的信息管理能为客户端数据使用提供安全可靠的保障，用户数据的管理、存储均通过造价通云端来完成。解决因人员流失、信息被盗取造成的商业机密外漏风险。
            </p>
        </li>
        <li>
        	<span class="icon_td ic_clwt"></span>
            <h2>解决：材料询价问题</h2>
            <p>
            	交给专业的询价人员进行，由专业的材料工程师审核与回复，同时解决时间成本问题，降低数据信息采集渠道信用风险。<br/><br/><br/>
            </p>
        </li>
        <li class="bg_none">
        	<span class="icon_td ic_cbwt"></span>
            <h2>解决：成本控制问题</h2>
            <p>
            	成本控制包含人力资源成本、系统自建成本、时间成本、数据管理成本、信息风险成本等。一站式数据管理解决，成本可预见性，一朝采用，长久受益，企业成本降低可达80%以上。
            </p>
        </li>
    </ul>
    
    <div class="jztx_box">
    	<h2>云造价服务价值体现</h2>
        <div>
        	<dl class="clearfix">
            	<dt><span class="icon_jz ic_gzxl"></span></dt>
                <dd>
                	<h3>提高工作效率</h3>
                    <p>
                    	造价人员：辅助完成各项概预算、招标控制、结算等造价工作代表权威数据，成为工程项目结算的标准依据
                   	</p>
                </dd>
            </dl>
            <dl class="clearfix">
            	<dt><span class="icon_jz ic_aqgk"></span></dt>
                <dd>
                	<h3>实现安全管控</h3>
                    <p>
                    	管理者：进行信息化智能办公，节约运作成本，降低人员变动风险，降低经营风险
                   	</p>
                </dd>
            </dl>
            <dl class="clearfix">
            	<dt><span class="icon_jz ic_cbkz"></span></dt>
                <dd>
                	<h3>成本控制</h3>
                    <p>
                    	决策者：减少管理资金投入，节约运作成本，降低经营风险
                   	</p>
                </dd>
            </dl>
        </div>
    </div>
    
</div>
<div class="mask_layer" style="display:none;" id="mask_layer"></div>
		#parse($footer_dir)

	</body>
</html><script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-18131443-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' :'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
