<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>造价通_帮助中心</title>
<link rel="stylesheet" type="text/css" href="$common_site/reduce/basic.css?v=$!stringUtil.cssCreateOn()" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/login/common.css"/>
<script type="text/ecmascript" src="$common_site/reduce/basic.js?v=$!stringUtil.cssCreateOn()"></script>
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/main/common.css" />
</head>
<body style="text-align:left;">
	
		<div id="header_box">
		   <div id="header">
        	<div class="inside-com-logo" ><a href="/" class="logo01"></a><span class="logo-title">用户注册</span></div>
    </div>
		</div>
	  	<div class="reg_box">
	        <dl class="reg_suc_div clearfix">
	            <dt><span class="icon_suc"></span></dt>
	            <dd>
	                <h1>您的账户已经验证，无需再次验证！</h1>
	            </dd>
	        </dl>
	        <ul class="reg_ul_list">
	        	<li><a href="/common/login.html?url=/" class="btn_reg_bule">马上登陆</a></li>
	        </ul>
	    </div>
	
<div class="mask_layer" style="display:none;" id="mask_layer"></div>
        #parse($footer_dir)
       
</body>
</html>
