<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>造价通_邮箱注册成员</title>
<link rel="stylesheet" type="text/css" href="$common_site/reduce/basic.css?v=$!stringUtil.cssCreateOn()" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/login/common.css"/>
<script type="text/ecmascript" src="$common_site/reduce/basic.js?v=$!stringUtil.cssCreateOn()"></script>
<script type="text/javascript" src="$common_site/js/email/email_suc.js"></script>
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/main/common.css" />
</head>
<body style="text-align:left;">
		
	<!--	header star	-->
	<div id="header_box">
	    <div id="header">
        	<div class="inside-com-logo" ><a href="/" class="logo01"></a><span class="logo-title">用户注册</span></div>
    </div>
	</div>
	<!--	header end	-->
	
	<div class="co_01 border_1">
	
		<div class="reg_box">
	        <dl class="reg_suc_div clearfix">
	            <dt><span class="icon_suc"></span></dt>
	            <dd>
	                <h1>恭喜您，注册成功！</h1>
	                <p>只差一步就可以享受造价通优质服务了，赶快验证您的邮箱吧！</p>
	                <p>我们发送了一封验证邮件到 <a href="javascript:void(0);" class="bule_04 email_font" id="emailone"></a> 请到您的邮箱中收取邮件进行验证。</p>
	                <p>忘记密码还可以直接用邮箱找回，让您的账号更安全。</p>
	                <p style="margin:10px 0;">
	                    <a  href=""  class="btn_reg_bule btn_verification" >点击立即验证</a>
	                    <a href="javascript:void(0);" class="bule_04 m_l_10" onclick="toSendMail();return false;">重新发送验证邮件</a>
	                    <a href="javascript:void(0);" class="bule_04 m_l_10" onclick="showUpdateMailWin();return false;">修改邮箱</a>
	                </p>
	                <p>验证成功后立即获赠<span class="c_org_f5">50</span>个积分！积分可用来兑换服务和发布询价哦！ <a href="/" class="bule_04 m_l_10">稍后验证</a></p>
	            </dd>
	        </dl>
	        <ul class="reg_ul_list">
	        	<li><span class="icon_q_email">收不到邮件？</span></li>
	            <li>1. 查看一下垃圾邮件里面有没有？ </li>
	            <li>2. 用您的注册邮件给kf@zjtcn.com发送一封邮件，我们会为您解决！ </li>
	        </ul>
		</div>
	</div>

    <div class="mask_layer" style="display:none;" id="mask_layer"></div>
    <div class="email_tips_box" style="display:none;" id="email_tips_box">
    	<div class="close_box"><a href="javascript:void(0);" title="关闭" class="icon_closed" onclick="hide('email_tips_box');hide('mask_layer');return false;">关闭</a></div>
    	<p>
        	我们发送了一封验证邮件到您的邮箱<br/>
            <a class="bule_04 email_font " href="javascript:void(0);" id="emailtwo"></a><br/>
            请到您的邮箱中收取邮件进行验证。<br/><br/>
            <a href="javascript:void(0);"  onclick="emailInterface();return false;" class="con_btn_org">立即验证</a>
            <a href="javascript:void(0);" class="con_btn_gray" onclick="hide('email_tips_box');hide('mask_layer');return false;">关闭</a>
        </p>
    </div>
    
      <!--	修改邮箱	-->
    <div class="set_email_tips_box" style="display:none;" id="set_email_tips_box">
    	<h1>修改邮箱<a href="javascript:void(0);" title="关闭" class="icon_closed_01" onclick="hide('set_email_tips_box');hide('mask_layer');return false;">关闭</a></h1>
    	<p>您当前的邮箱：<span id="emailSpan"></span></p>
        <p>新的邮箱地址：<input type="text" value="" name="updateEmailName" id="updateEmailName" class="txt_input"/></p>
        <div class="padding_80_box font_12 color_gray_999 line_height_18">请输入您常用的邮箱地址，提交后系统将发送一份验证邮件到您的邮箱。</div>
        <div class="padding_80_box"> <a href="javascript:void(0);" class="con_btn_gray" onclick="updateMail();return false;">确定</a></div>
    </div>
    <!--	修改邮箱	-->
    
    <!--	邮箱修改成功	-->
    <div class="set_email_tips_suc_box" style="display:none;" id="set_email_tips_suc_box">
    	<p>邮箱修改成功！已发送新的验证邮件！</p>
        <p><a href="javascript:void(0);" class="con_btn_gray" onclick="hide('set_email_tips_suc_box');hide('mask_layer');return false;">确定</a></p>
    </div>
    <!--	邮箱修改成功	-->
    <div class="mask_layer" style="display:none;" id="mask_layer"></div>
#parse($footer_dir)

</body>
</html>
