<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>意见建议_造价通($dataInfo.province)</title>
        <link type="text/css" rel="stylesheet"
              href="$common_site/css/common/common.css" />
        <link type="text/css" rel="stylesheet"
              href="$common_site/css/common/zjtcn.css" />
        <link type="text/css" rel="stylesheet"
              href="$common_site/css/common/ask.css" />
        <link rel="stylesheet" type="text/css" href="$common_site/css/zjt/main/common.css" />
        <script language="javascript" src="$common_site/js/common/jyeeda.js"></script>
        <script language="javascript" src="$common_site/js/common/basic.js"></script>
        <script language="javascript" src="$common_site/js/common/ConCom.js"></script>
        <script language="javascript" src="$common_site/js/common/dataStore.js"></script>
        <script type="text/javascript" src="$common_site/js/common/common.js"></script>    
        <script language="javascript" src="$common_site/js/common/msg_zhcn.js"></script>
        <script language="javascript" src="$common_site/js/common/dataCheck.js"></script>


    </head>
    <body>
        #parse($industry_header_dir)
        <div id="main">
            <div class="template_main_up">
                <div id="main_bar">
                    <div class="banner_right">
                        <div class="banner_right_c">
                          <div class="left"></div>
                                                         <div class="right" onclick="window.location.href='/price/price_index.html'">意见建议</div>
                           
                        </div>
                        
                    </div>
                </div>
                <div id="main_content">
                    <div id="main_xjts" class="firstask">                       
                        <div class="xjts">
                            <div class="m_hang" style="padding-left:0;">
                                <div class="x_pic"></div>
                                <div class="x_content">
                                    <span class="s_none" style="color:#333333;">请写下您宝贵的意见：</span>
                                    <div class="clearing"></div>
                                    <textarea id="content" maxlength="200" notnull=""
                                              name="content"></textarea>
                                </div>
                            </div>
                            <div class="clearing"></div>
                        </div>
                        <div class="xjts">
                            <div class="m_hang" style="padding-left:0;">
                                <div class="x_pic"></div>
                                <div class="x_content">
                                    <span class="s_none" style="color:#333333;">请留下您的联系方式，以便我们联系您：</span>
                                    <div class="clearing"></div>
                                    <span class="s_name" style="color:#343434;">联系人:</span>
                                    <span class="s_value">
                                        <input id="linkman" maxlength="100" notnull=""
                                               check="isChinese" type="text" name="linkman" />
                                    </span>
                                    <div class="clearing"></div>
                                    <span class="s_name" style="color:#343434;">联系电话:</span>
                                    <span class="s_value">
                                        <input id="phone" maxlength="100" notnull=""
                                               check="isPhone" type="text" name="phone" />
                                    </span>
                                        <span style="color:#686868;left:-24px;position:relative;">留下您的联系方式参与造价通意见建议活动,你将有机会获得精美礼品一份</span>
                                    <div class="clearing"></div>
                                    <span class="s_name" style="color:#343434;">电子邮件:</span>
                                    <span class="s_value">
                                        <input id="email" maxlength="100" check="isEmail" notnull=""
                                               type="text" name="email" />
                                    </span>
                                    <div class="clearing"></div>
                                </div>
                            </div>
                            <div class="clearing"></div>
                            <div class="m_hang" style="padding-left:0;">
                                <div class="x_pic"></div>
                                <div class="x_content">
                                    <span class="s_none" style="color:#333333;">请输入验证码：</span>
                                    <div class="clearing"></div>
                                    <span class="s_name" style="color:#343434;">验证码:</span>
                                    <span class="s_value">
                                        <input type="text" style="width: 75px;" id="codeValue" />
                                    </span>
                                    <span class="s_name" style="top: 5px; position: relative;">
                                        <img id="imgCode" src="/authImg"> </span>
                                    <span class="s_none"
                                          style="font-weight: 100; margin-left: 20px;cursor:pointer;color:#333333;"><a
                                            onclick="refreshCode()">看不清，换一张</a> </span>
                                </div>
                            </div>
                            <div class="clearing"></div>
                            <div id="button_x">
                                <div id="submitbtn" class="button font_size_14" onclick="saveSuggest()">
									确 定
                                </div>
                                <div class="button font_size_14" onclick="resetAll()">
									重 置
                                </div>
                            </div>
                            <div class="clearing"></div>
                        </div>
                    </div>
                </div>
            </div>
         </div> 
         <div class="mask_layer" style="display:none;" id="mask_layer"></div>  
            #parse($footer_dir)
            <script type="text/javascript" src="$common_site/js/zjt/help/feedback.js"></script>
            
    </body>
</html><script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-18131443-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' :'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
