<style>
#footer{
width:99%;
min-width:780px;
margin:5px auto 0px auto;
height:70px;
background-image:url($!{c1wcw_dir}/images/cn/account/foot.png);
background-repeat:repeat-x;
}
#footer_memu{
width:640px;
display:table;
margin:0px auto;
}
#footer_memu ul{
width:640px;
margin:25px auto 0px auto;
}
#footer_memu .nav{
list-style-type:none;
float:left;
width:80px;
height:14px;
line-height:14px;
}
#copyright{
width:70%;
margin:10px auto 0px auto;
display:table;
}
#copyright ul{
width:470px;
margin:auto auto;
}
#copyright ul li{
list-style-type:none;
float:left;
height:14px;
line-height:14px;
}
a.black:hover{
text-decoration: none;
}
</style>
<div id="footer">
		<div id="footer_memu">
			<ul >
				        <li class="nav"><a href="/bottom/bottom_main.html?id=gywc">关于网材网</a></li>
				        <li class="nav"><a href="/bottom/bottom_main.html?id=fzjg">分支机构</a></li>
				        <li class="nav"><a href="/bottom/bottom_main.html?id=ggfw">广告服务</a></li>
				        <li class="nav"><a href="/bottom/bottom_main.html?id=hyfw">会员服务</a></li>
				        <li class="nav"><a href="/bottom/bottom_main.html?id=yjfk">意见反馈</a></li>
				        <li class="nav"><a href="/bottom/bottom_main.html?id=wzdh">网站导航</a></li>
				        <li class="nav"><a href="/bottom/bottom_main.html?id=flsm">法律声明</a></li>
				        <li class="nav"><a href="/bottom/bottom_main.html?id=zxkf">在线客服</a></li>
		   </ul>
		</div>
		<div class="clear"></div>
		<div id="copyright">
			<ul style="width:230px">
				<li style="width:230px;"><font style="font-family:arial,sans-serif" size="-1">&copy;</font>&nbsp;2010&nbsp;&nbsp;<a href="$!{ccwcw_dir}">$!{ccwcw_dir}</a></li>
			</ul>
		</div>
</div>
