<%@ page language="java" pageEncoding="UTF-8"%>
<%@page import="org.yeeda.costexpress.util.AuthCodeUtil"%>
<%@page
	import="org.yeeda.costexpress.dto.member.*,org.yeeda.costexpress.dto.*"%>
<div id="main_menu" style="width: 216px;">
	<%
		User user = (User) request.getSession().getAttribute("user");
		if (user != null) {
	%>
	<ul style="margin-top:1px;">
		<li class="main_menu_item font_size_14"
			onclick="window.location.href='purchaser_index.jsp'" id="person_info">
			个人信息
		</li>
		<%
			if (user.getEID() != null) {
		%>
		<li class="main_menu_item font_size_14"
			onclick="window.location.href='purchaser_empinfo.jsp'" id="emp_info">
			公司信息
		</li>
		<%
			}
		%>
		<%
			if (user.getAuth().contains(AuthCodeUtil.DEMAND_MANAGE)) {
					if (user.getEID() != null) {
		%>
		<li class="main_menu_item font_size_14"
			onclick="window.location.href='purchaser_demandmanage.jsp'"
			id="manage_demand">
			求购管理
		</li>
		<%
			}
				}
		%>
		<%
			if (user.getAuth().contains(AuthCodeUtil.SUPPLY_COL_VIEW)) {
					if (user.getEID() != null) {
		%>
		<li class="main_menu_item font_size_14"
			onclick="window.location.href='purchaser_supplymanage.jsp'"
			id="manage_supply">
			供应管理
		</li>
		<%
			}
				}
		%>
		<%
			if (user.getAuth().contains(AuthCodeUtil.DEMAND_MSG_MANAGE)) {
					if (user.getEID() != null) {
		%>
		<li class="main_menu_item font_size_14"
			onclick="window.location.href='purchaser_messagemanage.jsp'"
			id="liuyan">
			留言管理
		</li>
		<%
			}
				}
		%>
	</ul>
	<%
		}
	%>
</div>


