<div id="header">
	<div id="user_info" style="line-height:26px;">
		<div class="info-left"></div>
		<div class="info-middle">
			<div id="welcomeinfo" style="float:left">

			</div>
			<div style="float:left;margin-left:16px;"  id="shop_link_head"></div>
		</div>
		
		<div class="info-right"></div>
		
	</div>
	<div class="clear"></div>
	<div id="banner">
		<div class="logo">
		</div>
		<ul id="head_memu">
			<li class="menu_item">
				<a class="white" href="/index.html">首&nbsp;&nbsp;页</a>
			</li>
			<li class="separator">
				|
			</li>
			<li class="menu_item">
				<a class="white" href="/module/V3/project/index.html">项&nbsp;&nbsp;目</a>
			</li>
			<li class="separator">
				|
			</li>
			<li class="menu_item">
				<a class="white" href="/module/V3/tradeChannel/index.html">供&nbsp;&nbsp;求</a>
			</li>
			<li class="separator">
				|
			</li>
			<li class="menu_item">
				<a class="white" href="/module/V3/tradeChannel/index.html">商&nbsp;&nbsp;铺</a>
			</li>
		</ul>
	</div>
</div>