<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title></title>
    
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="$wcw_common_site/css/common/zxcg.css">
	
  </head>
  
  <body>
    <div id="tgcx_r">
	   		<div id="rmzx" class="item_xx">
				<div class="title_banner" style="width:277px;">
					<div class="title_banner_left" ></div>
					<div class="title_banner_center" style="width:271px;">
						<div class="title_icon"></div>
						<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2002/')">
						<div class="title_text">热门资讯</div>
						</a>
						<a class="blue2_a gengduo" href="$templateUtil.getInfoContentList('/20/2002/')"  target="_blank">更多＞＞</a>
					</div>
					<div class="title_banner_right" ></div>
				</div>
				<div class="content">
					<ul>
						
						         $!map.clear()
                    	$!map.put("tpath", "/20/2002/")
                    	#set($list = $infoService.searchInfoContentSummarys(8, 1,$!map, true))  
                    #foreach($obj in $list)
					<li>
					#if($!obj.getIssueType()=="1")
					<div class="li_icon"></div>
					 <a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">$!parameterUtil.truncString($!obj.getTitle(),36,"")</a>
					#else
					<div class="li_icon"></div>
					  <a  target="_blank" class="black_a" href="$!obj.getUrl()">$!parameterUtil.truncString($!obj.getTitle(),36,"")</a>
					#end
					</li>
					#end
					</ul>
				</div>
			</div>
	   		<div id="tgcx_ad" class="ad">
	   			
						$!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120312/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true))  
                    	#foreach($obj in $list)
	   			<a rel="external nofollow" href="$!obj.getUrl()" target="_blank" style="display: block;"> <img  alt="$!obj.getTitle()" width="277px" height="110px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" /> </a>
	   			#end
	   		</div>
	   		<div id="jghq" class="item_xx">
	   			<div class="title_banner" style="width:277px;">
					<div class="title_banner_left" ></div>
					<div class="title_banner_center" style="width:271px;">
						<div class="title_icon"></div>
						<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2003/')">
						<div class="title_text">价格行情</div>
						</a>
						<a class="blue2_a gengduo" href="$templateUtil.getInfoContentList('/20/2003/')"  target="_blank">更多＞＞</a>
					</div>
					<div class="title_banner_right" ></div>
				</div>
				<div class="content">
					<ul>
						$!map.clear()
                    	$!map.put("tpath", "/20/2003/")
                    	#set($list = $infoService.searchInfoContentSummarys(8, 1,$!map, true))
                    	#foreach($obj in $list)
					<li>
					  #if($!obj.getIssueType()=="1")
					  <div class="li_icon"></div>
					   <a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">$!parameterUtil.truncString($!obj.getTitle(),36,"") </a>
					  #else
					  <div class="li_icon"></div>
					   <a  target="_blank" class="black_a" href="$!obj.getUrl()">$!parameterUtil.truncString($!obj.getTitle(),36,"") </a>
					  #end
					</li>
					#end
					</ul>
				</div>
	   		</div>
	   		<div id="tgcx_ad" class="ad">
	   			        $!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120313/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1,$!map, true))  
                    	#foreach($obj in $list)
	   			<a rel="external nofollow" href="$!obj.getUrl() " target="_blank" style="display: block;> <img  alt="$!obj.getTitle()" width="277px" height="110px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" /> </a>
	   			#end
	   		</div>
	   		<div id="zhxx" class="item_xx">
	   			<div class="title_banner" style="width:277px;">
					<div class="title_banner_left" ></div>
					<div class="title_banner_center" style="width:271px;">
						<div class="title_icon"></div>
						<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2009/')">
						<div class="title_text">展会信息</div>
						</a>
						<a class="blue2_a gengduo" href="$templateUtil.getInfoContentList('/20/2009/')"  target="_blank">更多＞＞</a>
					</div>
					<div class="title_banner_right" ></div>
				</div>
				<div class="content">
					<ul>
					 $!map.clear()
                    	$!map.put("tpath", "/20/2009/")
                    	#set($list = $infoService.searchInfoContentSummarys(8, 1,  $!map, true))  
                    	#foreach($obj in $list)			
						<li >
						 #if($!obj.getIssueType()=="1")
						  <a  target="_blank" style="margin-left:8px;" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">$!parameterUtil.truncString($!obj.getTitle(),36,"")</a>
						 #else
						  <a  target="_blank" style="margin-left:8px;" class="black_a" href="$!obj.getUrl()">$!parameterUtil.truncString($!obj.getTitle(),36,"")</a>
						 #end
						</li>
					#end						
					</ul>
				</div>
	   		</div>
	   		<div id="wcbd" class="item_xx">
	   			<div class="title_banner" style="width:277px;">
					<div class="title_banner_left" ></div>
					<div class="title_banner_center" style="width:271px;">
						<div class="title_icon"></div>
						<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2010/')">
						<div class="title_text">网材宝典</div>
						</a>
						<a class="blue2_a gengduo" href="$templateUtil.getInfoContentList('/20/2010/')"  target="_blank">更多＞＞</a>
					</div>
					<div class="title_banner_right" ></div>
				</div>
				<div class="content">
					<ul>
						$!map.clear()
                    	$!map.put("tpath", "/20/2010/")
                    	#set($list = $infoService.searchInfoContentSummarys(8, 1,$!map, true))
                    	#foreach($obj in $list)
					<li>
					#if($!obj.getIssueType()=="1")
					<div class="li_icon"></div>
					   <a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">$!parameterUtil.truncString($!obj.getTitle(),36,"")</a>
					#else
					<div class="li_icon"></div>
					   <a  target="_blank" class="black_a" href="$!obj.getUrl()">$!parameterUtil.truncString($!obj.getTitle(),36,"")</a>
					#end
					</li>
					#end
					</ul>
				</div>
	   		</div>
	   		
	   	</div>

  </body>
</html>
