	
	<div class="left">
    
    	<!--	info star	-->
    	<div class="moudel_box">
        	<h1><span>企业基本信息</span></h1>
            <div class="moudel_box_co">
                <ul class="box_info">
               <p class="t_company_name">$!{epShop.getName()}</p>
                <li>联&nbsp;&nbsp;系&nbsp;人：$!{epShop.getContact()}</li>
                <li>所在地区：$!parameterUtil.isEmpay($!{epShop.getProvince()}) $!parameterUtil.isEmpay($!{epShop.getCity()})</li>
                <li title="$!parameterUtil.isEmpay($!{epShop.getAddr()})">地　　址：$!parameterUtil.isEmpay($!{epShop.getAddr()})</li>
                <li>手　　机：$!parameterUtil.isEmpay($!{epShop.getMobile()})</li>
                <li>电　　话：$!parameterUtil.isEmpay($!{epShop.getPhone()})</li>
                <li>传　　真：$!parameterUtil.isEmpay($!{epShop.getFax()})</li>
                <li>网　　址：$!parameterUtil.isEmpay($!{epShop.getHomePage()})</li>
                </ul>
            </div>
        </div>
        <!--	info end	-->
        
        <!--	product_sidebar star	-->
    	<div class="moudel_box m_t_10">
        	<h1><span>产品分类</span></h1>
            <div class="moudel_box_co">
                <dl class="left_sidemenu p_l_20 p_r_20 p_t_20">
                	<dt class="all"><a href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/product">所有产品</a></dt>
                </dl>
                <dl class="left_sidemenu p_l_20 p_r_20">
                    <dt>商家推荐</dt>
                <dd>#if($!dataInfo.module=="product-special")<b><a href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/product/0/list-1.html">特价产品</a></b>#else <a href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/product/0/list-1.html">特价产品</a>#end</dd>
                <dd> #if($!dataInfo.module=="product-popular")<b><a href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/product/1/list-1.html">热门产品</a></b>#else<a href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/product/1/list-1.html">热门产品</a>#end</dd>
                <dd>#if($!dataInfo.module=="product-new")<b><a href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/product/2/list-1.html">新品推荐</a></b>#else <a href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/product/2/list-1.html">新品推荐</a> #end</dd>
                <dd>#if($!dataInfo.module=="product-this")<b><a href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/product/3/list-1.html">本期推荐</a></b>#else <a href="$!{ccwcw_dir}/shop/$!{dataInfo.eid}/product/3/list-1.html">本期推荐</a>#end</dd>
                </dl>
                <dl class="left_sidemenu p_l_20 p_r_20 p_b_20" id="m_b_20">
                    <dt>商家分类</dt>
               <dd><a id="0" href="/shop/$!{dataInfo.eid}/product/list-0-1.html">未分类</a></dd>
                   #foreach ( $productClassify in $productClassifyList ) 
            	
            	<dd><a id="$!{productClassify.tid}" href="/shop/$!{dataInfo.eid}/product/list-$!{productClassify.tid}-1.html">$!{productClassify.cname}</a></dd>
				#end 
                </dl>
            </div>
        </div>
        <!--	product_sidebar end	-->
        
    </div>
    <!--	left end	-->

