<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
  <head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>网材网_涂料首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link rel="stylesheet" type="text/css" href="$wcw_common_site/css/ygcg/ygcgmtnr.css">
     <link rel="stylesheet" type="text/css" href="$wcw_common_site/css/ygcg/index.css">
  </head>
  
  <body>
  
  <div class="ccwcw_zxnr_center3_right">
         
            <div class="ccwcw_zxnr_center3_right_div1">
             
                <div class="ygcg_r_title" style="border: 1px solid #CCC; width: 274px;">
	    			<div class="ygcg_r_title_l"></div>
	    				<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2004/200402/')"><div class="ygcg_r_title_c" style="width: 123px;cursor:pointer">项目授权书</div></a>
	    			<div class="ygcg_r_title_r"><a  style="color: #D76A01;" target="_blank" href="$templateUtil.getInfoContentList('/20/2004/200402/')" class="yg_gd">更多>></a></div>
	    		</div>
                <div class="ccwcw_zxnr_center3_right_div1_bottom">
                   <ul class="ccwcw_zxnr_center3_right_div3_bottom_ul">
                      $!map.clear()
                    	$!map.put("tpath", "/20/2004/200402/")
                    	#set($list = $infoService.searchInfoContentSummarys(8, 1, $!map, true)) 
                    	#foreach($obj in $list)
                        <li class="over_li">
                            <div class="li_icon"></div><a  target="_blank" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" id="certer3_a">$!parameterUtil.truncString($!obj.getSubTitle(),35,"")</a>
                        </li>
                        #end
                       
                      </ul>
              </div>
    		</div>
            <div class="ccwcw_zxnr_center3_right_div2">
	                    
							$!map.clear()
							$!map.put("isHot", "0")
							$!map.put("isTop", "1")
							$!map.put("tpath", "/20/2012/201202/20120207/")
							#set($list = $infoService.searchInfoContentSummarys(1, 1,$!map, true))
							#foreach($obj in $list)
	                   <a rel="external nofollow" href="$!obj.getUrl()" target="_blank"><img  alt="$!obj.getTitle()" class="ccwcw_zxnr_center3_right_div2" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())"/></a>
	             #end
	                </div>
            <div class="ccwcw_zxnr_center3_right_div3">
              <div class="mtbd">
               <div class="ygcg_r_title" style="border-top:none;border-left:none;border-right:none; width: 274px;">
	    			<div class="ygcg_r_title_l"></div>
	    				<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2004/200405/')"><div  class="ygcg_r_title_c" style="width: 123px;cursor:pointer">现场报道</div></a>
	    			<div class="ygcg_r_title_r"><a  style="color: #D76A01;" target="_blank" href="$templateUtil.getInfoContentList('/20/2004/200405/')" class="yg_gd">更多>></a></div>
	    		</div>
	    		<div class="mtbd_container">
	    			<div class="mtbd_container_t">
	    			     
						                $!map.clear()
				                    	$!map.put("tpath", "/20/2004/200405/")
				                    	$!map.put("isTop", "1")
						
				                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true))   
				                    	#foreach($obj in $list)
	    				<div class="mtbd_container_img">
	    					<a  target="_blank" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())"><img  alt="$!obj.getTitle()" width="100px" height="84px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())"/></a>
	    				</div>
	    				<div class="mtbd_container_content">
	    					<div class="mtbd_container_title">
	    						<a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" style="font-size:14px;">$!parameterUtil.truncString($!obj.getSubTitle(),20,"")</a>
	    					</div>
	    					<div class="mtbd_container_text">$!obj.getSummary()</div>
	    				</div>
	    				#end
	    			</div>
	    			<div class="mtbd_container_b">
	    			
	    			
						                $!map.clear()
				                    	$!map.put("tpath", "/20/2004/200405/")
				                    	$!map.put("isTop", "0")
										$!map.put("isHot", "0")
				                    	#set($list = $infoService.searchInfoContentSummarys(4, 1,$!map, true)) 
				                    	#foreach($obj in $list)
	    				<ul>
	    					<li class="orange_p"></li>
	    					<li class="mtbd_list_text"><a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" style="font-size:14px;">$!parameterUtil.truncString($!obj.getSubTitle(),38,"")</a></li>
	    				</ul>
	    			#end
	    				
	    			</div>
	    		</div>
	    	</div>
    	  </div>
           
            
            
         <div class="ccwcw_zxnr_center3_right_div4">
         
          
							$!map.clear()
							$!map.put("isHot", "0")
							$!map.put("isTop", "1")
							$!map.put("tpath", "/20/2012/201202/20120208/")
							#set($list = $infoService.searchInfoContentSummarys(1, 1,$!map, true))
							#foreach($obj in $list)
	                  <a rel="external nofollow" href="$!obj.getUrl()" target="_blank"><img  alt="$!obj.getTitle()" class="ccwcw_zxnr_center3_right_div2" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())"/></a>
	            #end
         </div>
              
              
          <div class="ccwcw_zxnr_center3_right_div3">
           <div class="mtbd">
	             <div class="ygcg_r_title" style="border-top:none;border-left:none;border-right:none; width: 274px;">
		   			<div class="ygcg_r_title_l"></div>
		   				<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2004/200406/')"><div class="ygcg_r_title_c" style="width: 123px">媒体报道</div></a>
		   			<div class="ygcg_r_title_r"><a  style="color: #D76A01;" target="_blank" href="$templateUtil.getInfoContentList('/20/2004/200406/')" class="yg_gd">更多>></a></div>
	   		     </div>
		   		<div class="mtbd_container">
		   			<div class="mtbd_container_t">
		   			
						                $!map.clear()
				                    	$!map.put("tpath", "/20/2004/200406/")
				                    	$!map.put("isTop", "1")
								
				                    	#set($list = $infoService.searchInfoContentSummarys(1, 1,$!map, true))  
				                    	#foreach($obj in $list)
		   				<div class="mtbd_container_img">
		   					<a  target="_blank" href="/ygcg/ygcgmtnr.html"><img width="100px" height="84px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())"/></a>
		   				</div>
		   				<div class="mtbd_container_content">
		   					<div class="mtbd_container_title">
		   						<a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" style="font-size:14px;">$!parameterUtil.truncString($!obj.getSubTitle(),20,"")</a>
		   					</div>
		   					<div class="mtbd_container_text">$!obj.getSummary()</div>
		   				</div>
		   				#end
		   			</div>
		   			<div class="mtbd_container_b">
		   			
		   			    
		    			
							                $!map.clear()
					                    	$!map.put("tpath", "/20/2004/200406/")
					                    $!map.put("isTop", "0")
										$!map.put("isHot", "0")
					                    	#set($list = $infoService.searchInfoContentSummarys(4, 1, $!map, true))   
					                    	#foreach($obj in $list)
		   				<ul>
		   					<li class="orange_p"></li>
		   					<li class="mtbd_list_text"><a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" style="font-size:14px;">$!parameterUtil.truncString($!obj.getSubTitle(),38,"")</a></li>
		   				</ul>
		   				#end
		   				
		   		  </div>
		    </div>
           </div>
         </div>
            
            
        <div class="ccwcw_zxnr_center3_right_div4">
        
							$!map.clear()
							$!map.put("isHot", "0")
							$!map.put("isTop", "1")
							$!map.put("tpath", "/20/2012/201202/20120209/")
							#set($list = $infoService.searchInfoContentSummarys(1, 1,$!map, true))
							#foreach($obj in $list)
	                   <a rel="external nofollow" href="$!obj.getUrl()" target="_blank"><img  alt="$!obj.getTitle()" class="ccwcw_zxnr_center3_right_div2" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())"/></a>
	            #end
        </div>
            
       <div class="ccwcw_zxnr_center3_right_div3">
              <div class="mtbd">
	               <div class="ygcg_r_title" style="border-top:none;border-left:none;border-right:none; width: 274px;">
		    			<div class="ygcg_r_title_l"></div>
		    				<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2004/200407/')"><div class="ygcg_r_title_c" style="width: 123px;cursor:pointer">活动回顾</div></a>
		    			<div class="ygcg_r_title_r"><a  style="color: #D76A01;" target="_blank" href="$templateUtil.getInfoContentList('/20/2004/200407/')" class="yg_gd">更多>></a></div>
		    		</div>
		    		<div class="mtbd_container">
		    			<div class="mtbd_container_t">
		    			    
						                $!map.clear()
				                    	$!map.put("tpath", "/20/2004/200407/")
				                    	$!map.put("isTop", "1")
									
				                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true))   
				                    	#foreach($obj in $list)
		    				<div class="mtbd_container_img">
		    					<a  target="_blank" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())"><img width="100px" height="84px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())"/></a>
		    				</div>
		    				<div class="mtbd_container_content">
		    					<div class="mtbd_container_title">
		    						<a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" style="font-size:14px;">$!parameterUtil.truncString($!obj.getSubTitle(),20,"")</a>
		    					</div>
		    					<div class="mtbd_container_text">$!obj.getSummary()</div>
		    				</div>
		    				#end
		    				 
		    			</div>
		    			<div class="mtbd_container_b">
		    			
		    			   
						                $!map.clear()
				                    	$!map.put("tpath", "/20/2004/200407/")
				                    	$!map.put("isTop", "0")
										$!map.put("isHot", "0")
				                    	#set($list = $infoService.searchInfoContentSummarys(4, 1, $!map, true))   
				                    #foreach($obj in $list)
		    				<ul>
		    					<li class="orange_p"></li>
		    					<li class="mtbd_list_text"><a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" style="font-size:14px;">$!parameterUtil.truncString($!obj.getSubTitle(),38,"")</a></li>
		    				</ul>
		    				
		    				#end
		    				
		    			</div>
		    		</div>
	    	</div>
      </div>
 </div>


  </body>
  </html>
