<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
## 获取商铺信息
#set($epShop=$epShopService.getEpShopByEID($dataInfo.eid))
## 获取分类信息
#set($productClassifyList=$epShopService.getProductClassify($dataInfo.eid))
## 获取产品动态信息列表 1 7
#set($pageNo=$stringUtil.paseInt($dataInfo.pageNo, 1))
#set($pageSize=$stringUtil.paseInt($dataInfo.pageSize))
#set($recCount=$stringUtil.paseInt($dataInfo.recCount))
#set($pageCount=$stringUtil.paseInt($dataInfo.pageCount))
#set($firstPage=$dataInfo.firstPage)
#set($listInfoContentSummarys=$epShopService.searchInfoContentSummarys($dataInfo.eid, $pageSize ,$pageNo))
<html>
  <head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="$!{c1wcw_dir}/css/common/reset.css" />
<link rel="stylesheet" type="text/css" href="$!{c1wcw_dir}/css/common/topbar_common.css" />
<link rel="stylesheet" type="text/css" href="$!{c1wcw_dir}/css/shop/shops03_common.css" />
<link rel="stylesheet" type="text/css" href="$!{c1wcw_dir}/css/shop/shops03_case.css" />
	<script type="text/javascript" src="$!{c1wcw_dir}/js/common/jyeeda.js"></script> 
    <script type="text/javascript" src="$!{c1wcw_dir}/js/common/dataStore.js"></script>
	<script type="text/javascript" src="$!{c1wcw_dir}/js/common/pageTool.js"></script>
	<script type="text/javascript" src="$!{c1wcw_dir}/js/common/basic.js"></script>
	<script type="text/javascript" src="$!{c1wcw_dir}/js/common/dataCheck.js"></script>
	<script type="text/javascript" src="$!{c1wcw_dir}/js/common/ConCom.js"></script>
		<script type="text/javascript" src="$!{c1wcw_dir}/js/common/common.js"></script>
	<title>$!{epShop.getName()}_案例展示_网材网</title>

  </head>
  
 <body>
	<!-- 引入头部 -->
    #parse($shop_vip_header_dir)
	<!-- 商铺首页主体部分 -->
    
 <!--	contanier star	-->
<div class="contanier">
	    #parse($shop_vip_left_dir)
  <div class="right">
    
    	<!--	moudel_box_right star	-->
        <div class="moudel_box_right">
        	<h1 class="title_bg">案例产品</h1>
            
            <ul class="alzs_list_box">
               #if($listInfoContentSummarys.size()==0)
				<div class="nofound"></div>
				#else
	    			#foreach ( $infoContentSummarys in $listInfoContentSummarys )
	    			     <li>
			                <span class="alzs_list_box_img">
			                
			                   <img id="picPath_$!{infoContentSummarys.id}" src="$!{ftp_pic}$!{infoContentSummarys.picPath}"/>
			                
			                 </span>
			                <div class="alzs_list_box_name">$!{infoContentSummarys.title}</div>
			            </li>
	    			
					#end
				#end
        
            </ul>
            
            <div class="clear"></div>
        
				<div class="page_list">
		          <div>#parse($shop_page_dir)</div>
		        </div>
            
        </div>
        
    </div>
    <div class="clearfix"></div>
</div>
<!--	contanier end	-->   
    
 
    

  
   
    <!-- 引入尾部 -->
    #parse($shop_vip_footer_dir)
</body>
</html>
