<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>询价列表_造价通($dataInfo.province)</title>
<meta name="description"
	content="全国首创一对一$cidObj.getOtherName()询价服务模式，高效优质地提供非标建材价格等信息的$cidObj.getOtherName()服务，有效地弥补了政府信息价覆盖面有限的局面，完美地解决了困扰造价行业多年的顽疾。"/>
<meta name="keywords"	
	content="全国首创一对一非标建筑材料价格等信息$cidObj.getOtherName()询价。"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/ask_not_enquiry.css"/>
<link rel="stylesheet" type="text/css" href="$common_site/css/common/common.css" /
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/reset.css"/>
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_common.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_index.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_search.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_tips_info.css"/>

</head>
<body>
#parse($header_dir)
<div id="xunjia_content" style="text-align:left;" class="clearfix">
	<div class="f_left w_w_730" style="position:relative;">
        #parse($ask_index_search)
        <div class="crumb" style="width:752px;">
            <ul id="location">
                <li class="crumb_hp"><a href="/">首页</a></li>
	            <li><a href="/ask">询价学堂</a></li>
	            <li><a href="/ask/ask_recommend_1.html">所有询价</a></li>
	            <li id="cname"></li>
	            <li id="subCname"></li>
            </ul>
        </div>

        
        <div id="subcid" class="border_1_gray m_top_10" style="padding:0;">
        	<h1 class="bgcolor_title_name"></h1>
            <ul class="category_con clearfix" id="subTypeList">
            	
            </ul>
        </div>
        
         <div id="cid"  class="border_1_gray m_top_10" style="padding:0;display:none;">
        	<div class="all_style_tab_box" >
                <ul class="all_style_tab" id="show_cidList">
                    <li id="oneCid"><a  href="javascript:void(0);" class="cur">土建材料</a></li>
                    <li id="oneCid_1"><a href="javascript:void(0);">安装材料</a></li>
                    <li id="oneCid_2"><a href="javascript:void(0);">装饰材料</a></li>
                    <li id="oneCid_3"><a href="javascript:void(0);">市政园林</a></li>
                </ul>
            </div>
            
            <ul class="category_con clearfix" id="oneCid_div">
            	  #set($cidList=$rationLibUtil.getCodeList("1", false))
	            	#foreach($cidObj in $cidList)
	            	
	            	#if($count == 1 && $cidObj.getCode() != "00")
                          <li><a  onclick="searchCid('$cidObj.getCode()',this)" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
                    #elseif($cidObj.getCode() != "00")
                          <li><a  onclick="searchCid('$cidObj.getCode()',this)" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
                    #end
	                   
	               	             
	                #end
	               
            </ul>
             <ul class="category_con clearfix" id="oneCid_1_div" style="display:none;">
            	  #set($cidList=$rationLibUtil.getCodeList("3",false))
	            	#foreach($cidObj in $cidList)
	                    <li><a  onclick="searchCid('$cidObj.getCode()',this)" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	               	             
	                #end
	               
            </ul>
             <ul class="category_con clearfix" id="oneCid_2_div" style="display:none;">
            	  #set($cidList=$rationLibUtil.getCodeList("2", false))
	            	#foreach($cidObj in $cidList)
	                    <li><a  onclick="searchCid('$cidObj.getCode()',this)" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	               	             
	                #end
	               
            </ul>
             <ul class="category_con clearfix" id="oneCid_3_div" style="display:none;">
             
                #set($cidList=$rationLibUtil.getCodeList("5", false))
                #set($count = 1)
            	#foreach($cidObj in $cidList)
            	#if($count == 1)
                     <li><a  onclick="searchCid('$cidObj.getCode()',this)" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
                #else
                     <li><a  onclick="searchCid('$cidObj.getCode()',this)" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
                #end
                #set($count = $count + 1)
                #end
                
                #set($cidList1=$rationLibUtil.getCodeList("4", false))
            	#foreach($cidObj in $cidList1)
                     <li><a  onclick="searchCid('$cidObj.getCode()',this)" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
                #end
            </ul>
        </div>
        
        
        <div class="border_1_gray m_top_10" style="float:left;width:738px;">
        	<ul class="search_tab_xj clearfix" id="ask_price_info" style="width:738px;">
            	<div class="f_right paixun_sel">
                	<a href="javascript:void(0);" id="mrpx" class="cur" onclick="searchList('2',this);return false;" title="按发布时间排序">默认排序</a>
                    <a href="javascript:void(0);" id="scoreMax" title="悬赏从高到低" tip="" onclick="searchList('1',this);return false;" class="arrow_top">悬赏</a>
                </div>
            	
                <li><a id="recommend" href="javascript:void(0);" onclick="askPriceListBlock('recommend');return false;" class="cur">已解决询价</a></li>
            	<li><a id="toSolve" href="javascript:void(0);" onclick="askPriceListBlock('toSolve');return false;" >待解决询价</a></li>
               
            </ul>
            
            <ul class="zj_search_list_title">
                <li>
                    <span class="xuanshan">悬赏</span>
                    <span class="biaoti">材料名称</span>
                    <span class="guige_xinghao">规格型号</span>
                    <span class="huifu_shu text_center">回复数</span>
                    <span class="diqu text_center">报价地区</span>
                    <span class="xunjia_times text_center">发布日期</span>
                </li>
            </ul>
            
            
            <ul class="zj_search_list" id="listbody">
             
                
            </ul>
            
            <div class="search_wrong_tips" id="toSolveAskPrice" style="display:none;">
                <p class="f_zise_14 f_blod line_47">抱歉！未找到与此条件匹配的“待解决询价”!</p>
                <p class="c_org_02 f_zise_13 f_blod">造价通建议您：</p>
                <p class="c_gray_666 m_top_10">如您需要询价，可以在此 <a href="javascript:void(0);" onclick="releaseAsk();return false;" class="link_bule">发布询价</a></p>
                <p class="c_gray_666">如您想要回复询价赚取积分，可以看看其他感兴趣的材料里有没有朋友在询价。 <a href="/ask/ask_search.html?type=all" class="link_bule">去看看</a></p>
            </div> 
           
           <div class="search_wrong_tips" id="hasSolvedTheAskPrice" style="display:none;">
                <p class="line_47 f_zise_14 f_blod">抱歉！未找到与此条件匹配的“已解决询价”!</p>
                <p class="c_org_02 f_zise_13 f_blod">造价通建议您：</p>
                <p class="c_gray_666 m_top_10">如您需要询价，可以在此 <a href="javascript:void(0);" onclick="releaseAsk();return false;" class="link_bule">发布询价</a></p>
            </div>
            
            
            <div id="ask_templistbody" style="display:none;">
            
                <li class="clearfix" style="width:720px" >
                	<span class="xunjia_times f_right c_gray_888 text_center" style="height:25px;">@{createOn|split_date}</span>
                    <span class="icon_price f_left" style="height:23px;">@{score}</span>
                    <span class="search_list_title f_left text_overflow" title="@{name}" style="height:23px;"><a href="${dataInfo.siteUrl}/ask_info/@{id}.html" target="_blank" style="height:23px;">@{name}</a></span>
                    <span class="guige_xinghao f_left c_gray_888 text_overflow" title="@{spec}" style="height:23px;">@{spec}</span>
                    <span class="huifu_shu f_left c_gray_888 text_center" style="height:23px;">@{revNum}</span>
                    <span class="ans_city text_overflow f_left text_center" title="@{addr}" style="height:23px;">@{addr|address}</span>
                </li>
            </div>
           
            <div id="page" class="digg">
            
               
            </div>
            
        </div>
        
  	</div>
  #parse($ask_index_right)
#parse($footer_dir)
#parse($login_tip)


<script type="text/javascript" src="$common_site/js/zjt/ask/ask_search.js"></script>
 <script language="javascript" src="$common_site/js/zjt/ask/ask_index_right.js"></script>
</body>
</html>
