<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
#if($dataInfo.cid=="null")
	#if($dataInfo.status=="3") 
	询价列表_造价通_所有询价_已解决询价_($dataInfo.province)
	#else 
	询价列表_造价通_所有询价_待解决询价_($dataInfo.province)  
	#end
#end 

#if($dataInfo.cid !="null" && $dataInfo.subcid == "null")
   #if($dataInfo.status=="3") 
	询价列表_造价通_($dataInfo.cidname)_已解决询价_($dataInfo.province)
   #else 
	询价列表_造价通_($dataInfo.cidname)_待解决询价_($dataInfo.province)  
   #end
#end


#if($dataInfo.cid !="null" && $dataInfo.subcid != "null")
   #if($dataInfo.status=="3") 
	询价列表_造价通_($dataInfo.cidname)_($dataInfo.subcidname)_已解决询价_($dataInfo.province)
   #else 
	询价列表_造价通_($dataInfo.cidname)_($dataInfo.subcidname)_待解决询价 _($dataInfo.province) 
   #end
#end
</title>
<meta name="description"
	content="全国首创一对一$cidObj.getOtherName()询价服务模式，高效优质地提供非标建材价格等信息的$cidObj.getOtherName()服务，有效地弥补了政府信息价覆盖面有限的局面，完美地解决了困扰造价行业多年的顽疾。"/>
<meta name="keywords"	
	content="全国首创一对一非标建筑材料价格等信息$cidObj.getOtherName()询价。"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/ask_not_enquiry.css"/>
<link rel="stylesheet" type="text/css" href="$common_site/css/common/common.css" /
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/reset.css"/>
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_common.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_index.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_search.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_tips_info.css"/>
</head>
<body>
#parse($header_dir)
<div id="xunjia_content" style="text-align:left;" class="clearfix">
	<div class="f_left w_w_730" style="position:relative;">
        #parse($ask_index_search)
        <div class="crumb" style="width:752px;">
            <ul id="location">
                <li class="crumb_hp"><a href="/">首页</a></li>
	            <li><a href="${dataInfo.siteUrl}/ask">询价学堂</a></li>
	            #if($dataInfo.htmlName =="recommend")
	            <li><a href="${dataInfo.siteUrl}/ask/ask_${dataInfo.htmlName}_1.html">所有询价</a></li>
	            #else
	            <li><a href="${dataInfo.siteUrl}/ask/ask_${dataInfo.htmlName}_1.html">所有询价</a></li>
	            #end
	            #if($dataInfo.cid !="null")
	               <li><a href="${dataInfo.siteUrl}/ask/ask_${dataInfo.cid}_${dataInfo.htmlName}_1.html">$dataInfo.cidname</a></li>
	            #end
	            #if($dataInfo.subcid !="null")
	            <li><a href="${dataInfo.siteUrl}/ask/ask_${dataInfo.subcid}_${dataInfo.htmlName}_1.html">$dataInfo.subcidname</a></li>
	            #end
            </ul>
        </div>
        #if($dataInfo.type=="2")
        <div id="subcid" class="border_1_gray m_top_10" style="padding:0;">
        	<h1 class="bgcolor_title_name">$dataInfo.cidname</h1>
            <ul class="category_con clearfix" id="subTypeList">
              
              #set($subcidList=$askService.subcids($dataInfo.province,$dataInfo.status,$dataInfo.cid))
            
              #if(!$subcidList && $subcidList.size()>0)
		          #foreach($subcidObj in $subcidList)
		           #if($subcidObj.getCode()==$dataInfo.subcid)
		            <li><a class="ask_search_select_onclick"  href ="${dataInfo.siteUrl}/ask/ask_$subcidObj.getCode()_${dataInfo.htmlName}_1.html"  title="$subcidObj.getName()">$subcidObj.getName()</a></li>   
		           #else
		            <li><a  href ="${dataInfo.siteUrl}/ask/ask_$subcidObj.getCode()_${dataInfo.htmlName}_1.html"  title="$subcidObj.getName()">$subcidObj.getName()</a></li>     
		           #end         
		          #end
	          #else
	            <div class="search_wrong_tips" style="margin:0px;margin-left:160px;padding-bottom:0px;">
                <p class="f_zise_14 f_blod line_47">抱歉！未找到与此条件匹配的“二级分类”!</p>
                </div> 
	          #end
            </ul>
        </div>
        #else
        
	      <div id="cid"  class="border_1_gray m_top_10" style="padding:0;">
	            #set($cidList_one=$askService.cids($dataInfo.province, "1",$dataInfo.status))
	            #set($cidList_two=$askService.cids($dataInfo.province, "2",$dataInfo.status))
	            #set($cidList_three=$askService.cids($dataInfo.province, "3",$dataInfo.status))
	            #set($cidList_four=$askService.cids($dataInfo.province, "4",$dataInfo.status))
	            #set($cidList_five=$askService.cids($dataInfo.province, "5",$dataInfo.status))
	           
	           #if((!$cidList_one && $cidList_one.size>0) || (!$cidList_three && $cidList_three.size())>0 ||  (!$cidList_two && $cidList_two.size())>0 || (!$cidList_five && $cidList_five.size())>0 || (!$cidList_five && $cidList_four.size())>0)
	              <div class="all_style_tab_box" >
	                <ul class="all_style_tab" id="show_cidList">
		                #if(!$cidList_one && $cidList_one.size()>0)
	                    <li id="oneCid"><a  href="${dataInfo.siteUrl}/ask/ask_1_${dataInfo.htmlName}_1.html" class="cur">土建材料</a></li>
	                    #end
	                    #if(!$cidList_three && $cidList_three.size()>0)
	                    <li id="oneCid_1"><a href="${dataInfo.siteUrl}/ask/ask_2_${dataInfo.htmlName}_1.html">安装材料</a></li>
	                    #end
	                    #if(!$cidList_two && $cidList_two.size()>0)
	                    <li id="oneCid_2"><a href="${dataInfo.siteUrl}/ask/ask_3_${dataInfo.htmlName}_1.html">装饰材料</a></li>
	                    #end
	                    #if((!$cidList_five && $cidList_five.size())>0 || (!$cidList_four && $cidList_four.size())>0)
	                    <li id="oneCid_3"><a href="${dataInfo.siteUrl}/ask/ask_5_${dataInfo.htmlName}_1.html">市政园林</a></li>
	                    #end
	                </ul>
	            </div>
	            #if(!$cidList_one)
	            <ul class="category_con clearfix" id="oneCid_div">
		              #foreach($cidObj in $cidList_one)
		            	#if($count == 1 && $cidObj.getCode() != "00")
	                          <li><a href="${dataInfo.siteUrl}/ask/ask_$cidObj.getCode()_${dataInfo.htmlName}_1.html"   title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                    #elseif($cidObj.getCode() != "00")
	                          <li><a href="${dataInfo.siteUrl}/ask/ask_$cidObj.getCode()_${dataInfo.htmlName}_1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                    #end           
		              #end
		               
	            </ul>
	            #end

	            #if(!$cidList_three)
	            <ul class="category_con clearfix" id="oneCid_1_div" style="display:none;">
	            	 
		            	#foreach($cidObj in $cidList_three)
		                    <li><a  href="${dataInfo.siteUrl}/ask/ask_$cidObj.getCode()_${dataInfo.htmlName}_1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
		               	             
		                #end
		               
	            </ul>
	           
	            #end

	            #if(!$cidList_two)
	             <ul class="category_con clearfix" id="oneCid_2_div" style="display:none;">
	            	  
		            	#foreach($cidObj in $cidList_two)
		                    <li><a  href="${dataInfo.siteUrl}/ask/ask_$cidObj.getCode()_${dataInfo.htmlName}_1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
		               	             
		                #end
		               
	            </ul>
	           
	            #end
	            #if(!$cidList_five || !$cidList_four)
	             <ul class="category_con clearfix" id="oneCid_3_div" style="display:none;">
	              
	                #set($count = 1)
	            	#foreach($cidObj in $cidList_five)
	            	#if($count == 1)
	                     <li><a href="${dataInfo.siteUrl}/ask/ask_$cidObj.getCode()_${dataInfo.htmlName}_1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                #else
	                     <li><a href="${dataInfo.siteUrl}/ask/ask_$cidObj.getCode()_${dataInfo.htmlName}_1.html"  title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                #end
	                #set($count = $count + 1)
	                #end
	                
	               
	            	#foreach($cidObj in $cidList_four)
	                     <li><a href="${dataInfo.siteUrl}/ask/ask_$cidObj.getCode()_${dataInfo.htmlName}_1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                #end
	            </ul>
	            #end
	           #else
	            <div class="search_wrong_tips" style="margin:20px auto 0px;padding-bottom:0px;">
                  <p class="f_zise_14 f_blod line_47" style="margin:0px;padding-bottom:20px;">抱歉！未找到与此条件匹配的“一级分类”!</p>
                </div>
	           #end
	           
	        	
	        </div>
        #end
        
        
        <div class="border_1_gray m_top_10" style="float:left;width:738px;">
        	<ul class="search_tab_xj clearfix" id="ask_price_info" style="width:738px;">
             #if($dataInfo.type=="1")
            	#if($dataInfo.htmlName == "recommend")
            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_recommend_1.html" class="cur">已解决询价</a></li>
            	#else
            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_recommend_1.html" >已解决询价</a></li>
            	#end
                #if($dataInfo.htmlName == "toSolve")
            	<li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_toSolve_1.html" class="cur">待解决询价</a></li>
            	#else
            	  <li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_toSolve_1.html">待解决询价</a></li>
            	#end
             #else
                #if($dataInfo.subcid=="null")
	                #if($dataInfo.htmlName == "recommend")
	            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_${dataInfo.cid}_recommend_1.html" class="cur">已解决询价</a></li>
	            	#else
	            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_${dataInfo.cid}_recommend_1.html" >已解决询价</a></li>
	            	#end
	                #if($dataInfo.htmlName == "toSolve")
	            	<li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_${dataInfo.cid}_toSolve_1.html" class="cur">待解决询价</a></li>
	            	#else
	            	  <li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_${dataInfo.cid}_toSolve_1.html">待解决询价</a></li>
	            	#end
	            #else
	            
	                #if($dataInfo.htmlName == "recommend")
	            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_${dataInfo.subcid}_recommend_1.html" class="cur">已解决询价</a></li>
	            	#else
	            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_${dataInfo.subcid}_recommend_1.html" >已解决询价</a></li>
	            	#end
	                #if($dataInfo.htmlName == "toSolve")
	            	<li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_${dataInfo.subcid}_toSolve_1.html" class="cur">待解决询价</a></li>
	            	#else
	            	  <li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_${dataInfo.subcid}_toSolve_1.html">待解决询价</a></li>
	            	#end
	            
            	#end
             #end
               
            </ul>
            
            <ul class="zj_search_list_title">
                <li>
                    <span class="xuanshan">悬赏</span>
                    <span class="biaoti">材料名称</span>
                    <span class="guige_xinghao">规格型号</span>
                    <span class="huifu_shu text_center">回复数</span>
                    <span class="diqu text_center">报价地区</span>
                    <span class="xunjia_times text_center">发布日期</span>
                </li>
            </ul>
            
            
            #if($dataInfo.status=="2")
            <div class="search_wrong_tips" id="toSolveAskPrice">
                <p class="f_zise_14 f_blod line_47">抱歉！未找到与此条件匹配的“待解决询价”!</p>
                <p class="c_org_02 f_zise_13 f_blod">造价通建议您：</p>
                <p class="c_gray_666 m_top_10">如您需要询价，可以在此 <a href="javascript:void(0);" onclick="releaseAsk();return false;" class="link_bule">发布询价</a></p>
                <p class="c_gray_666">如您想要回复询价赚取积分，可以看看其他感兴趣的材料里有没有朋友在询价。 <a href="${dataInfo.siteUrl}/ask/ask__toSolve_1.html?type=all" class="link_bule">去看看</a></p>
            </div> 
            #else
           
           <div class="search_wrong_tips" id="hasSolvedTheAskPrice">
                <p class="line_47 f_zise_14 f_blod">抱歉！未找到与此条件匹配的“已解决询价”!</p>
                <p class="c_org_02 f_zise_13 f_blod">造价通建议您：</p>
                <p class="c_gray_666 m_top_10">如您需要询价，可以在此 <a href="javascript:void(0);" onclick="releaseAsk();return false;" class="link_bule">发布询价</a></p>
            </div>
            #end
      
            
        </div>
        
  	</div>
  #parse($ask_index_right)
#parse($footer_dir)
#parse($login_tip)
<script type="text/javascript" src="$common_site/js/zjt/ask/ask_All.js"></script>
<script language="javascript" src="$common_site/js/zjt/ask/ask_index_right.js"></script>
</body>
</html>
