<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/reset.css"/>
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_common.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/fabu_xj_step.css" />
<title>询价学堂_最好的建材价格分享平台_($dataInfo.province)造价通</title>
<meta name="description"
	content="造价通询价学堂开启行业一对一询价人工服务模式，及时、准确、高效解决特殊材料、非标材料询价难题，针对新型材料询价、偏僻材料询价、非标材料询价、配电箱询价、园林苗木询价、特种设备询价等需求，提供人工询价服务，为您解决各类建材询价、经验价等问题。"/>
<meta name="keywords"	
	content="询价，材料询价，人工询价，一对一询价，非标材料询价，配电箱询价，园林苗木询价，经验价"/>
</head>

<body>

#parse($header_dir)
   <div class="crumb">
       <ul id="crumb_link">
			<li class="crumb_hp"><a href="/">首页</a></li>
		    <li><a href="/ask/ask_index.html">询价学堂</a></li>
		    <li>发布询价</li>
       </ul>
   </div>
    

<div id="xunjia_content" >
	<div class="border_1_gray">
    	<h1 class="title_name">发布询价</h1>
        <div class="fabu_xj_steps_01"></div>
        <div class="select_style clearfix">
        <div class="xz_fb_tips"><span>温馨提示：</span>请详细填写材料信息，询价工作人员将更准确的为您询价。</div>
        	<div class="select_style_box" style="text-align:left;">
            	<h1>选择大类</h1>
                <ul id="show_cidList"> 
                    <li id="oneCid_3"><span >市政园林</span></li>
                    <li id="oneCid_1"><span >安装材料</span></li>
                    <li id="oneCid_2"><span >装饰材料</span></li>
                	<li id="oneCid"><span>土建材料</span></li>
                </ul>
            </div>
            <div class="select_style_box" style="text-align:left;">
            	<h1>选择一级分类</h1>
                <ul id="oneCid_div" style="display:none;">
                	 #set($cidList=$rationLibUtil.getCodeList("1", false))
	            	#foreach($cidObj in $cidList)
	            	#if($count == 1 && $cidObj.getCode() != "00")
                         <li><span id="$cidObj.getCode()" href="#" onclick="listCidName('$cidObj.getCode()')" title="$cidObj.getOtherName()">$cidObj.getOtherName()</span></li>
                    #elseif($cidObj.getCode() != "00")
                         <li><span id="$cidObj.getCode()" href="#" onclick="listCidName('$cidObj.getCode()')" title="$cidObj.getOtherName()">$cidObj.getOtherName()</span></li>
                    #end
	            	
	               	             
	                #end
                </ul>
                <ul id="oneCid_1_div" style="display:none;">
                	 #set($cidList=$rationLibUtil.getCodeList("3", false))
	            	#foreach($cidObj in $cidList)
	                    <li><span id="$cidObj.getCode()" href="#" onclick="listCidName('$cidObj.getCode()')" title="$cidObj.getOtherName()">$cidObj.getOtherName()</span></li>
	               	             
	                #end
                </ul>
                <ul id="oneCid_2_div" style="display:none;">
                	 #set($cidList=$rationLibUtil.getCodeList("2", false))
	            	#foreach($cidObj in $cidList)
	                    <li><span id="$cidObj.getCode()" href="#" onclick="listCidName('$cidObj.getCode()')" title="$cidObj.getOtherName()">$cidObj.getOtherName()</span></li>
	               	             
	                #end
                </ul>
                <ul id="oneCid_3_div" style="display:none;">
                	  #set($cidList=$rationLibUtil.getCodeList("5", false))
		                #set($count = 1)
		            	#foreach($cidObj in $cidList)
		            	#if($count == 1)
		                     <li><span id="$cidObj.getCode()" href="#" onclick="listCidName('$cidObj.getCode()')" title="$cidObj.getOtherName()">$cidObj.getOtherName()</span></li>
		                #else
		                     <li><span id="$cidObj.getCode()" href="#" onclick="listCidName('$cidObj.getCode()')" title="$cidObj.getOtherName()">$cidObj.getOtherName()</span></li>
		                #end
		                #set($count = $count + 1)
		                #end
		                
		                #set($cidList1=$rationLibUtil.getCodeList("4", false))
		            	#foreach($cidObj in $cidList1)
		                     <li><span id="$cidObj.getCode()" href="#" onclick="listCidName('$cidObj.getCode()')" title="$cidObj.getOtherName()">$cidObj.getOtherName()</span></li>
		                #end
                </ul>
            </div>
            <div class="select_style_box" style="text-align:left;">
            	<h1>选择二级分类</h1>
                <ul id="subTypeList">
                	
                </ul>
            </div>
        </div>
        
        <p class="padding_20" align="center">
        	<input name="" type="button" class="btn_step_org" value="下一步" onclick="releaseInquiry()" />
        </p>
        
    </div>
</div>

<div class="mask_layer" id="mask_layer" style="display:none;"></div>
<div class="pop_set_nicheng" id="pop_set_nicheng" style="text-align:left;display:none;">
	<h1>设置昵称</h1>
    <div class="set_nicheng_box">
    	<p>您还没有设置昵称，昵称作为您形象的一部分将出现在网站重要位置！</p>
        <p>您的昵称：
        	<input id="nickName" type="text" class="txt input_box_border input_w_250" />
            <span class="c_gray_999">(最多可5个字的昵称)</span>
            <!--
            1.初始状态时
            <span class="c_gray_999">(最多可5个字的昵称)</span>
            2.当昵称有人使用的时候
            <span class="i_tips_wrong">此昵称太受欢迎，已有人抢了</span>
            3.当无此昵称时
            <span class="i_tips_right">此昵称可以使用</span>
            -->
        </p>
        <p style="padding:10px 0 0 70px;"><input name="" type="button" class="btn_step_org" value="确定" onclick="setNickName('release');" /></p>
    </div>
</div>
<script type="text/javascript"  src="$common_site/js/zjt/commonJS/zhcn_db.js"></script>
<script type="text/javascript"  src="$common_site/js/common/zhcn_select.js"></script>
<script type="text/javascript" src="$common_site/js/zjt/commonJS/score_db.js"></script>
<script type="text/javascript" src="$common_site/js/common/score_util.js"></script>
<script type="text/ecmascript" src="$common_site/js/zjt/ask/ask_choosecid.js"></script>
#parse($footer_dir)
</body>
</html>
