<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#set($listContent=$dataInfo.contents)
#set($title=$dataInfo.title)
#set($pageNo=1)
#set($pageNo=$pageNo.parseInt($dataInfo.page))
#set($pageSize=20)
#set($pageSize=$pageSize.parseInt($dataInfo.pageSize))
#set($recCount=20)
#set($recCount=$recCount.parseInt($dataInfo.count))
#set($pageCount=3)
#set($pageCount=$pageCount.parseInt($dataInfo.pageCount))
#set($firstPage=$dataInfo.firstPage)


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> 
#if($dataInfo.cid=="null")
	#if($dataInfo.status=="3") 
	询价列表_造价通_所有询价_已解决询价_($dataInfo.province)
	#else 
	询价列表_造价通_所有询价_待解决询价_($dataInfo.province)  
	#end
#end 

#if($dataInfo.cid !="null" && $dataInfo.subcid == "null")
   #if($dataInfo.status=="3") 
	询价列表_造价通_($dataInfo.cidname)_已解决询价_($dataInfo.province)
   #else 
	询价列表_造价通_($dataInfo.cidname)_待解决询价_($dataInfo.province)  
   #end
#end


#if($dataInfo.cid !="null" && $dataInfo.subcid != "null")
   #if($dataInfo.status=="3") 
	询价列表_造价通_($dataInfo.cidname)_($dataInfo.subcidname)_已解决询价_($dataInfo.province)
   #else 
	询价列表_造价通_($dataInfo.cidname)_($dataInfo.subcidname)_待解决询价 _($dataInfo.province) 
   #end
#end



#if($dataInfo.cid !="null" && $dataInfo.subcid != "null")
   #if($dataInfo.status=="3") 
	询价列表_造价通_($dataInfo.cidname)_($dataInfo.subcidname)_已解决询价_($dataInfo.province)
   #else 
	询价列表_造价通_($dataInfo.cidname)_($dataInfo.subcidname)_待解决询价 _($dataInfo.province) 
   #end
#end



</title>
<meta name="description" content="
#if($dataInfo.cid=="null")
	询价列表_造价通_所有询价_($dataInfo.province)
#else
 $!{dataInfo.cidname} $!{dataInfo.subcidname} $!{dataInfo.province} 询价
#end "/>
<meta name="keywords"	content="
#if($dataInfo.cid=="null")
	询价列表_造价通_所有询价_($dataInfo.province)
#else
 $!{dataInfo.cidname} $!{dataInfo.subcidname} $!{dataInfo.province} 询价
#end 
"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/ask_not_enquiry.css"/>
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/reset.css"/>
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_common.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_index.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_search.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ask/xunjia_tips_info.css"/>

</head>
<body>
#parse($header_dir)
<div id="xunjia_content" style="text-align:left;" class="clearfix">
	<div class="f_left w_w_730" style="position:relative;">
        #parse($ask_index_search)
        <div class="crumb" style="width:752px;">
            <ul >
                <li class="crumb_hp"><a href="/">首页</a></li>
	            <li><a href="/ask">询价学堂</a></li>
	            #if($dataInfo.htmlName =="recommend")
	            <li><a href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.htmlName}1.html">所有询价</a></li>
	            #else
	            <li><a href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.htmlName}1.html">所有询价</a></li>
	            #end
	            #if($dataInfo.cid !="null")
	               <li><a href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.cid}/${dataInfo.htmlName}1.html">$dataInfo.cidname</a></li>
	            #end
	            #if($dataInfo.subcid !="null")
	            <li><a href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.subcid}/${dataInfo.htmlName}1.html">$dataInfo.subcidname</a></li>
	            #end
            </ul>
        </div>
        
        #if($dataInfo.type=="2")
        <div id="subcid" class="border_1_gray m_top_10" style="padding:0;">
        	<h1 class="bgcolor_title_name">$dataInfo.cidname</h1>
            <ul class="category_con clearfix" id="subTypeList">
            
              #set($subcidList=$askService.subcids($dataInfo.province,$dataInfo.status,$dataInfo.cid))
	          #foreach($subcidObj in $subcidList)
	           #if($subcidObj.getCode()==$dataInfo.subcid)
	            <li><a class="ask_search_select_onclick"  href ="${dataInfo.siteUrl}/ask/ask_list/$subcidObj.getCode()/${dataInfo.htmlName}1.html"  title="$subcidObj.getName()">$subcidObj.getName()</a></li>   
	           #else
	            <li><a  href ="${dataInfo.siteUrl}/ask/ask_list/$subcidObj.getCode()/${dataInfo.htmlName}1.html"  title="$subcidObj.getName()">$subcidObj.getName()</a></li>     
	           #end         
	          #end
            </ul>
        </div>
        #else
        
	      <div id="cid"  class="border_1_gray m_top_10" style="padding:0;">
	        	<div class="all_style_tab_box" >
	                <ul class="all_style_tab" id="show_cidList">
	                    #set($cidList=$askService.cids($dataInfo.province, "1",$dataInfo.status))
		                #if($cidList.size()>0)
	                    <li id="oneCid"><a  href="${dataInfo.siteUrl}/ask/ask_list/1/${dataInfo.htmlName}1.html" class="cur">土建材料</a></li>
	                    #end
	                    #set($cidList=$askService.cids($dataInfo.province, "3",$dataInfo.status))
	                    #if($cidList.size()>0)
	                    <li id="oneCid_1"><a href="${dataInfo.siteUrl}/ask/ask_list/3/${dataInfo.htmlName}1.html">安装材料</a></li>
	                    #end
	                    #set($cidList=$askService.cids($dataInfo.province, "2",$dataInfo.status))
	                    #if($cidList.size()>0)
	                    <li id="oneCid_2"><a href="${dataInfo.siteUrl}/ask/ask_list/2/${dataInfo.htmlName}1.html">装饰材料</a></li>
	                    #end
	                    #set($cidList=$askService.cids($dataInfo.province, "4",$dataInfo.status))
	                    #set($cidLis1=$askService.cids($dataInfo.province, "5",$dataInfo.status))
	                    #if($cidList.size()>0 || $cidLis1.size()>0)
	                    <li id="oneCid_3"><a href="${dataInfo.siteUrl}/ask/ask_list/5/${dataInfo.htmlName}1.html">市政园林</a></li>
	                    #end
	                </ul>
	            </div>
	            
	            #set($cidList=$askService.cids($dataInfo.province, "1",$dataInfo.status))
	            #if($cidList.size()>0)
	            <ul class="category_con clearfix" id="oneCid_div">
		              #foreach($cidObj in $cidList)
		            	#if($count == 1 && $cidObj.getCode() != "00")
	                          <li><a href="${dataInfo.siteUrl}/ask/ask_list/$cidObj.getCode()/${dataInfo.htmlName}1.html"   title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                    #elseif($cidObj.getCode() != "00")
	                          <li><a href="${dataInfo.siteUrl}/ask/ask_list/$cidObj.getCode()/${dataInfo.htmlName}1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                    #end           
		              #end
		               
	            </ul>
	            #end
	            
	            #set($cidList=$askService.cids($dataInfo.province, "3",$dataInfo.status))
	            #if($cidList.size()>0)
	            <ul class="category_con clearfix" id="oneCid_1_div" style="display:none;">
	            	 
		            	#foreach($cidObj in $cidList)
		                    <li><a  href="${dataInfo.siteUrl}/ask/ask_list/$cidObj.getCode()/${dataInfo.htmlName}1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
		               	             
		                #end
		               
	            </ul>
	            #end
	            
	            #set($cidList=$askService.cids($dataInfo.province, "2",$dataInfo.status))
	            #if($cidList.size()>0)
	             <ul class="category_con clearfix" id="oneCid_2_div" style="display:none;">
	            	  
		            	#foreach($cidObj in $cidList)
		                    <li><a  href="${dataInfo.siteUrl}/ask/ask_list/$cidObj.getCode()/${dataInfo.htmlName}1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
		               	             
		                #end
		               
	            </ul>
	            #end
	            
	             #set($cidList=$askService.cids($dataInfo.province, "5",$dataInfo.status))
	             #set($cidList1=$askService.cids($dataInfo.province, "4",$dataInfo.status))
	             #if($cidList.size()>0 || $cidLis1.size()>0)
	             <ul class="category_con clearfix" id="oneCid_3_div" style="display:none;">
	              
	                #set($count = 1)
	            	#foreach($cidObj in $cidList)
	            	#if($count == 1)
	                     <li><a href="${dataInfo.siteUrl}/ask/ask_list/$cidObj.getCode()/${dataInfo.htmlName}1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                #else
	                     <li><a href="${dataInfo.siteUrl}/ask/ask_list/$cidObj.getCode()/${dataInfo.htmlName}1.html"  title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                #end
	                #set($count = $count + 1)
	                #end
	                
	               
	            	#foreach($cidObj in $cidList1)
	                     <li><a href="${dataInfo.siteUrl}/ask/ask_list/$cidObj.getCode()/${dataInfo.htmlName}1.html" title="$cidObj.getOtherName()">$cidObj.getOtherName()</a></li>
	                #end
	            </ul>
	            #end
	        </div>
        #end
        
        
        <div class="border_1_gray m_top_10" style="float:left;width:738px;">
        	<ul class="search_tab_xj clearfix" id="ask_price_info" style="width:738px;">
        	 #if($dataInfo.type=="1")
            	#if($dataInfo.htmlName == "recommend")
            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_list/recommend1.html" class="cur">已解决询价</a></li>
            	#else
            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_list/recommend1.html" >已解决询价</a></li>
            	#end
                #if($dataInfo.htmlName == "toSolve")
            	<li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_list/toSolve1.html" class="cur">待解决询价</a></li>
            	#else
            	  <li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_list/toSolve1.html">待解决询价</a></li>
            	#end
             #else
                #if($dataInfo.subcid=="null")
	                #if($dataInfo.htmlName == "recommend")
	            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.cid}/recommend1.html" class="cur">已解决询价</a></li>
	            	#else
	            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.cid}/recommend1.html" >已解决询价</a></li>
	            	#end
	                #if($dataInfo.htmlName == "toSolve")
	            	<li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_listk/${dataInfo.cid}/toSolve1.html" class="cur">待解决询价</a></li>
	            	#else
	            	  <li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.cid}/toSolve1.html">待解决询价</a></li>
	            	#end
	            #else
	            
	                #if($dataInfo.htmlName == "recommend")
	            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.subcid}/recommend1.html" class="cur">已解决询价</a></li>
	            	#else
	            	 <li><a id="recommend" href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.subcid}/recommend1.html" >已解决询价</a></li>
	            	#end
	                #if($dataInfo.htmlName == "toSolve")
	            	<li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.subcid}/toSolve1.html" class="cur">待解决询价</a></li>
	            	#else
	            	  <li><a id="toSolve" href="${dataInfo.siteUrl}/ask/ask_list/${dataInfo.subcid}/toSolve1.html">待解决询价</a></li>
	            	#end
	            
            	#end
             #end
            </ul>
            
            <ul class="zj_search_list_title">
                <li>
                    <span class="xuanshan">悬赏</span>
                    <span class="biaoti">材料名称</span>
                    <span class="guige_xinghao">规格型号</span>
                    <span class="huifu_shu text_center">回复数</span>
                    <span class="diqu text_center">报价地区</span>
                    <span class="xunjia_times text_center">发布日期</span>
                </li>
            </ul>
            
            
            <ul class="zj_search_list" id="listbody">
               #foreach($obj in $!listContent)
                 <li class="clearfix" style="width:720px" >
                	<span class="xunjia_times f_right c_gray_888 text_center" style="height:25px;">$!obj.createOn</span>
                    <span class="icon_price f_left" style="height:23px;">$!obj.score</span>
                    <span class="search_list_title f_left text_overflow" title="$!obj.name" style="height:23px;"><a href="${dataInfo.siteUrl}/ask_info/$!{obj.id}.html" target="_blank" style="height:23px;">$!obj.name</a></span>
                    <span class="guige_xinghao f_left c_gray_888 text_overflow" style="height:23px;" title="$!obj.spec">$!obj.spec</span>
                    <span class="huifu_shu f_left c_gray_888 text_center" style="height:23px;">$!obj.revNum</span>
                    <span class="ans_city text_overflow f_left text_center" title="$!obj.addr" style="height:23px;">$!obj.addr</span>
                </li>
                #end
            </ul>
                 
            <div id="page" class="digg">
               #parse($industry_page_dir)
            </div>
 
        </div>
        
  	</div>
  #parse($ask_index_right)
#parse($footer_dir)
#parse($login_tip)


<script type="text/javascript" src="$common_site/js/zjt/ask/ask_All.js"></script>
 <script language="javascript" src="$common_site/js/zjt/ask/ask_index_right.js"></script>
</body>
</html>
