<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>网材网-中国最专业的建材电子商务平台</title>
 <meta name="keywords" content="建材，建材网，建筑工程，网材网" />
 <meta name="description" content="网材网是国内领先的工程建设项目及建设材料对接服务最全面，专业，优质的电子商务平台，它凭借着先进的平台技术，丰富的建材项目资源，成熟的建材采购集成渠道以及专业的品牌营销推广服务成为建设行业的领航者" />


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="http://c2.zjtcn.com/css/act/2014jiuhui/zt_jiuhui_index.css" />
  </head>
  
  <body> 
  	<!-- 头部 -->
    #parse($wcw_header)
    
    <div id="main" style="width:955px;padding-left:5px;">
    	
        <div class="layout_01">

	<!--	新加入诚信联盟供应商	-->
	<div class="new_add_gys">
    	<h1><span>新加入诚信联盟供应商</span></h1>
        <ul class="list_info">
            #set($list =$epShopService.searchShop(6,0,"isAudit=1 and isLock=0 and isVolid=1 and isIntegrity=1",null, "effectDate desc", false))
			#foreach($obj in $list)
        	<li>
	        	<a target="_blank" href="$!templateUtil.getShopUrl($!obj.getEid())" title="$!obj.getName()">$!obj.getName()</a>
	            <p title="主营材料：$parameterUtil.theMainMaterial($!obj.getSubcid())">主营材料：$parameterUtil.theMainMaterial($!obj.getCgCid())</p>
            </li>
            #end
        </ul>
    </div>
    <!--	新加入诚信联盟供应商	-->
    
    <!--	banner_cgs	-->
    <div class="banner_cgs">
   	  <div class="banner_cg_box">
   	      <div class="slide_advertisement">
    			<DIV id="temp1" class="jq_class">
					<DIV class=JQ-content-box>
						<UL class=JQ-slide-content>
						    $!map.clear()
                $!map.put("tpath","/20/2012/201201/20120102/")
                #set($list=$infoService.searchInfoContentSummarys(6,1,$!map,true))
                #foreach($obj in $list)
									<li>
										<a href="$!obj.getUrl()" title="$!obj.getTitle()" target="_blank">
										<img width="430px" height="226px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())"/>
										</a>
									</li>
								#end
							
						</ul>
						<ul class="JQ-slide-nav">
							#foreach($obj in $list)
								#if($velocityCount == 1)
							        <li class="on">$velocityCount</li>
								#else
                      <li>$velocityCount</li>
								#end
							#end
			      </ul>
					</div>
				</div>
    		</div>
   	  
   	  </div>
        <div class="new_add_cgs" >
        	<h2>新加入诚信联盟采购商：</h2>
        	   	
        	    <ul>
        	         <a href="javascript:void(0);" class="icon_up_img prev"></a>
                    
                     <div class="demand-scrcont" style="overflow: hidden; height: 60px;position: relative;">
                        <div id="list" style="position: relative;width:1000px;">
		                   $!map.clear()
			    		 	$!map.put("tpath","/20/2012/201201/20120109/")
			    			#set($list = $infoService.searchInfoContentSummarys(8,0,$!map,true))
							#foreach($obj in $list)
						    <li>  
				    			<a class="active" title="$!obj.getTitle() " target="_blank" href="$!obj.getUrl()"><img class="active" width="133px" height="46px" src="$!fileUtil.getFileUrl($!obj.getPicPath())"/></a>
			    		    </li>
			    		    #end
		                </div>
		              </div>
      
                    
                <a href="javascript:void(0);" class="icon_down_img next"></a>
         </ul>
        </div>
    </div>
    <!--	banner_cgs	-->
    
    <!-- jj_cxlm	-->
    <div class="jj_cxlm">
    	<div class="btn_kjfs_top">
        	<a href="/common/login.html" class="yhdl">用户登录</a>
            <a href="/common/register.html" class="mfzc">免费注册</a>
        </div>
        <div class="cxlm_box">
        	<div class="tab_ul">
            	<a href="javascript:void(0);" class="cur b_r">供应商</a>
                <a href="javascript:void(0);">采购商</a>
            </div>
            <div class="btn_option" id="cx_gys">
            	<p>
                	<a href="/gcxm/purchaseList.html?stuff=" class="btn_bg_01">建材求购</a><a href="/gcxm" class="btn_bg_01">找项目</a><a href="/gcxm/recruitlist/gcxm_1.html" class="btn_bg_01">找采购商</a>
                </p>
                <p class="txt">更多服务请您开通<a href="/common/supplier-register.html" class="link_b_r">网材网商铺</a></p>
            </div>
            
            <div class="btn_option" id="cx_cgs" style="display:none;">
            	<p>
                	<a href="/hypd" class="btn_bg_01">找建材</a><a href="javascript:void(0);" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=4008889639&eid=218808P8z8p8y8y8z8z8y&o=www.zjtcn.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" class="btn_bg_01">委托询价</a><a href="/hypd/searchList.html" class="btn_bg_01">找供应商</a>
                </p>
                <p class="txt">更多服务请您开通<a href="/common/purchasing-register.html" class="link_b_r">云采购</a></p>
            </div>
            
        </div>
        <div class="cxlm_list">
        	<div class="cxlm_bg_box">
            	<a href="javascript:void(0);" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=4008889639&eid=218808P8z8p8y8y8z8z8y&o=www.zjtcn.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" class="org_btn_add">申请加入</a>
                <a href="/include/cxlm.html" class="link_b_r link_lm">什么是<br/>诚信联盟？</a>
            </div>
            <ul>
            	<li>身份认证：真实企业身份</li>
                <li>资质认证：合法经营资质</li>
                <li>实地认证：专人实地考察</li>
            </ul>
        </div>
    </div>
    <!-- jj_cxlm	-->
    
</div>
    	<!-- 诚信体系广告位
    	<div class="advertisement2">
               $!map.clear()
            	$!map.put("tpath", "/20/2012/201201/20120108/")
            	$!map.put("isTop","1")
            	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true)) 
            	#foreach($obj in $list)
                	#if($!obj.getIssueType() != "4")
                	  	<a rel="external nofollow" href="$!obj.getUrl() " title="$!obj.getTitle()"  target="_blank" style="display: block;"><img src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" width="950px" height="80px"/> </a>
                	#else
                	   <embed rel="external nofollow" width="100%" height="100%" id="adv2_flash" plugspace="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="opaque" quality="autohigh" src="$!fileUtil.getWcwFileUrl($!obj.getUrl())">
                	#end
                #end
    		
    	</div>
    	 -->
    	 
    	 
    	 
    	 
    	 
    	 
    	 
    	
    	<!-- 广告区域1 -->
    	<div id="scrool_ad" class="advertisement1" >
    		<div class="JQ-content-box">
	    		<ul class="JQ-slide-content">
	    			$!map.clear()
	    			$!map.put("tpath","/20/2012/201201/20120104/")
	    			#set($list = $infoService.searchInfoContentSummarys(54,1,$!map,true))
					#foreach($obj in $list)
				    <li>  
		    		<div class="advertisement_div" style="margin-left:10px;margin-right: 10px;">
		    			<a title="$!obj.getTitle() " target="_blank" href="$!obj.getUrl()"><img width="133px" height="46px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())"/></a>
		    		</div>
	    		   </li>
	    	
	    		#end
	    		</ul>
    		</div>
    	</div>
    	
    	<div  style="margin-bottom:8px;">
    	               $!map.clear()
                    	$!map.put("tpath", "/20/2012/201201/20120110/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true)) 
                    	#foreach($obj in $list)
	                    	  	<a rel="external nofollow" href="$!obj.getUrl() " title="$!obj.getTitle()"  target="_blank" style="display: block;"><img src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" width="950px" height="80px"/> </a>
	                    #end
    		
    	</div>
    	
    	
    	<!-- 优秀灯饰企业 -->
    	<div class="container3" style="height:206px;">
    		<div class="title_banner" style="width:950px;">
				<div class="title_banner_left"></div>
				<div class="title_banner_center" style="width:944px;">
					<div class="title_icon"></div>
					<a class="black_a"  href="javascript:void(0);" style="cursor:none;"><div class="title_text" style="width:175px;cursor:none;">优秀灯饰企业及产品展示</div></a>
					<div class="container_av" style="float:left;margin-left:10px;">
						 <span >热烈庆祝网材灯饰网正式上线</span>
					</div>
				</div>
				<div class="title_banner_right"></div>
			</div>
			<div class="tjxm_contact">
			  <div class="tjxm_contact1">
			    <div class="wcds_show_box clearfix">
	<ul class="wcds_show">
	
	    $!map.clear()
    	$!map.put("tpath", "/20/2012/201206/20120601/")
    	#set($list = $infoService.searchInfoContentSummarys(8, 1, $!map, true)) 
    	#foreach($obj in $list)
    	 <li style="text-align:left;">
            <a   target="_blank" class="img_gys" href="$!obj.getUrl()"><img width="118px" height="38px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" /></a>
            <a  target="_blank" class="name_gys i_cxlm" href="$!obj.getUrl()">$!obj.getTitle()</a>
        </li>
        #end
	
    	
       
    </ul>
    <ul class="hots_dsgy" style="text-align:left;">
    	<h2>热门灯饰供应</h2>
    	
    	#set($list = $facService.showFacPriceByUpdate(6, 1,"34"))
        #foreach($obj in $list)
        
        <li style="text-align:left;">
        	<a  target="_blank" href="/shop/$!obj.getFid()/" class="cm_name">$!obj.getEname()</a>
            <span class="cm_gy">供应：<a  target="_blank" href="$parameterUtil.shopDetailUrl($!obj.getFid(),$!obj.getId())" class="b_bule">$!obj.getName()</a></span>
        </li>
        #end
       
        
    </ul>
</div>
			   
			  </div>
			</div>
    	</div>
    	
    	
    	
    	<!-- 推荐项目采购 -->
    	<div class="container3">
    		<div class="title_banner" style="width:950px;">
				<div class="title_banner_left"></div>
				<div class="title_banner_center" style="width:944px;">
					<div class="title_icon"></div>
					<a class="black_a"  target="_blank" href="/gcxm/gcxmlist/gcxm_1.html"><div class="title_text">推荐项目采购</div></a>
					<div class="container_av">
					
					      $!map.clear()
							  $!map.put("tpath","/20/2001/200103/20010302/")
							  #set($list=$infoService.searchInfoContentSummarys(1,1,$!map,true))
							  #foreach($obj in $list)
							   <div class="orange_p" style="margin-left:10px;"></div>
						    <a class="blue2_a"  target="_blank" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">
						    	<span title="$!obj.getSubTitle()">$parameterUtil.truncString($!obj.getSubTitle(),40,"")</span>
						    </a>
							  #end
			
					</div>
				</div>
				<div class="title_banner_right"></div>
			</div>
			<div class="tjxm_contact">
			  <div class="tjxm_contact1">
				   <div class="tjxm_contact_top">  
				      <div class="tjxm_contact_top_left"><div class="tjxm_contact_top_left_centent"><a href="/gcxm/gcxmlist/gcxm_1.html">项目采购</a></div></div>
				      <div class="verticaldottedline" style="height:114px;_height:150px;"></div>
				      <div class="tjxm_contact_top_right">
				         <div class="tjxm_info_dashed">
					         <ul>
					            <li class="font_size">项目名称</li>
					            <li class="font_size">采购范围</li>
					         </ul>
					      </div>  
					            $!map.clear()
					            $!map.put("state","1")
					            $!map.put("isLock","0")
					            #set($list=$projectService.search(3,1,"",$!map,null,"orderCode desc,UpdateOn desc",false))
					            #foreach($obj in $list)
					              <span class="dottedline"style="float:left;width:824px;"></span>
							         <div class="tjxm_info_dashed">
							         
								         <ul>
								           <li>
								           	<a class="black_a"  target="_blank" href="$templateUtil.getProjectUrl($!obj.getId())">$parameterUtil.truncString($!obj.getName(),38,"") </a>
								           </li>
								           <li style="width:410px;">
								           	<a class="black_a"  target="_blank" href="$templateUtil.getProjectUrl($!obj.getId())"  title="$parameterUtil.purchasingRange($!obj.getCgcid()) " > $parameterUtil.purchasingRange($!obj.getCgcid())</a>
								           </li>
								           <li class="registration" style=" width:56px;float:right;"><a  target="_blank" class="black_a"  style="color:#294B92;" href="$templateUtil.getProjectUrl($!obj.getId())">报名洽谈</a></li>
								         </ul>
							         </div>
					            #end
					
				      
				      </div>
				   </div>
				   <div class="dottedline"style="float:left;width:937px;"></div>
				    <div class="tjxm_contact_top" style="border:0px;">  
				      <div class="tjxm_contact_top_left"><div class="tjxm_contact_top_left_centent"><a class="black_a"  target="_blank"  href="/gcxm/recruitlist/gcxm_1.html">供应商招募</a></div></div>
				      <div class="verticaldottedline" style="height:114px;_height:150px;"></div>
				        <div class="tjxm_contact_top_right">
				            <div class="tjxm_info_dashed">
						         <ul>
						            <li class="font_size">招募主题</li>
						            <li class="font_size">招募范围</li>
						         </ul>
					        </div>
					        
					        $!map.clear()
					        $!map.put("state", "1")
					        $!map.put("isLock","1")
					        #set($list=$recruitService.listRecruits(1,3,"",$!map,null,"orderCode desc,CreateOn desc",false))
					        #foreach($obj in $list)
					           <span class="dottedline"style="float:left;width:824px;"></span>
				            <div class="tjxm_info_dashed">
				            
						         <ul>
						           <li><a class="black_a"  target="_blank" href="$templateUtil.getRecruitUrl($!obj.getId())"  title="$parameterUtil.purchasingRange($!obj.getCgcid()) ">$parameterUtil.truncString($!obj.getTitle(),38,"")</a></li>
						           <li style="width:410px;"><a  target="_blank" class="black_a" href="$templateUtil.getRecruitUrl($!obj.getId())"  title="$parameterUtil.purchasingRange($!obj.getCgcid())">$parameterUtil.purchasingRange($!obj.getCgcid())</a></li>
						           <li class="registration" style=" width:56px;float:right;"><a   target="_blank" class="black_a" href="$templateUtil.getRecruitUrl($!obj.getId())" style="color:#294B92;cursor:pointer;">报名洽谈</a></li>
						         </ul>
					         </div>
					        #end
				      </div>
				   </div>
				   
			
			 </div>
    	    </div>
    	</div>
  
    	<div class="advertisement2">
    	               $!map.clear()
                    	$!map.put("tpath", "/20/2012/201201/20120107/")
                    	$!map.put("isTop","1")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true)) 
                    	#foreach($obj in $list)
	                    	#if($!obj.getIssueType() != "4")
	                    	  	<a rel="external nofollow" href="$!obj.getUrl() " title="$!obj.getTitle()"  target="_blank" style="display: block;"><img src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" width="950px" height="80px"/> </a>
	                    	#else
	                    	   <embed rel="external nofollow" width="100%" height="100%" id="adv2_flash" plugspace="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="opaque" quality="autohigh" src="$!fileUtil.getWcwFileUrl($!obj.getUrl())">
	                    	#end
	                    #end
    		
    	</div>
    	<!-- 商铺分类、建材资讯、成功故事 -->
    	<div class="container4">
    		<div class="container4_left">
    			<div class="title_banner" style="width:665px;">
					<div class="title_banner_left"></div>
					<div class="title_banner_center" style="width:659px;">
						<div class="title_icon"></div>
						<a class="black_a" href="/hypd/index.html"><div class="title_text">商铺分类</div></a>
						<div class="container_av" style="width:450px;">
							
										$!map.clear()
										$!map.put("tpath","/20/2001/200103/20010303/")
										$!map.put("isTop","1")
										#set($list =$infoService.searchInfoContentSummarys(1,1,$!map,true))
								    #foreach($obj in $list)
								    
											<div class="orange_p" style="margin-left:10px;"></div>
											<a class="blue2_a"  target="_blank"  href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">
												<span title="$!obj.getSubTitle()">$parameterUtil.truncString($!obj.getSubTitle(),40,"")</span>
											</a>
						        #end
						</div>
					</div>
					<div class="title_banner_right"></div>
				</div>
				<!-- 供应商分类版块 -->
                    <div id="shop_list_show" class="spfl_content">
                    
                    	<!-- 大类显示框 -->
                        <div id="tujian" class="spfl_type_content">
                        
                        	<!-- 大类名称显示 -->
                            <div class="spfl_type">
                                <div class="spfl_type_bg" style="height:222px;">
                                    <div>家装建材</div>
                                </div>
                            </div>
                            <!-- 大类名称显示 end -->
                            
                            <!-- 分类列表框 -->
                            <div class="spfl_div">
                            
                            	<!-- 子分类列表框 大类需要分几个列表框显示-->
                                <div class="spfl_div_div shop_list_c">
                                
                                	<!-- 一级分类列表头 -->
                                    <div class="list_head" id="tujian_1">
                                    	#set($cidList=$rationLibUtil.getCgCidList("1", 1, 9, false))
                                    #set($count = 1)
                                	#foreach($cidObj in $cidList)
                                	#if($cidObj.getProcureCode() == "00")
                                	 	#set($count = $count - 1)
                                	#elseif($count == 1)
                                        <span style="*margin-left:6px;_margin-left:5px" class="font_gray over_span" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #else
                                        <span class="font_gray" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #end
                                    #set($count = $count + 1)
                                    #end
                                    </div>
                                    <!-- 一级分类列表头 end -->
                                    
                                    <!-- 分类企业框 -->
                                    #set($cidCount = 1)
                                    #foreach($cidObj in $cidList)
                                    	#if($cidObj.getProcureCode() != "00")
		                                    #if($cidCount == 1)
		                                    	<div class="over">
		                                    #else
		                                    	<div style="display: none;" class="over">
		                                    #end
		                                    #set($cidCount = $cidCount + 1)
		                                        <ul>
		                                            $map.clear()
		                                            $!map.put("cgCid",$cidObj.getProcureCode())
		                                            #set($shopList=$epShopService.searchEnterprise(9,1,"isAudit=1 and isLock=0 and matCount !=0",$map, "", true))
		                                            #foreach($shopObj in $shopList)
		                                                <li>
		                                                    <a target="_blank" class="blue" title="$shopObj.getName()" href="/shop/$shopObj.getEid()"> 
		                                                        $parameterUtil.truncString($shopObj.getName(), 26,"")
		                                                    </a>
		                                                </li>
		                                            #end
		                                        </ul>
		                                    </div>
		                                 #end
                                 	#end
                                 	<!-- 分类企业框 end-->
                                 	
                                </div>
                                
                                <!-- 子分类列表框 大类需要分几个列表框显示-->
                                <div class="spfl_div_div shop_list_c">
                                
                                	<!-- 一级分类列表头 -->
                                    <div class="list_head" id="tujian_2">
                                    	#set($cidList=$rationLibUtil.getCgCidList("1", 2, 9, false))
                                    #set($count = 1)
                                	#foreach($cidObj in $cidList)
                                	#if($cidObj.getProcureCode() == "00")
                                	 	#set($count = $count - 1)
                                	#elseif($count == 1)
                                        <span style="*margin-left:6px;_margin-left:5px" class="font_gray over_span" onclick="clickShopCname('$cidObj.getProcureCode()'>$cidObj.getName()</span>
                                    #else
                                        <span class="font_gray" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #end
                                    #set($count = $count + 1)
                                    #end
                                    </div>
                                    <!-- 一级分类列表头 end -->
                                    
                                    <!-- 分类企业框 -->
                                    #set($cidCount = 1)
                                    #foreach($cidObj in $cidList)
                                    	#if($cidObj.getProcureCode() != "00")
		                                    #if($cidCount == 1)
		                                    	<div class="over">
		                                    #else
		                                    	<div style="display: none;" class="over">
		                                    #end
		                                    #set($cidCount = $cidCount + 1)
		                                        <ul>
		                                            $map.clear()
		                                            $!map.put("cgCid",$cidObj.getProcureCode())
		                                            #set($shopList=$epShopService.searchEnterprise(9,1,"isAudit=1 and isLock=0 and matCount !=0",$map, "", true))
		                                            #foreach($shopObj in $shopList)
		                                                <li>
		                                                    <a target="_blank" class="blue" title="$shopObj.getName()" href="/shop/$shopObj.getEid()"> 
		                                                        $parameterUtil.truncString($shopObj.getName(), 26,"")
		                                                    </a>
		                                                </li>
		                                            #end
		                                        </ul>
		                                    </div>
		                                 #end
                                 	#end
                                 	<!-- 分类企业框 end-->
                                 	
                                </div>
                  
                                <!-- 子分类列表框 大类需要分几个列表框显示 end-->
                            </div>
                            <!-- 分类列表框end -->
                        </div>
                        <!-- 大类显示框 end-->
                        
                        <!-- 大类显示框 -->
                        <div id="zhuangshi" class="spfl_type_content" style="height:248px;">
                        
                        	<!-- 大类名称显示 -->
                            <div class="spfl_type" style="height:244px;">
                                <div class="spfl_type_bg">
                                    <div style="line-height: 25px; padding-left: 14px; padding-right: 14px; height: 88px;">电气 安防 照明</div>
                                </div>
                            </div>
                            <!-- 大类名称显示 end -->
                            
                            <!-- 分类列表框 -->
                            <div class="spfl_div" style="height:250px;">
                            	
                            	<!-- 子分类列表框 大类需要分几个列表框显示-->
                                <div class="spfl_div_div shop_list_c">
                                	<!-- 一级分类列表头 -->
                                    <div class="list_head" id="zhuangshi_1">
                                    #set($cidList=$rationLibUtil.getCgCidList("2", 1, 18, false))
                                    #set($count = 1)
                                	#foreach($cidObj in $cidList)
                                	#if($count == 1)
                                        <span style="*margin-left:6px;_margin-left:5px" class="font_gray over_span" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #else
                                        <span class="font_gray" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #end
                                    #set($count = $count + 1)
                                    #end
                                    </div>
                                    <!-- 一级分类列表头 end -->
                                    
                                    <!-- 分类企业框 -->
                                    #set($cidCount = 1)
                                    #foreach($cidObj in $cidList)
                                    #if($cidCount == 1)
                                    	<div class="over" style="height:188px;">
                                    #else
                                    	<div style="display: none;height:188px;" class="over">
                                    #end
                                    #set($cidCount = $cidCount + 1)
                                        <ul>
                                            $map.clear()
                                           $!map.put("cgCid",$cidObj.getProcureCode())
                                            #set($shopList=$epShopService.searchEnterprise(21,1,"isAudit=1 and isLock=0 and matCount !=0",$map, "", true))
                                            #foreach($shopObj in $shopList)
                                                <li>
                                                    <a target="_blank" class="blue" title="$shopObj.getName()" href="/shop/$shopObj.getEid()"> 
                                                        $parameterUtil.truncString($shopObj.getName(), 26,"")
                                                    </a>
                                                </li>
                                            #end
                                        </ul>
                                    </div>
                                 	#end
                                 	<!-- 分类企业框 end-->
                                 	
                                </div>
                                <!-- 子分类列表框 大类需要分几个列表框显示 end-->
                                
                        
                            </div>
                            <!-- 分类列表框end -->
                        </div>
                        <!-- 大类显示框 end-->
                        
                        
                        <!-- 大类显示框 -->
                        <div id="anzhuang" class="spfl_type_content" style="height:248px;">
                        
                        	<!-- 大类名称显示 -->
                            <div class="spfl_type" style="height:244px;">
                                <div class="spfl_type_bg">
                                    <div style="line-height: 25px; padding-left: 14px; padding-right: 14px; height: 88px; ">水暖 通风设备</div>
                                </div>
                            </div>
                            <!-- 大类名称显示 end -->
                            
                            <!-- 分类列表框 -->
                            <div class="spfl_div" style="height:250px;">
                            	<!-- 子分类列表框 大类需要分几个列表框显示-->
                                <div class="spfl_div_div shop_list_c">
                                	<!-- 一级分类列表头 -->
                                    <div class="list_head" id="anzhuang_1">
                                    #set($cidList=$rationLibUtil.getCgCidList("3", 1, 12, false))
                                    #set($count = 1)
                                	#foreach($cidObj in $cidList)
                                	#if($count == 1)
                                        <span style="*margin-left:6px;_margin-left:5px" class="font_gray over_span" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #else
                                        <span class="font_gray" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #end
                                    #set($count = $count + 1)
                                    #end
                                    </div>
                                    <!-- 一级分类列表头 end -->
                                    
                                    <!-- 分类企业框 -->
                                    #set($cidCount = 1)
                                    #foreach($cidObj in $cidList)
                                    #if($cidCount == 1)
                                    	<div class="over" style="height:188px;">
                                    #else
                                    	<div style="display: none;height:188px;" class="over">
                                    #end
                                    #set($cidCount = $cidCount + 1)
                                        <ul>
                                            $map.clear()
                                           $!map.put("cgCid",$cidObj.getProcureCode())
                                            #set($shopList=$epShopService.searchEnterprise(21,1,"isAudit=1 and isLock=0 and matCount !=0",$map, "", true))
                                            #foreach($shopObj in $shopList)
                                                <li>
                                                    <a target="_blank" class="blue" title="$shopObj.getName()" href="/shop/$shopObj.getEid()"> 
                                                        $parameterUtil.truncString($shopObj.getName(), 26,"")
                                                    </a>
                                                </li>
                                            #end
                                        </ul>
                                    </div>
                                 	#end
                                 	<!-- 分类企业框 end-->
                                 	
                                </div>
                                <!-- 子分类列表框 大类需要分几个列表框显示 end-->
                                
                              
                            </div>
                            <!-- 分类列表框end -->
                        </div>
                        <!-- 大类显示框 end-->
                        
                        
  <!-- 大类显示框 -->
                        <div id="gcjg" class="spfl_type_content" style="height:131px;">
                        
                        	<!-- 大类名称显示 -->
                            <div class="spfl_type" style="height:160px;">
                                <div class="spfl_type_bg"  style="height:126px;">
                                    <div style="padding-bottom: 20px; line-height: 22px; padding-left: 14px; padding-right: 14px; height: 90px; padding-top: 32px;">钢材 结构</div>
                                </div>
                            </div>
                            <!-- 大类名称显示 end -->
                            
                            <!-- 分类列表框 -->
                            <div class="spfl_div" style="height:163px;">
                            	<!-- 子分类列表框 大类需要分几个列表框显示-->
                                <div class="spfl_div_div shop_list_c">
                                	<!-- 一级分类列表头 -->
                                    <div class="list_head" id="gcjg_1">
                                    #set($cidList=$rationLibUtil.getCgCidList("4", 1, 18, false))
                                    #set($count = 1)
                                	#foreach($cidObj in $cidList)
                                	#if($count == 1)
                                        <span style="*margin-left:6px;_margin-left:5px" class="font_gray over_span" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #else
                                        <span class="font_gray" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #end
                                    #set($count = $count + 1)
                                    #end
                                    
          
                                    </div>
                     
                                    
                                    <!-- 分类企业框 -->
                                    #set($cidCount = 1)
                                    #foreach($cidObj in $cidList)
                                    #if($cidCount == 1)
                                    	<div class="over" style="height:112px;">
                                    #else
                                    	<div style="display: none;height:112px;" class="over">
                                    #end
                                    #set($cidCount = $cidCount + 1)
                                        <ul>
                                            $map.clear()
                                           $!map.put("cgCid",$cidObj.getProcureCode())
                                            #set($shopList=$epShopService.searchEnterprise(12,1,"isAudit=1 and isLock=0 and matCount !=0",$map, "", true))
                                            #foreach($shopObj in $shopList)
                                                <li>
                                                    <a target="_blank" class="blue" title="$shopObj.getName()" href="/shop/$shopObj.getEid()"> 
                                                        $parameterUtil.truncString($shopObj.getName(), 26,"")
                                                    </a>
                                                </li>
                                            #end
                                        </ul>
                                    </div>
                                 	#end
                                 	<!-- 分类企业框 end-->
                                 	
                                </div>
                                <!-- 子分类列表框 大类需要分几个列表框显示 end-->
                            </div>
                            <!-- 分类列表框end -->
                        </div>
                        <!-- 大类显示框 end-->
                        
                        
                        
                        
                         <!-- 大类显示框 -->
                        <div id="ylmm" class="spfl_type_content" style="height:131px;">
                        
                        	<!-- 大类名称显示 -->
                            <div class="spfl_type" style="height:160px;">
                                <div class="spfl_type_bg"  style="height:126px;">
                                    <div style="padding-bottom: 20px; line-height: 22px; padding-left: 14px; padding-right: 14px; height: 90px; padding-top: 32px;">石材 苗木</div>
                                </div>
                            </div>
                            <!-- 大类名称显示 end -->
                            
                            <!-- 分类列表框 -->
                            <div class="spfl_div" style="height:163px;border-bottom:none;">
                            	<!-- 子分类列表框 大类需要分几个列表框显示-->
                                <div class="spfl_div_div shop_list_c">
                                	<!-- 一级分类列表头 -->
                                    <div class="list_head" id="ylmm_1">
                                    #set($cidList=$rationLibUtil.getCgCidList("5", 1, 18, false))
                                    #set($count = 1)
                                	#foreach($cidObj in $cidList)
                                	#if($count == 1)
                                        <span style="*margin-left:6px;_margin-left:5px" class="font_gray over_span" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #else
                                        <span class="font_gray" onclick="clickShopCname('$cidObj.getProcureCode()');">$cidObj.getName()</span>
                                    #end
                                    #set($count = $count + 1)
                                    #end
                                    
          
                                    </div>
                     
                                    
                                    <!-- 分类企业框 -->
                                    #set($cidCount = 1)
                                    #foreach($cidObj in $cidList)
                                    #if($cidCount == 1)
                                    	<div class="over">
                                    #else
                                    	<div style="display: none;" class="over">
                                    #end
                                    #set($cidCount = $cidCount + 1)
                                        <ul>
                                            $map.clear()
                                           $!map.put("cgCid",$cidObj.getProcureCode())
                                            #set($shopList=$epShopService.searchEnterprise(9,1,"isAudit=1 and isLock=0 and matCount !=0",$map, "", true))
                                            #foreach($shopObj in $shopList)
                                                <li>
                                                    <a target="_blank" class="blue" title="$shopObj.getName()" href="/shop/$shopObj.getEid()"> 
                                                        $parameterUtil.truncString($shopObj.getName(), 26,"")
                                                    </a>
                                                </li>
                                            #end
                                        </ul>
                                    </div>
                                 	#end
                                 	<!-- 分类企业框 end-->
                                 	
                                </div>
                                <!-- 子分类列表框 大类需要分几个列表框显示 end-->
                            </div>
                            <!-- 分类列表框end -->
                        </div>
                        <!-- 大类显示框 end-->
                        
                        
                        
                    </div>
                    <!-- 供应商分类版块 end-->
				
				
				
				
    		</div>
    		<div class="container4_right">
    			<div class="zjgys_contect">
    				<div class="title_banner" style="width:277px;">
						<div class="title_banner_left"></div>
						<div class="title_banner_center" style="width:271px;">
							<div class="title_icon"></div>
							
							<div class="title_text">最新加入供应商</div>
						</div>
						<div class="title_banner_right"></div>
					</div>
					
					<div class="zjgys_div" >
                        <div id="demo" style="overflow:hidden;width:274px;height:280px;">
			    			    <div style="height:200%">
					    			<div id="demo1" class="zjgys_div_content">
					    			
					    			  #set($list =$epShopService.searchShop(10,1,"isAudit=1 and isLock=0 and isVolid=1",null, "updateOn desc", false))
									  	#foreach($obj in $list)
											
										   <div class="scroll_text" >
													<li class="xmsqs_orange_p"></li>
													<li class="zjgys_text">
														<a class="black_a"  target="_blank" href="$!templateUtil.getShopUrl($!obj.getEid())" 
														style="font-size:14px;" title="">$parameterUtil.truncString($!obj.getName(), 38)</a>
													</li>
												</div>
										  #end
							</div>
							<div id="demo2" class="zjgys_div_content"></div>
					   </div>
					   </div>
				     </div>
				</div>
    			<div class="gd_right">
    				
						          $!map.clear()
                    	$!map.put("tpath", "/20/2012/201201/20120105/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true))
                    	#foreach($obj in $list)
					             <a href="$!obj.getUrl()" target="_blank" title="$!obj.getTitle()" style="display: block; height: 110px; width: 277px;"><img src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" width="277px" height="111px"/> </a>
			            #end
					
    				
    			</div>
    			 <div class="qygy_contect">
					<div class="title_banner" style="width: 277px;">
						<div class="title_banner_left"></div>
						<div class="title_banner_center" style="width: 271px;">
							<div class="title_icon"></div>
							<a href=""><div class="title_text">
								企业感言
							</div></a>
						</div>
						<div class="title_banner_right"></div>
					</div>
					<div class="qygy_div">
					<div id="e_scoll" style="overflow:hidden;width:274px;height:690px;">
			    			    <div style="height:200%">
					    			<div id="e_scoll1" class="qygy_content">
					    			  $!map.clear()
                    	$!map.put("tpath", "/20/2004/200408/")
                    	#set($list = $infoService.searchInfoContentSummarys(10, 1, $!map, true)) 
                    	#foreach($obj in $list)
					  
											   <div class="qygy_text">
											      
											       $!obj.getSummary() 
											   </div>
											   <div class="qygy_name">--$!obj.getTitle()</div>
					           #end
					    </div>
					    <div id="e_scoll2" class="qygy_content"></div>
					  </div>
					</div>
					</div>
				</div>
    			
    		</div>
    	</div>
    	
    	<!-- 广告位2 -->
    	<div class="advertisement2">
    	               $!map.clear()
                    	$!map.put("tpath", "/20/2012/201201/20120106/")
                    	$!map.put("isTop","1")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true)) 
                    	#foreach($obj in $list)
	                    	#if($!obj.getIssueType() != "4")
	                    	  	<a rel="external nofollow" href="$!obj.getUrl() " title="$!obj.getTitle()"  target="_blank" style="display: block;"><img src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" width="950px" height="80px"/> </a>
	                    	#else
	                    	   <embed rel="external nofollow" width="100%" height="100%" id="adv2_flash" plugspace="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="opaque" quality="autohigh" src="$!fileUtil.getWcwFileUrl($!obj.getUrl())">
	                    	#end
	                    #end
    		
    	</div>
    	
    	<!-- 展位信息、网材宝典、媒体报道 -->
    	<div class="container5">
    		<div class="zwxx">
    			<div class="title_banner" style="width:349px;">
					<div class="title_banner_left"></div>
					<div class="title_banner_center" style="width:342px;">
						<div class="title_icon"></div>
						<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2009/')"><div class="title_text">展会信息</div></a>
						<a class="blue2_a" href="$templateUtil.getInfoContentList('/20/2009/')"  target="_blank" style="float:right;display:inline;margin-right:8px;line-height: 30px;">更多＞＞</a>
					</div>
					<div class="title_banner_right"></div>
				</div>
				<div class="container5_content" style="width:346px;">
					<div class="zwxx_content">
					    $!map.clear()
            	$!map.put("tpath","/20/2009/")
            	#set($list = $infoService.searchInfoContentSummarys(9, 1, $!map, true)) 
            	#foreach($obj in $list)
					
							<ul>
								<li class="xmsqs_orange_p"></li>
	   							<li class="zwxx_text">
	   							 <a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" style="font-size:14px;">
	   								$parameterUtil.truncString($!obj.getSubTitle(),44,"")</a>
	   							</li>
    					</ul>
    					#end
					</div>
				</div>
    		</div>
    		<div class="jczx_contect">
    				<div class="title_banner" style="width:307px;">
						<div class="title_banner_left"></div>
						<div class="title_banner_center" style="width:301px;">
							<div class="title_icon"></div>
							<a  target="_blank" class="black_a"  href="$templateUtil.getInfoContentList('/20/2002/')"><div class="title_text">建材资讯</div></a>	
							<a class="blue2_a" href="$templateUtil.getInfoContentList('/20/2002/')"  target="_blank" style="float:right;display:inline;margin-right:8px;line-height: 30px;">更多＞＞</a>		
						</div>
						<div class="title_banner_right"></div>
					</div>
					<div class="jczx_div">
					
						$!map.clear()
            	$!map.put("tpath","/20/2002/")
            	#set($list = $infoService.searchInfoContentSummarys(8, 1, $!map, true)) 
            	#foreach($obj in $list)
					
						<ul>
							<li class="xmsqs_orange_p"></li>
							<li class="jczx_text">
								<a  target="_blank" class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())" 
								style="font-size:14px;" title="$!obj.getTitle()">$parameterUtil.truncString($!obj.getSubTitle(),36,"")</a>
							</li>
						</ul>
						#end
					</div>
			</div>
    		<div class="mtbd">
    			<div class="title_banner" style="width:277px;">
					<div class="title_banner_left"></div>
					<div class="title_banner_center" style="width:271px;">
						<div class="title_icon"></div>
							<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2004/200406/')"><div class="title_text">媒体报道</div></a>
							<a class="blue2_a" href="$templateUtil.getInfoContentList('/20/2004/200406/')"  target="_blank" style="float:right;display:inline;margin-right:8px;line-height: 30px;">更多＞＞</a>
					</div>
					<div class="title_banner_right"></div>
				</div>	
				<div class="container5_content" style="width:275px;">
					<div class="mtbd_top">
					     $!map.clear()
            	$!map.put("tpath", "/20/2004/200406/")
		$!map.put("isTop", "1")
            	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true)) 
            	#foreach($obj in $list)
					
								<div class="mtbd_img"><a  target="_blank" class="black_a" title="$!obj.getTitle()"
								 href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())"
								 style="font-size:14px;">
									<img width="100px" height="84px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" />
									</a>
								</div>
								<div class="mtbd_content">
									<div class="mtbd_content_title"><a  target="_blank" class="black_a" title="$!obj.getTitle()" 
									 href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())"
									 style="font-size:14px;">
									$parameterUtil.truncString($!obj.getSubTitle(),18,"")</a></div>
									<a class="black_a"  target="_blank" 
									 href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())"
									style="font-size:12px;">
									<div class="mtbd_content_text" title="$!obj.getSummary() ">$parameterUtil.truncString($!obj.getSummary(),68,"")</div>
									</a>
								</div>
						#end
					</div>
					<div class="mtbd_bottom">
					    $!map.clear()
            	$!map.put("tpath", "/20/2004/200406/")
		$!map.put("isTop", "0")
		$!map.put("isHot", "0")
            	#set($list = $infoService.searchInfoContentSummarys(5, 1, $!map, true)) 
            	#foreach($obj in $list)
						
								<ul>
									<li class="xmsqs_orange_p"></li>
									<li class="mtbd_text">
										<a  target="_blank" class="black_a" title="$!obj.getTitle()" 
										 href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">
										 $parameterUtil.truncString($!obj.getSubTitle(),38,"")</a>
									</li>
								</ul>
					    #end
					</div>
				</div>
    		</div>
    	</div>
    	
    	<!-- 友情链接 -->
    	<div class="container6">
    		<div class="yqlj_title_div">
    			<div class="yqlj_title">友情链接</div>
    		</div>
    		<div class="yqlj_content">
    			<div class="yqlj_content_top">
    			    $!map.clear()
            	$!map.put("tpath", "/20/2011/201101/")
            	#set($size=$infoService.searchCountInfoContentSummarys($!map, true))
            	#set($list=$infoService.searchInfoContentSummarys($size, 1, $!map, true))
            	#foreach($obj in $list)
    				
    				     <div class="yqlj_img" ><a  title="$!obj.getTitle()" rel="external nofollow" target="_blank" href="$!obj.getUrl()"><img width="133px" height="46px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" /></a></div>
    				  #end
    			</div>
    			<div class="yqlj_content_bottom">
    				<ul style="margin-top:8px;">
    				$!map.clear()
            	$!map.put("tpath", "/20/2011/201102/")
            	#set($size=$infoService.searchCountInfoContentSummarys($!map, true))
            	#set($list=$infoService.searchInfoContentSummarys($size, 1, $!map, true))
            	#foreach($obj in $list)
    					
    					<li><a class="gray_a"  title="$!obj.getTitle()" target="_blank" href="$!obj.getUrl()">$parameterUtil.truncString($!obj.getSubTitle(),20,"")</a></li>
    					#end
    				</ul>
    			</div>
    		</div>
    		<div class="clearing"></div>
    	</div>
    </div>
    <!-- 尾部 -->
    #parse($wcw_footer)
  </body>
  	<link type="text/css" rel="stylesheet" href="$wcw_common_site/css/index/index.css" />
  	<script type="text/javascript" src="$wcw_common_site/js/plugins/jqueryTools.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/plugins/tabs_slideshow.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/plugins/jq_slideDown_ad.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/plugins/showTips2.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/common/common.js"></script>
		<script type="text/javascript" src="$wcw_common_site/js/common/pageTool.js"></script> 
	<script type="text/javascript"
			src="$wcw_common_site/js/plugins/flash.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/act/2014jiuhui/countdown.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/index/index.js"></script>
<script type="text/javascript" src="http://c2.zjtcn.com/js/act/2014jiuhui/index_jiuhui.js"></script>
</html>