<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码造价通($dataInfo.province)</title>
<link rel="stylesheet" type="text/css" href="$common_site/reduce/basic.css?v=$!stringUtil.cssCreateOn()" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/login/common.css"/>
<script type="text/ecmascript" src="$common_site/reduce/basic.js?v=$!stringUtil.cssCreateOn()"></script>
<script type="text/javascript" src="$common_site/js/zjt/findPwd/find_pwd_fail.js"></script>
</head>

<body>
<!--	header star	-->
<div id="header_box">
    <div id="header" style="margin:10px auto 0;">
        <div class="inside-com-logo" ><a href="/" class="logo01"></a><span class="logo-title">找回密码</span></div>
    </div>
</div>
<!--	header end	-->

<div class="co_01 border_1">

	<dl class="rind_psword_fail clearfix">
    	<dt><span class="icon_gth"></span></dt>
        <dd>
            <h1>您的找回密码链接无效，请尝试下面的操作提示：</h1>
            <ul>
                <li>请到您的邮箱中完整复制找回密码邮件中的重置密码链接后，拷贝至浏览器的地址栏中重试一次；</li>
                <li>找回密码邮件的有效期为30分钟，如果您没能在有效期内完成密码重置，请<a href="/common/LostPassword.html" class="bule_04">重新找回密码</a>；</li>
                <li>您也可以重新发送一封找回密码邮件到绑定的邮箱，立即<a href="javascript:void(0);" onclick="toSendMail();return false;" class="bule_04">重新发送找回密码邮件</a>。</li>
            </ul>
       	</dd>
    </dl>

</div>
</body>
</html>
