<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码造价通($dataInfo.province)</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="$common_site/reduce/basic.css?v=$!stringUtil.cssCreateOn()" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/login/common.css"/>
<link rel="stylesheet" type="text/css" href="http://c1.ccwcw.com/js/plugins/formValidator3.3/style/validator.css" />
<script type="text/ecmascript" src="$common_site/reduce/basic.js?v=$!stringUtil.cssCreateOn()"></script>
<script type="text/javascript" src="http://c1.ccwcw.com/js/plugins/formValidator3.3/formValidator_min.js"></script>
<script type="text/javascript" src="http://c1.ccwcw.com/js/plugins/formValidator3.3/formValidatorRegex.js"></script>
<script type="text/javascript" src="$common_site/js/common/forget_pwd.js"></script>
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/reset.css" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/main/common.css" />
</head>

<body>



<!--	header star	-->
	<div id="header_box">
	    <div id="header" style="margin:10px auto 0;">
          <div class="inside-com-logo" ><a href="/" class="logo01"></a><span class="logo-title">找回密码</span></div>
        </div>
	</div>
	<!--	header end	-->

<div class="co_01 border_1">

	<div class="find_psword_box">
    	<ul class="find_steps clearfix">
        	<li class="cur"><span>1</span>填写您验证的邮箱</li>
            <li class="gray_jt"></li>
            <li><span>2</span>接收密码找回邮件</li>
            <li class="gray_jt"></li>
            <li><span>3</span>重置密码</li>
        </ul>
        <ul class="find_form clearfix">
            <li style="*margin-bottom:22px;"><input id="uid" type="text" value="请您输入用户名" class="f_l" style="color:#aaa;"/><span id="uidTip" style="float:left;line-height: 14px;"></span></li>
        	<li style="*margin-bottom:22px;" class="clearfix"><input id="uemail" type="text" value="请您输入邮箱" class="f_l" style="color:#aaa;"/><span id="uemailTip" style="float:left;line-height: 14px;"></span></li>
            <li style="*margin-bottom:22px;" class="clearfix" style="_margin-bottom:22px;">
            	<input id="code" type="text" value="请输入验证码" style="width:100px; float:left;color:#aaa;"/>
                <a class="find_yzm f_l"><img id="imgCode" src="javascript:void(0);" style="margin-top:4px;" /></a>
            	<a href="javascript:void(0);" onclick="refreshCode();return false;" class="gray_09" style="margin-left:10px; line-height:26px;">看不清换一张</a>
            </li>
            <li style="*margin-bottom:22px;">
            	<a href="javascript:void(0);" onclick="submitInfo();return false;"  class="btn_login">下一步</a>
            </li>
        </ul>
        <div class="find_bottom">
        	如果您无法通过此方式找回密码，请联系客服：
            <a href="javascript:void(0);"  onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=4008889639&eid=218808P8z8p8y8y8z8z8y&o=www.zjtcn.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  class="find_pw_kf"></a>
        </div>
    </div>

</div>

  #parse($footer_dir)
</body>
</html>
