
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员注册</title>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/zjt/reset.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/zjt/global.css"/>
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/css/zjt/common_login.css"/>
</head>

<body>
<!--	header star	-->
<div id="header_box">
    <div id="header">
        	<div class="inside-com-logo" ><a href="/" class="logo01"></a><span class="logo-title">用户注册</span></div>
    </div>
</div>
<!--	header end	-->

<div class="co_01 border_1">

	<h1 class="til_name"><span>用户注册</span></h1>
    	
    <div class="conform">
    	<div class="reg_sel">
        	<a href="/common/reg_personal.html" class="geren_sel" title="个人服务请进>>"></a>
            <a href="/common/reg_cloud.html" class="qiye_sel" title="企业服务请进>>"></a>
        </div>
    </div>
    
	
</div>
</body>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa01b74f783ea1eda2c633ceefd483123' type='text/javascript'%3E%3C/script%3E"));
</script>
</html>
