<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>网材网_会员中心_供应商</title>
		<link rel="stylesheet" type="text/css"
			href="$!{c1wcw_dir}/css/common.css" />
		<link rel="stylesheet" type="text/css"
			href="$!{c1wcw_dir}/css/common/ccwcw.css" />
		<link rel="stylesheet" type="text/css"
			href="$!{c1wcw_dir}/css/account/account_header.css" />
		<link rel="stylesheet" type="text/css"
			href="$!{c1wcw_dir}/css/account/common.css" />
		<link rel="stylesheet" type="text/css"
			href="$!{c1wcw_dir}/css/account/account_index.css" />
			<link rel="stylesheet" type="text/css"
			href="$!{c1wcw_dir}/css/account/supplier_index.css" />

		<script language="javascript"
			src="$!{c1wcw_dir}/js/common/dataStore.js"></script>
		<script language="javascript"
			src="$!{c1wcw_dir}/js/common/pageTool.js"></script>
		<script language="javascript"
			src="$!{c1wcw_dir}/js/common/stuff_code.js"></script>
		<script language="javascript"
			src="$!{c1wcw_dir}/js/common/ConCom.js"></script>
		<script language="javascript"
			src="$!{c1wcw_dir}/js/common/jyeeda.js"></script>
		<script language="javascript"
			src="$!{c1wcw_dir}/js/common/msg_zhcn.js"></script>
		<script language="javascript"
			src="$!{c1wcw_dir}/js/common/jq.Slide.js"></script>	
		<script language="javascript"
			src="$!{c1wcw_dir}/js/common/basic.js"></script>
		<script language="javascript" src="/resource/js/common/common.js"></script>
		<script language="javascript" src="/resource/js/account/common.js"></script>
		<script type="text/javascript" src="/resource/js/common/jquery.cookie.js"></script>

	</head>
	<body>

		<!-- 引入头部 -->
		#parse($account_header_dir)
		<div id="main">
			<div class="block_left">
				<!-- 引入菜单 -->
				#parse($account_supplier_menu_dir)
			</div>
			
			<div id="main_right" class="block_left" style="padding-bottom: 8px;">
				 <div class="main_up block_left" style="margin-top:10px;margin-left:30px;">
					<img height="35" width="240" style="float: left;"
						src="$!{c1wcw_dir}/images/20100901/account/welcome_font.jpg" />
					<span class="money_font font_size_14" style="text-indent: 2em;margin-top: 9px;">尊贵的客户您好，您目前的金币是：</span>
					<span class="money" style="margin-top: 9px;"></span>
					<div id="supplier_score" class="money_font font_size_14"
						style="margin-left: 10px; display: inline;margin-top: 9px;">

					</div>
				</div>
				<div class="main_up block_left" style="margin-left:21px;">
					供应方客户购买、使用产品与服务获取的金币，将全部累积在供应方商铺中。金币越多，商铺的等级越高，享受的服务越多。
				</div>
				 <div id="openshop_detail" class="openshop_font2 block_left"
						style="width:900px;margin:0 0 10px 10px;color:#0079CE;font-family: '微软雅黑';font-size: 18px;display:none;">

					</div>
				<div class="liucheng" id="step_div" style="display:none;">
					<div id="lc1" class="lc1"></div>
					<div id="line1" class="line" style="display:none"></div>
					<div id="lc2" class="lc22"></div>
					<div id="lc3" class="lc3"></div>
					<div id="line2" class="line"></div>
					<div id="lc4" class="lc4"></div>
				</div>
				<div id="openshop_border" class="main_up block_left" style="display:none;">
					<!-- 是否有开通商铺的文字说明 -->
					
					<div class="openshop_center2">
								<div id="openshop_mid">
									<div class="openshop_mid_l">
										<ul>
											<li class="openshop_icon"></li>
											<li class="openshop_font">
												开通商铺后可以有更多服务如下：
												<ul class="height_20">
													<li style="font-weight:100;font-size:14px;">
														1.发布（更新）建材价格
													</li>
												</ul>
												<div class="clearing"></div>
												<ul class="height_20">
													<li style="font-weight:100;font-size:14px;">
														2.发布精品建材
													</li>
												</ul>
												<div class="clearing"></div>
												<ul class="height_20">
													<li style="font-weight:100;font-size:14px;">
														3.发布特价促销建材
													</li>
												</ul>
												<div class="clearing"></div>
												<ul class="height_20">
													<li style="font-weight:100;font-size:14px;">
														4.企业风采展示
													</li>
												</ul>
												<div class="clearing"></div>
												<ul class="height_20">
													<li style="font-weight:100;font-size:14px;">
														5.金币享企业案例
													</li>
												</ul>
												<div class="clearing"></div>
											</li>
										</ul>
										<div class="clearing"></div>
									</div>
									<div class="openshop_mid_line"></div>
									<div class="openshop_mid_r">
										<div id="openshop_btn"
											class="openshop_btn openshop_common font_size_14 strong" onclick="window.location.href='/module/account/shop_open.jsp'">
										</div>
									</div>
								</div>
					</div>
				</div>
				<div class="main_up block_left">
					<div id="info_border">
						<div class="info_left">
							<div class="info_pic">
								<img id="logo" height="115" width="100" />
							</div>
							<div id="trueName" class="info_name">
							</div>
						</div>

						<div class="info_right">
							<div class="info_edit">
								<a href="/module/account/supplier_personinfo.jsp"
									class="info_editfont">修改个人资料</a>
								<a href="/module/account/supplier_personinfo.jsp?type=1"
									class="info_editfont">修改个人密码</a>
							</div>

							<div class="info_detail">
								<ul class="info_detail_list">
									<li class="info_detail_unit">
										性别：
									</li>
									<li id="sex" class="info_detail_unit">
									</li>
								</ul>
								<div class="clearing"></div>
								<ul class="info_detail_list">
									<li class="info_detail_unit">
										电话：
									</li>
									<li id="phone" class="info_detail_unit">
									</li>
								</ul>
								<div class="clearing"></div>
								<ul class="info_detail_list">
									<li class="info_detail_unit">
										手机：
									</li>
									<li id="mobile" class="info_detail_unit">
									</li>
								</ul>
								<div class="clearing"></div>
								<ul class="info_detail_list">
									<li class="info_detail_unit">
										传真：
									</li>
									<li id="fax" class="info_detail_unit">
									</li>
								</ul>
								<div class="clearing"></div>
								<ul class="info_detail_list">
									<li class="info_detail_unit">
										&nbsp;Q&nbsp;Q：
									</li>
									<li id="qq" class="info_detail_unit">
									</li>
								</ul>
								<div class="clearing"></div>
								<ul class="info_detail_list">
									<li class="info_detail_unit">
										&nbsp;MSN：
									</li>
									<li id="msn" class="info_detail_unit">
									</li>
								</ul>
							</div>
						</div>

						<div class="clearing"></div>
					</div>
				</div>
				
				<!-- 注意：未开通商铺或商铺未审核，不显示最新信息列表 -->
				<div id="newMsgDiv" style="display:none;">
					<div class="main_up block_left" style="margin-top:6px;">
						<div class="mychances_title">
							<div class="title_left">最新项目</div>
							<div class="title_right"><a style="cursor:pointer; color:#007BCB" href="http://www.ccwcw.com/module/account/supplier_mychances_project.jsp#?type=all">更多&gt;&gt;</a></div>
						</div>
						<div class="mychances_list">
							<table class="mychances_list_tb" cellpadding="0" cellspacing="0">
								<tr>
									<th width="10%">序号</th>
									<th width="30%">项目名称</th>
									<th width="18%">发布时间</th>
									<th width="18%">报名截止时间</th>
									<th width="24%">报名状态</th>
								</tr>
								<tbody id="list_body_project">
									<tr>
										<td colspan="5" align="center" style="color:grey;height:99px;">暂没有项目</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="main_up block_left" style="margin-top:6px;">
						<div class="mychances_title">
							<div class="title_left">最新活动</div>
							<div class="title_right"><a style="cursor:pointer; color:#007BCB" href="http://www.ccwcw.com/module/account/supplier_mychances_activity.jsp#?type=all">更多&gt;&gt;</a></div>
						</div>
						<div class="mychances_list">
							<table class="mychances_list_tb" cellpadding="0" cellspacing="0">
								<tr>
									<th width="10%">序号</th>
									<th width="30%">活动名称</th>
									<th width="18%">发布时间</th>
									<th width="18%">报名截止时间</th>
									<th width="24%">报名状态</th>
								</tr>
								<tbody id="list_body_activity">
									<tr>
										<td colspan="5" align="center" style="color:grey;height:99px;">暂没有活动</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="main_up block_left" style="margin-top:6px;">
						<div class="mychances_title">
							<div class="title_left">最新招募</div>
							<div class="title_right"><a style="cursor:pointer; color:#007BCB" href="http://www.ccwcw.com/module/account/supplier_mychances_recruit.jsp#?type=all">更多&gt;&gt;</a></div>
						</div>
						<div class="mychances_list">
							<table class="mychances_list_tb" cellpadding="0" cellspacing="0">
								<tr>
									<th width="10%">序号</th>
									<th width="30%">名称</th>
									<th width="18%">发布时间</th>
									<th width="18%">报名截止时间</th>
									<th width="24%">报名状态</th>
								</tr>
								<tbody id="list_body_recruit">
									<tr>
										<td colspan="5" align="center" style="color:grey;height:99px;">暂没有招募</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="clearing"></div>
		</div>
		<!-- 引入尾部 -->
		#parse($account_footer_dir)
		<script type="text/javascript"
			src="$!{c1wcw_dir}/js/plugins/jquery.marquee.js"></script>
		<script type="text/javascript"
			src="/resource/js/account/supplier_index.js"></script>
	</body>

	<div id="listbody_scoredetail" style="display: none;">
		<ul class="border_detail_row">
			<li class="border_detail_num">
				@{rownum}
			</li>
			<li class="border_detail_date">
				@{createOn|trim_time}
			</li>
			<li class="border_detail_score" title="@{ruleName}">
				@{ruleName}
			</li>
			<li class="border_detail_edit">
				@{addScore}
			</li>
			<li class="border_detail_total">
				@{totalScore}
			</li>
		</ul>
		<div class="clearing"></div>
	</div>

	<div id="listbody_scorehistory" style="display: none;">
		<ul class="border_detail_row">
			<li class="border_detail_num">
				@{rownum}
				<br>
			</li>
			<li class="border_detail_date">
				@{createOn|trim_time}
				<br>
			</li>
			<li class="border_detail_edit">
				@{code}
				<br>
			</li>
			<li class="border_detail_edit" title="@{name}">
				@{name}
				<br>
			</li>
			<li class="border_detail_total">
				@{quantity}
				<br>
			</li>
			<li class="border_detail_total">
				@{score}
				<br>
			</li>
		</ul>
		<div class="clearing"></div>
	</div>
</html><script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-15816964-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' :'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>