<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>行业频道 - 网材网 - 中国最大的建材供应信息平台</title>
 <meta name="keywords" content="建筑材料，建材材料，建材供应，建材信息，新型建材，环保建材" />
<meta name="description" content="行业频道涵盖了建材46大类，124类主要材料，涉及土建、装饰、安装、市政园林，并集约了将近45000家中国建材企业，通过行业频道，材料供应商可以第一时间发布最新的材料价格，更新供应信息。钢筋、水泥、建筑涂料、门窗、管材等热门材料面向全国火热供应，庞大的建材信息流，供求信息高度交互平台"/>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="$wcw_common_site/js/common/jyeeda.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/common/basic.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/common/jq.Slide.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/plugins/jqueryTools.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/plugins/tabs_slideshow.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/plugins/jq_slideDown_ad.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/common/common.js"></script>
	<link rel="stylesheet" type="text/css" href="$wcw_common_site/css/tradeChannel/index.css">
		<script type="text/javascript">
			$(function(){
				init();
			});
		
		</script>
  </head>
  
  <body>
	#parse($wcw_header)
	<div id="main">
	#parse($hypd_nav)
	<div class="ad_container" style="margin: 8px auto; width:950px; height: 47px;">
		<ul>
			<li style="width:752px;  float: left; margin-right: 8px; _margin-right:4px;">
			
			$!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120301/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1,$!map, true))
                    	#foreach($obj in $list)
			<a rel="external nofollow" href="$!obj.getUrl()" target="_blank" style="display: block; height: 47px; width: 752px;"> <img alt="$!obj.getTitle()" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" /> </a>
			
			#end
			</li>
			<li style="width:97px;float: left;">
			$!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120302/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true)) 
                    	#foreach($obj in $list)
			<a rel="external nofollow" href="$!obj.getUrl() " target="_blank" style="display: block; height: 47px; width: 97px;"> <img alt="$!obj.getTitle()" width="97px" height="47px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" /> </a>
			
			#end</li>
			<li style="width:93px; margin-right: 0px;float: left;">
			
						$!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120303/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true))
                      #foreach($obj in $list)
			<a rel="external nofollow" href="$!obj.getUrl() " target="_blank" style="display: block; height: 47px; width: 93px;"> <img alt="$!obj.getTitle()" width="93px" height="47px" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" /> </a>
			#end
			</li>
		</ul>
	</div>
	<div id="channel_content">
		<div class="l_C">
			<div class="title_banner" style="width:665px;">
				<div class="title_banner_left"></div>
				<div class="title_banner_center" style="width:659px;">
					<div class="title_icon"></div>
					<a  target="_blank" class="black_1" href="/module/V3/tradeChannel/searchList.html">
						<div class="title_text">行业分类</div>
					</a>
						
					$!map.clear()
					$!map.put("tpath","/20/2001/200103/20010303/")
					$!map.put("isTop","1")
					#set($list = $infoService.searchInfoContentSummarys(1,1,$!map,true))
					#foreach($obj in $list)					
					<a  target="_blank" class="black_1" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())"><div class="hyfl_info" title="$!obj.getTitle() " style="text-align:left;"><div class="li_icon"></div>$!parameterUtil.truncString($!obj.getSubTitle(),42,"") </div></a>
					#end
				</div>
				<div class="title_banner_right"></div>
			</div>
			<div class="fac_content">
					<div class="fac_type" style="height: 270px;">
						<div class="fac_type_l">
							<div style="top: 100px; position: relative;">
								<img src="http://c1.ccwcw.com/images/tradeChannel/i_30x30_jz.jpg">
							</div>
							<div class="clearing"></div>
							<div class="fac_type_title strong" style="top: 100px; position: relative;">
								家&nbsp;装&nbsp;建&nbsp;材
							</div>

						</div>
						<div class="fac_type_r" style="height: 270px;">
							<ul style="margin-top: 5px; float: left; width: 100%; * height: 255px; display: inline;">
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=01" target="_blank">地板</a>
									<a href="/hypd/searchList.html?id=0102"  target="_blank">实木复合地板</a>
									<a href="/hypd/searchList.html?id=0103" class="red" target="_blank">强化复合地板</a>
									<a href="/hypd/searchList.html?id=0114" target="_blank">网络地板</a>
									<a href="/hypd/searchList.html?id=0117" target="_blank">地毯</a>
		
								</li>

								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=02" target="_blank">吊顶</a>
									<a href="/hypd/searchList.html?id=0201"  class="red" target="_blank">石膏板</a>
									<a href="/hypd/searchList.html?id=0202" target="_blank">矿棉板</a>
									<a href="/hypd/searchList.html?id=0203" target="_blank">天花板</a>
									<a href="/hypd/searchList.html?id=0204" target="_blank">石膏线</a>
									<a href="/hypd/searchList.html?id=0205" target="_blank">龙骨</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=03" target="_blank">玻璃</a>
									<a href="/hypd/searchList.html?id=0302" target="_blank">钢化玻璃</a>
									<a href="/hypd/searchList.html?id=0303" target="_blank">夹层玻璃</a>
									<a href="/hypd/searchList.html?id=0304" target="_blank">中空玻璃</a>
									<a href="/hypd/searchList.html?id=0309" class="red" target="_blank">防火玻璃</a>
									
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=04" target="_blank">门窗</a>
									<a href="/hypd/searchList.html?id=0402" target="_blank">实木复合门</a>
									<a href="/hypd/searchList.html?id=0404" class="red" target="_blank">铝合金门窗</a>
									<a href="/hypd/searchList.html?id=0406" target="_blank">不锈钢门窗</a>
									<a href="/hypd/searchList.html?id=0427" target="_blank">车库门</a>
									
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=05" target="_blank">板材</a>
									<a href="/hypd/searchList.html?id=0502"  class="red" target="_blank">胶合板</a>
									<a href="/hypd/searchList.html?id=0505" target="_blank">细木工板</a>
									<a href="/hypd/searchList.html?id=0506" target="_blank">饰面板</a>
									<a href="/hypd/searchList.html?id=0508" target="_blank"防火板</a>
									<a href="/hypd/searchList.html?id=0509" target="_blank">保温板</a>

								</li>

								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=06" target="_blank">木材</a>
									<a href="/hypd/searchList.html?id=0601" target="_blank">木方</a>
									<a href="/hypd/searchList.html?id=0602" class="red" target="_blank">杉木</a>
									<a href="/hypd/searchList.html?id=0609" target="_blank">菠萝格</a>
									<a href="/hypd/searchList.html?id=0612" target="_blank">防腐木</a>
									<a href="/hypd/searchList.html?id=0613" target="_blank">木线条</a>

								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=07" target="_blank">墙材</a>
									<a href="/hypd/searchList.html?id=0701" class="red" target="_blank">铝塑板</a>
									<a href="/hypd/searchList.html?id=0702" target="_blank">铝单板</a>
									<a href="/hypd/searchList.html?id=0703" target="_blank">铝蜂窝板</a>
									<a href="/hypd/searchList.html?id=0704" target="_blank">幕墙</a>
									<a href="/hypd/searchList.html?id=0705" target="_blank">幕墙配件</a>
							
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=08" target="_blank">隔断</a>
									<a href="/hypd/searchList.html?id=0801" target="_blank">活动隔断</a>
									<a href="/hypd/searchList.html?id=0802" target="_blank">玻璃隔断</a>
									<a href="/hypd/searchList.html?id=0803" target="_blank">办公隔断</a>
									<a href="/hypd/searchList.html?id=0804" target="_blank">卫生间隔断</a>

								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=09" target="_blank">涂料</a>
									<a href="/hypd/searchList.html?id=0903" target="_blank">内墙涂料</a>
									<a href="/hypd/searchList.html?id=0904" target="_blank">外墙涂料</a>
									<a href="/hypd/searchList.html?id=0907" target="_blank">地坪漆</a>
						
									<a href="/hypd/searchList.html?id=0916"  class="red" target="_blank">防水涂料</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=10" target="_blank">防水</a>
									<a href="/hypd/searchList.html?id=1001"  class="red" target="_blank">SBS防水卷材</a>
									<a href="/hypd/searchList.html?id=1002" target="_blank">APP防水卷材</a>
									<a href="/hypd/searchList.html?id=1008" target="_blank">止水条</a>
									<a href="/hypd/searchList.html?id=1010" target="_blank">防水剂</a>
									
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=11" target="_blank">化学建材</a>
									<a href="/hypd/searchList.html?id=1101" target="_blank">粘合剂</a>
									<a href="/hypd/searchList.html?id=1102" target="_blank">胶粘剂</a>
									
									<a href="/hypd/searchList.html?id=1105" target="_blank">填缝剂</a>
									<a href="/hypd/searchList.html?id=1110" target="_blank">砂浆</a>
									<a href="/hypd/searchList.html?id=1113"  class="red" target="_blank">万能胶</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=12" target="_blank">瓷砖</a>
									<a href="/hypd/searchList.html?id=1201" target="_blank">内墙砖</a>
									<a href="/hypd/searchList.html?id=1202" target="_blank">外墙砖</a>
									<a href="/hypd/searchList.html?id=1205" target="_blank">马赛克</a>
									<a href="/hypd/searchList.html?id=1207" target="_blank">地板砖</a>
									<a href="/hypd/searchList.html?id=1210"  class="red" target="_blank">广场砖</a>
									<a href="/hypd/searchList.html?id=1215"  target="_blank">腰线</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=13" target="_blank">卫浴</a>
									<a href="/hypd/searchList.html?id=1301" target="_blank">浴缸</a>
									<a href="/hypd/searchList.html?id=1303" class="red" target="_blank">水龙头</a>
									<a href="/hypd/searchList.html?id=1309" target="_blank">坐便器</a>
									<a href="/hypd/searchList.html?id=1311" target="_blank">蹲便器</a>
									<a href="/hypd/searchList.html?id=1316"   target="_blank">太阳能热水器</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=14" target="_blank">家具</a>
									<a href="/hypd/searchList.html?id=1401" target="_blank">床</a>
									<a href="/hypd/searchList.html?id=1408" target="_blank">桌椅</a>
									<a href="/hypd/searchList.html?id=1411" target="_blank">橱柜</a>
									<a href="/hypd/searchList.html?id=1414" target="_blank">文件柜</a>
									<a href="/hypd/searchList.html?id=1417"   target="_blank">办公桌</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=15" target="_blank">厨具</a>
									<a href="/hypd/searchList.html?id=1501" target="_blank">灶具</a>
									<a href="/hypd/searchList.html?id=1504" target="_blank">微波炉</a>
									<a href="/hypd/searchList.html?id=1505" target="_blank">消毒柜</a>
									<a href="/hypd/searchList.html?id=1509" target="_blank">油烟机</a>
									<a href="/hypd/searchList.html?id=1510"  class="red" target="_blank">厨房设备</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=16" target="_blank">五金</a>
									<a href="/hypd/searchList.html?id=1601" target="_blank">紧固件</a>
									<a href="/hypd/searchList.html?id=1602" target="_blank">门窗五金</a>
									<a href="/hypd/searchList.html?id=1603" target="_blank">家具五金</a>
									<a href="/hypd/searchList.html?id=1618" target="_blank">五金配件</a>
									
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=17" target="_blank">锁具</a>
									<a href="/hypd/searchList.html?id=1701" target="_blank">感应锁</a>
									<a href="/hypd/searchList.html?id=1702" target="_blank">电子锁</a>
									<a href="/hypd/searchList.html?id=1703" target="_blank">密码锁</a>
									<a href="/hypd/searchList.html?id=1704" target="_blank">指纹锁</a>
									<a href="/hypd/searchList.html?id=1708"  class="red" target="_blank">车位锁</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=18" target="_blank">窗帘</a>
									<a href="/hypd/searchList.html?id=1801" target="_blank">布艺窗帘</a>
									<a href="/hypd/searchList.html?id=1802" target="_blank">电动窗帘</a>
									<a href="/hypd/searchList.html?id=1803" target="_blank">百叶窗帘</a>

									<a href="/hypd/searchList.html?id=1805" target="_blank">卷帘窗帘</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=19" target="_blank">家居</a>
									<a href="/hypd/searchList.html?id=1901" target="_blank">软包</a>
									<a href="/hypd/searchList.html?id=1902" class="red" target="_blank">墙纸</a>
									<a href="/hypd/searchList.html?id=1903" target="_blank">壁炉</a>
									<a href="/hypd/searchList.html?id=1907" target="_blank">晾衣架</a>
									<a href="/hypd/searchList.html?id=1903" target="_blank">家居用品</a>
								</li>

							</ul>

							<div class="clearing"></div>
						</div>
						<div class="clearing"></div>
					</div>
					
					<div class="fac_type" style="height: 98px;">
						<div class="fac_type_l">
							<div style="top: 20px; position: relative;">
								<img src="http://c1.ccwcw.com/images/tradeChannel/i_30x30_dq.jpg">
							</div>
							<div class="clearing"></div>
							<div class="fac_type_title strong" style="top: 20px; position: relative;">
								电气 安防 照明
							</div>
						</div>
						<div class="fac_type_r" style="height: 98px;">
							<ul style="margin-top: 5px; float: left; width: 100%; * height: 155px; display: inline;">
								

								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=31" target="_blank">电气</a>
									<a href="/hypd/searchList.html?id=3106" class="red" target="_blank">变压器</a>
									<a href="/hypd/searchList.html?id=3109" target="_blank">断路器</a>
									<a href="/hypd/searchList.html?id=3114"  target="_blank">UPS电源</a>
									<a href="/hypd/searchList.html?id=3115"  target="_blank">开关电源</a>
									<a href="/hypd/searchList.html?id=3121"  target="_blank">发电机</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=32" target="_blank">电工</a>
									<a href="/hypd/searchList.html?id=3202" target="_blank">触摸开关</a>
									<a href="/hypd/searchList.html?id=3204" target="_blank">感应开关</a>
									<a href="/hypd/searchList.html?id=3210" target="_blank">电线电缆</a>
									<a href="/hypd/searchList.html?id=3211" target="_blank">电缆桥架</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=33" target="_blank">家电</a>
									<a href="/hypd/searchList.html?id=3301"  target="_blank">冰箱</a>
									<a href="/hypd/searchList.html?id=3302" target="_blank">电视</a>
									<a href="/hypd/searchList.html?id=3303" target="_blank">洗衣机</a>
									<a href="/hypd/searchList.html?id=3306" target="_blank">净水器</a>
									<a href="/hypd/searchList.html?id=3307" target="_blank">壁挂炉</a>
								</li>

								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=34" target="_blank">灯具</a>
									<a href="/hypd/searchList.html?id=3401" class="red" target="_blank">LED灯</a>
									<a href="/hypd/searchList.html?id=3409" target="_blank">吊灯</a>
									<a href="/hypd/searchList.html?id=3413" target="_blank">吸顶灯</a>
									<a href="/hypd/searchList.html?id=3420" target="_blank">投光灯</a>
									<a href="/hypd/searchList.html?id=3427" target="_blank">庭院灯</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=35" target="_blank">安防</a>
									<a href="/hypd/searchList.html?id=3507" class="red" target="_blank">摄像机</a>
									<a href="/hypd/searchList.html?id=3509" target="_blank">监视器</a>
									<a href="/hypd/searchList.html?id=3519" target="_blank">火灾报警器</a>
									<a href="/hypd/searchList.html?id=3520" target="_blank">消防器材</a>
								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=36" target="_blank">仪器仪表</a>
									<a href="/hypd/searchList.html?id=3601" class="red" target="_blank">水表</a>
									<a href="/hypd/searchList.html?id=3602" target="_blank">压力表</a>
									<a href="/hypd/searchList.html?id=3604" target="_blank">流量计</a>
									<a href="/hypd/searchList.html?id=3611" target="_blank">电子测量仪器</a>
								</li>

			
							</ul>

							<div class="clearing"></div>
						</div>
						<div class="clearing"></div>
					</div>

					<div class="fac_type" style="height: 90px;">
						<div class="fac_type_l">
							<div style="top: 20px; position: relative;">
								<img src="http://c1.ccwcw.com/images/tradeChannel/i_30x30_sr.jpg">
							</div>
							<div class="clearing"></div>
							<div class="fac_type_title strong" style=" position: relative;top: 20px;">
								水暖 通风设备
							</div>
						</div>
						<div class="fac_type_r" style="height: 90px;">
							<ul style="margin-top: 5px; float: left; width: 100%; * height: 358px; display: inline;">
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=41" target="_blank">管材</a>
									<a href="/hypd/searchList.html?id=4101"  target="_blank">PVC管</a>
									<a href="/hypd/searchList.html?id=4106" class="red" target="_blank">钢管</a>
									<a href="/hypd/searchList.html?id=4107" target="_blank">不锈钢管</a>
									<a href="/hypd/searchList.html?id=4111" target="_blank">球墨铸铁管</a>
									<a href="/hypd/searchList.html?id=4114" target="_blank">水泥管</a>
								</li>

								
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=42" target="_blank">管件</a>
									<a href="/hypd/searchList.html?id=4204" target="_blank">异径管</a>
									<a href="/hypd/searchList.html?id=4206" target="_blank">接头</a>
									<a href="/hypd/searchList.html?id=4210" target="_blank">法兰</a>
									<a href="/hypd/searchList.html?id=4211" target="_blank">软管</a>
									<a href="/hypd/searchList.html?id=4216" class="red" target="_blank">井盖</a>
								</li>

							
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=43" target="_blank">阀门</a>
									<a href="/hypd/searchList.html?id=4302" target="_blank">闸阀</a>
									<a href="/hypd/searchList.html?id=4303" target="_blank">蝶阀</a>
									<a href="/hypd/searchList.html?id=4305" class="red" target="_blank">截止阀</a>
									<a href="/hypd/searchList.html?id=4306" target="_blank">止回阀</a>
									<a href="/hypd/searchList.html?id=4312" target="_blank">调节阀</a>
								</li>

								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=44" target="_blank">泵</a>
									<a href="/hypd/searchList.html?id=4404" class="red" target="_blank">消防泵</a>
									<a href="/hypd/searchList.html?id=4405" target="_blank">管道泵</a>
									<a href="/hypd/searchList.html?id=4406" target="_blank">潜水泵</a>
									<a href="/hypd/searchList.html?id=4419" target="_blank">化工泵</a>
									<a href="/hypd/searchList.html?id=4421" target="_blank">油泵</a>
								</li>
								
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=45" target="_blank">空调</a>
									<a href="/hypd/searchList.html?id=4501" class="red" target="_blank">中央空调</a>
									<a href="/hypd/searchList.html?id=4502" target="_blank">商用空调</a>
									<a href="/hypd/searchList.html?id=4511" target="_blank">离心风机</a>

									<a href="/hypd/searchList.html?id=4517" target="_blank">通风设备</a>
								</li>
								
							</ul>

							<div class="clearing"></div>
						</div>
						<div class="clearing"></div>
					</div>

					<div class="fac_type" style="height:116px;">
						<div class="fac_type_l">
							<div style="top: 34px; position: relative;">
								<img src="http://c1.ccwcw.com/images/tradeChannel/i_30x30_jg.jpg">
							</div>
							<div class="clearing"></div>
							<div class="fac_type_title strong" style="position: relative;top: 34px; ">
								钢材 结构
							</div>
						</div>
						<div class="fac_type_r" style="height: 116px;">
							<ul style="margin-top: 5px; float: left; width: 100%; * height: 358px; display: inline;">
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=51" target="_blank">钢材</a>
									<a href="/hypd/searchList.html?id=5101"  target="_blank">圆钢</a>
									<a href="/hypd/searchList.html?id=5102" class="red" target="_blank">螺纹钢</a>
									<a href="/hypd/searchList.html?id=5103" target="_blank">线材</a>
									<a href="/hypd/searchList.html?id=5110" target="_blank">型钢</a>
									<a href="/hypd/searchList.html?id=5115" target="_blank">不锈钢</a>
								</li>

								
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=52" target="_blank">铝材</a>
									<a href="/hypd/searchList.html?id=5201" target="_blank">铝材</a>
									<a href="/hypd/searchList.html?id=5202" target="_blank">铝板</a>
									<a href="/hypd/searchList.html?id=5203" target="_blank">铝棒</a>
									<a href="/hypd/searchList.html?id=5204" class="red" target="_blank">铝型材</a>
									
								</li>

							
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=53" target="_blank">钢结构</a>
									<a href="/hypd/searchList.html?id=5301" target="_blank">钢结构</a>
									<a href="/hypd/searchList.html?id=5303" target="_blank">楼承板</a>
									<a href="/hypd/searchList.html?id=5304" class="red" target="_blank">彩钢板</a>
									<a href="/hypd/searchList.html?id=5305" target="_blank">彩钢瓦</a>
									<a href="/hypd/searchList.html?id=5306" target="_blank">金属屋面</a>
								</li>

								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=54" target="_blank">活动房</a>
									<a href="/hypd/searchList.html?id=5401" target="_blank">活动板房</a>
									<a href="/hypd/searchList.html?id=5402" target="_blank">集装箱活动房</a>
									<a href="/hypd/searchList.html?id=5403" target="_blank">移动厕所</a>
									<a href="/hypd/searchList.html?id=5404" target="_blank">岗亭</a>

								</li>
								
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=55" target="_blank">水泥及预制品</a>
									<a href="/hypd/searchList.html?id=5501" class="red" target="_blank">水泥</a>
									<a href="/hypd/searchList.html?id=5504" target="_blank">水泥制品</a>
									<a href="/hypd/searchList.html?id=5505" target="_blank">混凝土制品</a>
				

								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=56" target="_blank">电梯</a>
									<a href="/hypd/searchList.html?id=5601" class="red" target="_blank">客梯</a>
									<a href="/hypd/searchList.html?id=5602" target="_blank">货梯</a>
									<a href="/hypd/searchList.html?id=5603" target="_blank">扶梯</a>
									<a href="/hypd/searchList.html?id=5604" target="_blank">观光电梯</a>
									<a href="/hypd/searchList.html?id=5605" target="_blank">电梯配件</a>  

								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=57" target="_blank">楼梯</a>
									<a href="/hypd/searchList.html?id=5701" target="_blank">实木楼梯</a>
									<a href="/hypd/searchList.html?id=5702" target="_blank">钢木楼梯</a>
									<a href="/hypd/searchList.html?id=5703" target="_blank">不锈钢楼梯</a>
									<a href="/hypd/searchList.html?id=5704" target="_blank">铁艺楼梯</a> 
									

								</li>
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=58" target="_blank">工程机械</a>
									<a href="/hypd/searchList.html?id=5801" target="_blank">起重机</a>
									<a href="/hypd/searchList.html?id=5802" target="_blank">升降机</a>
									<a href="/hypd/searchList.html?id=5807" class="red" target="_blank">挖掘机</a>
									 
									<a href="/hypd/searchList.html?id=5831" target="_blank">混凝土机械</a> 
								</li>
								
							</ul>

							<div class="clearing"></div>
						</div>
						<div class="clearing"></div>
					</div>
					
					
						<div class="fac_type" style="height: 60px;">
						<div class="fac_type_l">
							<div style="position: relative;top:6px;">
								<img src="http://c1.ccwcw.com/images/tradeChannel/i_30x30_mm.jpg">
							</div>
							<div class="clearing"></div>
							<div class="fac_type_title strong" style=" position: relative;top:6px;">
								石材 苗木
							</div>
						</div>
						<div class="fac_type_r" style="height: 60px;">
							<ul style="margin-top: 5px; float: left; width: 100%; * height: 358px; display: inline;">
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=61" target="_blank">园艺</a>
									<a href="/hypd/searchList.html?id=6101" class="red"  target="_blank">乔木</a>
									<a href="/hypd/searchList.html?id=6102"  target="_blank">灌木</a>
									<a href="/hypd/searchList.html?id=6104" target="_blank">地被植物</a>
									<a href="/hypd/searchList.html?id=6105" target="_blank">棕榈科植物</a>
									<a href="/hypd/searchList.html?id=6107" target="_blank">花卉</a>
									<a href="/hypd/searchList.html?id=6117" target="_blank">健身器材</a>
								</li>

								
								<li class="fac_title_type">
									<a class="fac_title strong" href="/hypd/searchList.html?id=62" target="_blank">石材</a>
									<a href="/hypd/searchList.html?id=6201" target="_blank">大理石</a>
									<a href="/hypd/searchList.html?id=6202"class="red"  target="_blank">花岗岩</a>
									<a href="/hypd/searchList.html?id=6203"  target="_blank">砂岩</a>
									<a href="/hypd/searchList.html?id=6206" target="_blank">文化石</a> 
									<a href="/hypd/searchList.html?id=6212" target="_blank">鹅卵石</a> 
								</li>

							
								
								
							</ul>

							<div class="clearing"></div>
						</div>
						<div class="clearing"></div>
					</div>
				</div>
			
			<!-- 行业频道列表结束 -->
			
		</div>
		<div class="r_C">

			
		
			$!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120306/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true))   
                        #foreach($obj in $list)
			<a rel="external nofollow" href=$!obj.getUrl() " target="_blank" style="display: block; height: 175px; width: 277px;"><img alt="$!obj.getTitle()" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" width="277px" height="175px"/> </a>
			
			#end
			<div id="tjjc">
	<div class="title_banner" style="width: 277px;">
		<div class="title_banner_left"></div>
		<div class="title_banner_center" style="width: 271px;">
			<div class="title_icon"></div>
			<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2007/200702/')">
			<div class="title_text">
				热门产品供应
			</div>
			</a>
			
		</div>
		<div class="title_banner_right"></div>
	</div>
	
		
		<ul class="hot_gy_cp clearfix">		
			
        	#set($list = $facService.showFacPriceByUpdate(6, 1,""))
              #foreach($obj in $list)
				<li style="margin:33px 10px 0">
			    	<img width="110px" height="86px" src="http://ftp.zjtcn.com/$!obj.getTopPhoto()" />
			        <a class="name_gys" href="/search/jiancai-search.html?name=$!obj.getName()&searchType=1">$!obj.getName()</a>
			    </li>
			#end

						
		</ul>
</div>
			
			<!-- right end -->
		</div>			
		</div>
	
	
	
	<div id="channel_others">
	<div class="ad_container">
		<ul>
			<li style="width:329px;">
			
				$!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120304/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true)) 
                    	#foreach($obj in $list)
			<a rel="external nofollow" href="$!obj.getUrl() " target="_blank" style="display: block; height: 80px; width: 329px;"> <img alt="$!obj.getTitle()" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" style="height:80px;width:329px;"/> </a>
			
			#end
			</li>
			<li style="width:328px;">
			
						$!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120305/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true))
                        #foreach($obj in $list)
			<a rel="external nofollow"  href="$!obj.getUrl() " target="_blank" style="display: block; height: 80px; width: 328px;"> <img alt="$!obj.getTitle()" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" style="height:80px;width:328px;"/> </a>
			
			#end</li>
			<li style="width:277px; margin-right: 0px;">
			
			$!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120307/")
                    	#set($list= $infoService.searchInfoContentSummarys(1, 1, $!map, true))
                    	#foreach($obj in $list)
                	
			<a rel="external nofollow" href="$!obj.getUrl() " target="_blank" style="display: block; height: 80px; width: 277px;"> <img alt="$!obj.getTitle()" style="height:80px;width:277px;" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath()) " /> </a>
			#end
			</li>
		</ul>
	</div>
		<div class="left">
		
			<div class="title_banner" style="width:329px;">
					<div class="title_banner_left"></div>
					<div class="title_banner_center" style="width:323px;">
						<div class="title_icon"></div>
						<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2003/')"><div class="title_text">价格行情</div></a>
						<a class="blue2_a gengduo" href="$templateUtil.getInfoContentList('/20/2003/')"  target="_blank">更多＞＞</a>
					</div>
					<div class="title_banner_right"></div>
			</div>
			<div class="content">
				<ul>
					
						 $!map.clear()
                    	$!map.put("tpath", "/20/2003/")
                    	#set($list= $infoService.searchInfoContentSummarys(8, 1, $!map, true) )
                        #foreach($obj in $list)
                    	
                	
					<li><div class="li_icon"></div><a  target="_blank" class="black_a" title="$!obj.getTitle()" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">
					$!parameterUtil.truncString($!obj.getTitle(),40,"")</a></li>
			#end
				</ul>
			</div>
		</div>
		<div class="center">

			<div class="title_banner" style="width:328px;">
					<div class="title_banner_left"></div>
					<div class="title_banner_center" style="width:322px;">
						<div class="title_icon"></div>
						<a  target="_blank"  class="black_a" href="$templateUtil.getInfoContentList('/20/2002/')"><div class="title_text">行业资讯</div></a>
						<a class="blue2_a gengduo" href="$templateUtil.getInfoContentList('/20/2002/')"  target="_blank">更多＞＞</a>
					</div>
					<div class="title_banner_right"></div>
			</div>
			<div class="content">
				<ul>
				
				$!map.clear()
                    	$!map.put("tpath", "/20/2002/")
                    	#set($list = $infoService.searchInfoContentSummarys(8, 1, $!map, true))
                    	#foreach($obj in $list)
					<li><div class="li_icon"></div><a  target="_blank" class="black_a" title="$!obj.getTitle()" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">$!parameterUtil.truncString($!obj.getTitle(),40,"") </a></li>
			#end
				</ul>
			</div>
		</div>
		<div class="right">
		              
	       <div class="cggs_contect">
				<div class="title_banner" style="width: 278px;">
					<div class="title_banner_left"></div>
					<div class="title_banner_center" style="width: 272px;">
						<div class="title_icon"></div>
						<a  target="_blank" class="black_a" href="$templateUtil.getInfoContentList('/20/2007/200704/')"><div class="title_text">
							成功故事
						</div>
						</a>
						<a class="blue2_a gengduo" href="$templateUtil.getInfoContentList('/20/2007/200704/')"  target="_blank">更多＞＞</a>
					</div>
					<div class="title_banner_right"></div>
				</div>
				 
							$!map.clear()
	                    	$!map.put("tpath", "/20/2007/200704/")
	                    	$!map.put("isTop","1")
	                    	#set($list= $infoService.searchInfoContentSummarys(1, 1, $!map, true))
                                #foreach($obj in $list) 
	                    	
	                	
				<div class="cggs_div" style="height:229px">
					
					<div class="cggs_img">
					<a  target="_blank" title="$!obj.getTitle()" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">
						<img  width="270px" height="130px"
							src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" />
					</a>		
					</div>
					
					<div class="cggs_title">
						<a  target="_blank" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())"
						style="font-size: 14px;">$!parameterUtil.truncString($!obj.getTitle(),30,"")</a>
					</div>
					<div class="cggs_text">
						$!parameterUtil.truncString($!obj.getSummary(),120,"")【<a  target="_blank"  class="black_a" href="$templateUtil.getWcwInfoContentUrl($!obj.getId(),$!obj.getTpath(),$!obj.getAddTime())">详细</a>】
					</div>
					
				</div>
				#end
			</div>
			
		</div>
	</div>
	</div>
	</div>
	#parse($wcw_footer)	
  </body>
</html>
