<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
#set($content=$dataInfo.info)
  <head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>网材网团购_团购详情</title>
    <meta name="keywords" content="$!content.tags" />
 <meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="$wcw_common_site/css/tuangou/details.css">
	<script type="text/javascript" src="$wcw_common_site/js/common/jyeeda.js"></script> 
	<script type="text/javascript" src="$wcw_common_site/js/common/dataStore.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/common/basic.js"></script>
	<script type="text/javascript" src="$wcw_common_site/js/common/ConCom.js"></script> 
	<script type="text/javascript" src="$wcw_common_site/js/common/common.js"></script>
  </head>
  
  <body>
    #parse($wcw_header)
    #parse($hypd_nav)
    <div id="main">
    <div id="banner01">
   
						$!map.clear()
                    	$!map.put("tpath", "/20/2012/201203/20120311/")
                    	#set($list = $infoService.searchInfoContentSummarys(1, 1, $!map, true))   
                    	#foreach($obj in $list)
                	
	   			<a rel="external nofollow" href="$!obj.getUrl()" target="_blank" style="display: block; height: 80px; width: 950px;"> <img  alt="$!obj.getTitle()" src="$!fileUtil.getWcwFileUrl($!obj.getPicPath())" /> </a>
	   			#end
    </div>
    
    <div id="pro_details">
    	<div id="pro_details_l">
    		<div class="title" id="title">$!content.title</div>
    		<div class="content">
    			<div id="templatebody">
    			<div class="pro_info">
	    				<div class="pro_img">
	    				#set($list = $infoService.listInfoPicFromBase($!content.id))
                    	#foreach($obj in $list)
	    					<a href="#" id="imgHref">
	    						<img  alt="$!obj.getTitle()" id="tuangou_img" src="$!fileUtil.getWcwFileUrl($!obj.getPath())" width="317px" height="317px">
	    					</a>
	    				#end	
	    				</div>
	    				<div class="pro_txt">
	    					<ul>
	    						<li>团批价：<font color="red" style="font-size:18px;">￥<B style="font-size:18px; font-weight: 700;">$!content.col1</B></font>	</li>
	    						<li>促销数量：<b style="color:red;font-size:16px;font-weight: 700">$!content.col4</b>	</li>
	    						<li>倒计时：<b style="color:red; font-size:16px;font-weight: 700">$!parameterUtil.leftDays($!content.col2)</b>&nbsp;天	</li>
	    						<li>支付方式:<b style="color:#333; font-size:14px; font-weight: 700"> $!content.col5</b>	</li>
	    						<li><span class="pro_hot">关注度：</span>
									<div id="hot_bg">
										<div style="width:$!parameterUtil.parseInt($!content.col3);"></div>
									</div>
									<span class="pro_hot">$!content.col3 %</span>
								</li>
								<li>$!content.title</li>
						
	    					</ul>
	    					
	    				</div>
    			</div>
    			</div>
    		
    			
    			<div class="pro_img_icon">
    				<ul id="templatelistobj">
    			
                    	#set($list = $infoService.listInfoPicFromBase($!content.id))
                    	#foreach($obj in $list)
    					          <li index="$velocityCount"><img id="pic" src="$!fileUtil.getWcwFileUrl($!obj.getPath())" width="58px" height="58px"></li>
    					        #end
    				</ul>
    				<div id="img_border"></div>
    			</div>
    		</div>
    		<div class="detail">
    				<div class="detail_title">详细信息</div>
    				<div id="content" class="detail_content">
    					$!content.content
    				</div>
    		</div>
    		<!-- 
    		<div class="detail">
    				<div class="detail_title">批发说明</div>
    				<div class="detail_content" >
    					混款批发，单次满600元可免20元邮费等。   <br> <br><br> <br><br> <br>
    				</div>
    		</div>
    		<div class="detail">
    				<div class="detail_title">运费说明</div>
    				<div class="detail_content">
    					1.混款批发，单次满600元可免20元邮费等。 <br>
    					1.混款批发，单次满600元可免20元邮费等。  <br>
    					1.混款批发，单次满600元可免20元邮费等。  <br>
    					1.混款批发，单次满600元可免20元邮费等。  <br><br> <br><br> <br>
    				</div>
    		</div>
    		 -->
    	</div>
    	
    	<div id="pro_details_r">
    	#parse($wcw_cxyl)
    	</div>
    </div>
    </div>
   #parse($wcw_footer)
   <script type="text/javascript" src="$wcw_common_site/js/tuangou/details.js"></script>
  </body>
</html>
