<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
         <title>造价通参考价_($dataInfo.province)最准确的建材参考价格_($dataInfo.province)造价通</title>
		<meta name="description"
			content="造价通参考价，每月发布最新的建材价格信息，材料价格走势，覆盖土建、装饰、安装、市政、园林五大类别，涵盖600多个材料分类，为($dataInfo.province)各地提供客观、精准的材料价格预算参考依据。"/>
		<meta name="keywords"	
			content="参考价，主材价格，材料价格参考，预算价格，价格走势"/>
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		

    </head>
    <body>
        #parse($header_dir)

<!--	contanier	-->
<div id="contanier" style="width:1100px;" class="clearfix">
	<!--	面包屑	-->
	<div class="breadCrumb">
    	<a href="/">首页</a><i>&gt;</i><span>造价通参考价</span>
    </div>
    <!--	面包屑	-->
    <div class="bo_1">
    	
        <div class="ckj_zst_box">
        	<h2 id="mat_name">
            	价格行情<br/>
                <span>规格/型号: HPB235Ф6.5  单位： t</span><br/>
                
            </h2>
            <p style="text-align:center;">
                <span>最小值:  <i style="color:red;" id="min_price">0.00</i>元</span>
                <span class="m-l-10">最大值:  <i style="color:red;" id="max_price">0.00</i>元</span>
                <span class="m-l-10">均值:   <i style="color:red;" id="avg_price">0.00</i>元</span>
            <p>
            <div class="zst_div" id="container">

            </div>
            
        </div>
    	
    </div>
    
</div>
<!--	contanier	-->
<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/js/plungins/jquery-ui/jquery.ui.datepicker.css"/>
	<link rel="stylesheet" type="text/css" href="http://c2.zjtcn.com/js/plungins/jquery-ui/jquery.ui.theme.css"/>

<script src="http://c2.zjtcn.com/js/plungins/highstock.js"></script>

<script type="text/javascript" src="$common_site/js/zjt/ration/ration_trend.js"></script>
#parse($footer_dir)
</body>
</html>
