<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>造价通参考价_($dataInfo.province)最准确的建材参考价格_($dataInfo.province)造价通</title>
<meta name="description"
	content="造价通参考价，每月发布最新的建材价格信息，材料价格走势，覆盖土建、装饰、安装、市政、园林五大类别，涵盖600多个材料分类，为($dataInfo.province)各地提供客观、精准的材料价格预算参考依据。"/>
<meta name="keywords"	
	content="参考价，主材价格，材料价格参考，预算价格，价格走势"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="$common_site/css/zjt/ration/ration_corection.css"/>
<link rel="stylesheet" type="text/css" href="$common_site/css/common/common.css" />
<script type="text/javascript" src="$common_site/js/common/jyeeda.js"></script>
<script type="text/javascript" src="$common_site/js/common/ConCom.js"></script>
<script language="javascript"
			src="$common_site/js/common/basic.js"></script>
<script type="text/javascript" src="$common_site/js/common/msg_zhcn.js"></script>
<script language="javascript" src="$common_site/js/common/jquery.cookie.js"></script>
<script type="text/javascript" src="$common_site/js/zjt/ration/ration_corection.js"></script>

</head>

<body style="text-align:inherit;">
#parse($header_dir)
<div class="zjt_corection_main">
    <div class="zjt_corection_top">
            <div class="left"></div>
           <div class="right">我要纠错</div>
    </div> 
     <div class="corection_item">
      <span class="corection_name">圆钢</span>
      <span class="corection_item_content">纠错内容</span>
     </div>
      <div class="corection_select">
        <ul>
           <li class="item">
              <ul>
                  <li class="item_b"><span class="select_image"></span>编&nbsp;&nbsp;码：<input type="checkbox"  name="correct"  value="编码" /></li>
                  <li class="item_m"><span class="select_image"></span>名&nbsp;&nbsp;称：<input type="checkbox"  name="correct" value="名称" /></li>
              </ul>
           </li>
           <li class="item" >
              <ul>
                  <li class="item_x"><span class="select_image"></span>型&nbsp;&nbsp;号：<input type="checkbox" name="correct" value="型号" /></li>
                  <li class="item_j"><span class="select_image"></span>价&nbsp;&nbsp;格：<input type="checkbox" name="correct"  value="价格" /></li>
              </ul>
           </li>
           <li class="item"><span class="select_image"></span>其&nbsp;&nbsp;他：<input type="text"  class="input_q"/></li>
           <li class="item" style="width:320px;"><div style="float:left;"><span class="select_image"></span>验证码：&nbsp;<input type="text" class="input_y"/></div>
             <div class="yjf"><img id="imgCode" src=""></div> 
             <span style="cursor:pointer;" onclick="refreshCode()">换一张图片</span>
           </li>
        </ul>
      </div>
      <div class="submit_image"  onclick="onCorrect()"></div>
</div>
#parse($footer_dir)
</body> 
</html>
